<!DOCTYPE html>
<html lang="en">
<head>
	<title><%= pageData.pageTitle %> - GAwesomeBot Activity</title>
	<% include ../partials/head %>

</head>
<body>
	<section id="header" class="main-header-section hero is-primary is-small is-bold">
		<div class="hero-head">
			<% include ../partials/header %>
		</div>
		<div class="hero-body">
			<div class="container has-text-centered">
				<h1 class="subtitle is-1">
					<strong><%= pageData.totalMessageCount %></strong> message<%= pageData.totalMessageCount === 1 ? "" : "s" %> today, <strong><%= pageData.numActiveServers %></strong> active server<%= pageData.numActiveServers === 1 ? "" : "s" %>
				</h1>
				<%- include("../partials/adspace", { officialMode: typeof officialMode !== undefined ? officialMode : false, adsEnabled: true }) %>
				<div class="columns">
					<div class="column is-8 is-offset-2">
						<div class="field has-addons has-addons-centered">
							<div class="control is-expanded">
								<input id="search-input" class="input is-primary header-search-box is-large" type="text" placeholder="I'm looking for..." value="<%= pageData.activeSearchQuery %>">
							</div>
							<div class="control">
								<a id="search-button" class="button is-primary is-large header-search-box">
									<span class="icon">
										<i class="fa fa-search"></i>
									</span>
									<span>Search</span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="hero-foot">
			<nav class="tabs is-boxed is-centered">
				<div class="container">
					<ul>
						<li class="<%= pageData.mode === 'servers' ? 'is-active' : '' %>">
							<a href="/activity/servers">
								<span class="icon">
									<i class="fa fa-server"></i>
								</span>
								<% if ( pageData.mode === "servers") { %>
									Servers
									&nbsp;
									<span class="tag is-small is-primary">
										<%= pageData.rawServerCount %>
									</span>
								<% } else { %>
									<span>Servers</span>
								<% } %>
							</a>
						</li>
						<li class="<%= pageData.mode === 'users' ? 'is-active' : '' %>">
							<a href="/activity/users">
								<span class="icon">
									<i class="fa fa-user"></i>
								</span>
								<% if (pageData.mode === "users") { %>
									Users
									&nbsp;
									<span class="tag is-small is-primary">
										<%= pageData.rawUserCount %>
									</span>
								<% } else { %>
									<span>Users</span>
								<% } %>
							</a>
						</li>
					</ul>
				</div>
			</nav>
		</div>
	</section>

	<section id="frame" class="section">
		<div class="container">
			<% if (pageData.mode === "servers") { %>
				<% include ../partials/servers-section %>
			<% } else { %>
				<% include ../partials/users-section %>
			<% } %>
		</div>
	</section>

	<section class="hero is-small is-black">
		<div class="hero-body">
			<div class="container">
				<div class="has-text-centered">
					<% if (pageData.mode === "servers") { %>
						<p class="hero-buttons">
							<% if (authUser) { %>
								<a class="button is-primary is-outlined is-large" href="/dashboard">
									<span class="icon">
										<i class="fa fa-cog"></i>
									</span>
									<span>Configure GAwesomeBot</span>
								</a>
							<% } else { %>
								<a class="button is-primary is-outlined is-large" href="/login">
									<span class="icon">
										<i class="fa fa-sign-in"></i>
									</span>
									<span>Login to dashboard</span>
								</a>
							<% } %>
						</p>
						<br>
					</div>
				<% } else { %>
					<p class="hero-buttons">
						<h4 class="subtitle is-4">
							PM GAwesomeBot <strong>profile setup</strong> to make your own profile.
						</h4>
					</p>
				<% } %>
			</div>
		</div>
	</section>

	<% include ../partials/footer %>
	<% include ../partials/scroll-top-button %>
</body>
