<!DOCTYPE html>
<html>
<head>
	<title><%= data.pageTitle %> - AwesomeBot Activity</title>
	<% include ../partials/head %>

	<link rel="stylesheet" href="/static/css/auto-complete.css">
	<script src="/static/js/auto-complete.min.js"></script>
	<script>
	var mq = window.matchMedia("screen and (max-width: 768px)");
	mq.addListener(mediaStyle);

	var searchInputAutocomplete;
	function mediaStyle(mq) {
		if(mq.matches) {
			$(".header-search-box").removeClass("is-large");
			document.getElementById("frame").style.paddingLeft = "15px";
			document.getElementById("frame").style.paddingRight = "15px";
			if(document.getElementById("search-select").value=="servers") {
				switchLayout("list");
			}
		} else {
			$(".header-search-box").addClass("is-large");
			document.getElementById("frame").style.paddingLeft = "0px";
			document.getElementById("frame").style.paddingRight = "0px";
		}
	}
	</script>
</head>
<body>
	<section id="header" class="hero is-primary is-small is-bold" style="background: url('/header-image');background-size: cover;">
		<div class="hero-head">
			<% include ../partials/header %>
		</div>
		<div class="hero-body">
			<div class="container has-text-centered">
				<h1 class="title is-1">
					<strong><%= totalMessageCount %></strong> message<%= totalMessageCount==1 ? "" : "s" %> today, <strong><%= numActiveServers %></strong> active server<%= numActiveServers==1 ? "" : "s" %>
				</h1>
				<div class="columns">
					<div class="column is-8 is-offset-2">
						<p class="control has-addons has-addons-centered">
							<input id="search-input" class="input is-expanded is-large header-search-box" type="text" placeholder="I'm looking for..." value="<%= activeSearchQuery %>">
							<a id="search-button" class="button is-primary is-large header-search-box">
								<span class="icon">
									<i class="fa fa-search"></i>
								</span>
								<span>Search</span>
							</a>
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="hero-foot">
			<nav class="tabs is-boxed is-fullwidth">
				<div class="container">
					<ul>
						<li class="<%= mode=='servers' ? 'is-active' : '' %>">
							<a href="/activity/servers">
								<span class="icon">
									<i class="fa fa-server"></i>
								</span>
								<% if(mode=="servers") { %>
									Servers
									&nbsp;
									<span class="tag is-small is-primary">
										<%= rawServerCount %>
									</span>
								<% } else { %>
									<span>Servers</span>
								<% } %>
							</a>
						</li>
						<li class="<%= mode=='users' ? 'is-active' : '' %>">
							<a href="/activity/users">
								<span class="icon">
									<i class="fa fa-user"></i>
								</span>
								<% if(mode=="users") { %>
									Users
									&nbsp;
									<span class="tag is-small is-primary">
										<%= rawUserCount %>
									</span>
								<% } else { %>
									<span>Users</span>
								<% } %>
							</a>
						</li>
					</ul>
				</div>
			</nav>
		</div>
	</section>

	<section id="frame" class="section">
		<div class="container">
			<% if(mode=="servers") { %>
				<% include ../partials/servers-section %>
				<script>
				switchLayout();
				showSelections();
				</script>
			<% } else { %>
				<% include ../partials/users-section %>
			<% } %>
		</div>
	</section>

	<section class="hero is-small is-black">
		<div class="hero-body">
			<div class="container">
				<div class="has-text-centered">
					<% if(mode=="servers") { %>
						<p class="hero-buttons">
							<% if(authUser) { %>
								<a class="button is-primary is-outlined is-large" href="/dashboard">
									<span class="icon">
										<i class="fa fa-cog"></i>
									</span>
									<span>Configure AwesomeBot</span>
								</a>
							<% } else { %>
								<a class="button is-primary is-outlined is-large" href="/login">
									<span class="icon">
										<i class="fa fa-sign-in"></i>
									</span>
									<span>Login to dashboard</span>
								</a>
							<% } %>
						</p>
						<br>
					</div>
				<% } else { %>
					<p class="hero-buttons">
						<h4 class="title is-4">
							PM AwesomeBot <strong>profile setup</strong> to make your own profile.
						</h4>
					</p>
				<% } %>
			</div>
		</div>
	</section>

	<% include ../partials/footer %>
	<% include ../partials/scroll-top-button %>
</body>
