<!DOCTYPE html>
<html>
<head>
	<title><%= serverData.name %> Admins - AwesomeBot Admin Console</title>
	<% include ../partials/head %>

	<link rel="stylesheet" href="/static/css/auto-complete.css">
	<script src="/static/js/auto-complete.min.js"></script>
	<script>
	function newAdmin() {
		var newAdminRole = $("#new-admin-role_id");
		if(newAdminRole.val()) {
			newAdminRole.removeClass("is-danger");
		} else {
			newAdminRole.addClass("is-danger");
		}

		var newAdminLevel = $("#new-admin-level");
		if(newAdminLevel.val()) {
			newAdminLevel.removeClass("is-danger");
		} else {
			newAdminLevel.addClass("is-danger");
		}

		if(newAdminRole.val() && newAdminLevel.val()) {
			hide_update_modal = true;
			$.ajax({
				type: "POST",
				url: "<%= currentPage %>?svrid=<%= serverData.id %>",
				data: {
					"new-role_id": newAdminRole.val(),
					"new-level": newAdminLevel.val()
				},
				success: function() {
					$("#form").submit();
				}
			});
		}
	}
	</script>
</head>
<body onload="setUserAutocomplete('<%= serverData.id %>');">
	<% include ../partials/dashboard-header %>
	<% include ../partials/dashboard-socket-updates %>

	<section class="section is-white">
		<div class="container">
			<div class="columns">
				<div id="menu" class="column is-one-quarter">
					<% include ../partials/admin-menu %>
				</div>
				<div class="column">
					<h1 class="title">
						Bot Admins on <%= serverData.name %>
					</h1>
					<div class="container">
						<article class="message is-primary">
							<div class="message-body">
								<div class="content">
									<strong>Admins</strong> are server members that belong to the roles you can set below. They can use admin commands, receive admin notifications, and login to this admin console. Every admin role has one of three <strong>permission levels</strong>:
									<ol>
										<li>
											Use commands and features marked admin-only
										</li>
										<li>
											Use commands and features marked admin-only<br>
											Receive admin alerts from users and about filter violations
										</li>
										<li>
											Use commands and features marked admin-only<br>
											Receive admin alerts from users and about filter violations<br>
											Login to and edit items in the admin console (you are here)
										</li>
									</ol>
								</div>
							</div>
						</article>
					</div>
					<br>
					<div class="container">
						<form id="form" action="<%= currentPage %>?svrid=<%= serverData.id %>" method="post">
							<div style="overflow-x: scroll;">
								<% if(configData.admins.length>0) { %>
									<table class="table">
										<thead>
											<tr>
												<th>Role Name</th>
												<th>Level</th>
												<th></th>
											</tr>
										</thead>
										<tbody>
											<% for(var i=0; i<configData.admins.length; i++) { %>
												<tr>
													<td>
														<%= configData.admins[i].name %>
													</td>
													<td>
														<%= configData.admins[i].level %>
													</td>
													<td>
														<button class="button is-small is-danger" name="admin-<%= i %>-removed" onclick="hide_update_modal = true;">
															<span>Remove</span>
															<span class="icon is-small">
																<i class="fa fa-times"></i>
															</span>
														</button>
													</td>
												</tr>
											<% } %>
										</tbody>
									</table>
								<% } else { %>
									<article class="message">
										<div class="message-header">
											<span class="icon">
												<i class="fa fa-meh-o"></i>
											</span>
											<span>Nothing to see here</span>
										</div>
										<div class="message-body">
											There are no admin roles on this server, so only the owner can access this admin console and use admin-only commands. Select a role below to add as an admin.
										</div>
									</article>
									<br>
								<% } %>
							</div>
							<% if(roleData.length>0) { %>
								<div class="control is-horizontal">
									<div class="control is-grouped">
										<p class="control">
											<span class="select">
												<select id="new-admin-role_id">
													<% for(var i=0; i<roleData.length; i++) { %>
														<option value="<%= roleData[i].id %>"><%= roleData[i].name %></option>
													<% } %>
												</select>
											</span>
										</p>
										<p class="control">
											<input id="new-admin-level" class="input" type="number" value="1" min="1" max="3" title="Admin permission level" onkeypress="return event.keyCode != 13;">
										</p>
										<p class="control">
											<a class="button is-primary" onclick="newAdmin();">
												<span class="icon">
											        <i class="fa fa-plus"></i>
											    </span>
											    <span>Add</span>
											</a>
										</p>
									</div>
								</div>
								<span class="help">Select a role that will be added as a bot admin for this server. Descriptions of the three admin permission levels are listed in the help box above.</span>
							<% } %>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>

	<% include ../partials/footer %>
	<% include ../partials/scroll-top-button %>
</body>
</html>
