<!DOCTYPE html>
<html lang="en">
<head>
	<title><%= serverData.name %> Message of the Day - GAwesomeBot Admin Console</title>
	<% include ../partials/head %>
</head>
<body onload="GAwesomeUtil.SFS();">
	<% include ../partials/dashboard-header %>
	<% include ../partials/dashboard-socket-updates %>

	<section class="section is-white">
		<div class="container">
			<div class="columns">
				<div id="menu" class="column is-one-quarter">
					<% include ../partials/admin-menu %>
				</div>
				<div class="column">
					<h1 class="title">
						Message of the Day
					</h1>
					<article class="message is-primary">
						<div class="message-body">
							<div class="content">
								You can set a <strong>custom message</strong> that GAwesomeBot will send in chat, and the message <strong>interval</strong> is customizable. This is useful for recurring announcements or reminders.
							</div>
						</div>
					</article>
					<form id="form" onsubmit="GAwesomeUtil.submitForm(); return false;">
						<div class="box is-paddingless generic-feature">
                            <div class="generic-feature-box">
								<div class="generic-feature-box-slider">
									<div class="field">
										<input id="isEnabled" type="checkbox" name="isEnabled" class="switch is-medium is-success is-rounded"<%= configData.message_of_the_day.isEnabled ? " checked" : "" %>>
										<label for="isEnabled" style="padding-left: 3.75rem;" data-toggle-gfa="message_of_the_day-options"></label>
									</div>
								</div>
								<div class="generic-feature-box-description">
									<p>Enable <strong>Message of the Day</strong></p>
								</div>
                            </div>
							<div id="message_of_the_day-options" class="generic-feature-addon"<%- configData.message_of_the_day.isEnabled ? '' : ' style="display: none;"' %>>
								<div class="field">
									<p class="control">
										<textarea name="message_content" class="textarea is-primary" maxlength="2000" placeholder="Message to send, in markdown"><%= configData.message_of_the_day.message_content %></textarea>
									</p>
								</div>
								<div class="field is-grouped is-grouped-multiline">
									<p class="control">
										<span class="select is-primary">
											<select name="channel_id">
												<% pageData.channelData.forEach(channel => { %>
													<option value="<%= channel.id %>"<%= configData.message_of_the_day.channel_id === channel.id ? " selected" : "" %>>#<%= channel.name %></option>
												<% }); %>
											</select>
										</span>
									</p>
									<p class="control">
										<span class="select is-primary">
											<select name="interval">
												<option value="300000" <%= configData.message_of_the_day.interval === 300000 ? "selected" : "" %>>5 minutes</option>
												<option value="600000" <%= configData.message_of_the_day.interval === 600000 ? "selected" : "" %>>10 minutes</option>
												<option value="900000" <%= configData.message_of_the_day.interval ===900000 ? "selected" : "" %>>15 minutes</option>
												<option value="3600000" <%= configData.message_of_the_day.interval === 3600000 ? "selected" : "" %>>1 hour</option>
												<option value="7200000" <%= configData.message_of_the_day.interval === 7200000 ? "selected" : "" %>>2 hours</option>
												<option value="10800000" <%= configData.message_of_the_day.interval === 10800000 ? "selected" : "" %>>3 hours</option>
												<option value="21600000" <%= configData.message_of_the_day.interval === 21600000 ? "selected" : "" %>>6 hours</option>
												<option value="32400000" <%= configData.message_of_the_day.interval === 32400000 ? "selected" : "" %>>9 hours</option>
												<option value="43200000" <%= configData.message_of_the_day.interval === 43200000 ? "selected" : "" %>>12 hours</option>
												<option value="86400000" <%= configData.message_of_the_day.interval === 86400000 ? "selected" : "" %>>1 day</option>
												<option value="172800000" <%= configData.message_of_the_day.interval === 172800000 ? "selected" : "" %>>2 days</option>
											</select>
										</span>
									</p>
								</div>
							</div>
						</div>
						<br>
						<% var formButtonsUnsaved = false; %>
						<% include ../partials/form-buttons %>
						<% include ../partials/form-buttons-bar %>
					</form>
				</div>
			</div>
		</div>
	</section>

	<% include ../partials/footer %>
	<% include ../partials/scroll-top-button %>
</body>
</html>
