<!DOCTYPE html>
<html>
<head>
	<title><%= serverData.name %> Extensions - AwesomeBot Admin Console</title>
	<% include ../partials/head %>

	<script src="/static/js/form-change-listener.js"></script>
	<script>
	function updateExtensionFromGallery(extid) {
		$.ajax({
			type: "POST",
			url: "/dashboard/other/extensions?svrid=<%= serverData.id %>",
			data: {
				"new-gallery": extid
			},
			success: function(data) {
				window.location.reload();
			}
		});
	}
	</script>
</head>
<body onload="saveFormState();">
	<% include ../partials/dashboard-header %>
	<% include ../partials/dashboard-socket-updates %>

	<section class="section is-white">
		<div class="container">
			<div class="columns">
				<div id="menu" class="column is-one-quarter">
					<% include ../partials/admin-menu %>
				</div>
				<div class="column">
					<h1 class="title">
						Extensions
					</h1>
					<div class="container">
						<article class="message is-primary">
							<div class="message-body">
								<div class="content">
									Extensions! You can write custom addons for AwesomeBot on your server, including <strong>commands</strong>, <strong>keyword responses</strong>, and extensions that run on a <strong>timer</strong>. Extensions are written in <strong>JavaScript</strong> and run in a sandbox with access to the AwesomeBot API. Read the docs <a href="/wiki/Extensions">here</a>.
								</div>
							</div>
						</article>
					</div>
					<br>
					<div class="container">
						<form id="form" action="<%= currentPage %>?svrid=<%= serverData.id %>" method="post">
							<div style="overflow-x: scroll;">
								<% if(configData.extensions.length>0) { %>
									<table class="table">
										<thead>
											<tr>
												<th>Name</th>
												<th>ID</th>
												<th>Type</th>
												<th>Store Size</th>
												<th></th>
											</tr>
										</thead>
										<tbody>
											<% for(var i=0; i<configData.extensions.length; i++) { %>
												<tr>
													<td>
														<%= configData.extensions[i].name %>
														<% if(configData.extensions[i].updates_available>0) { %>
															&nbsp;
															<a class="tag is-primary" onclick="updateExtensionFromGallery('<%= configData.extensions[i]._id %>');" title="Updating from gallery will overwrite your changes">
																<%= configData.extensions[i].updates_available %> update<%= configData.extensions[i].updates_available==1 ? "" : "s" %> available
															</a>
														<% } %>
													</td>
													<td>
														<%= configData.extensions[i]._id %>
													</td>
													<td>
														<%= configData.extensions[i].type.charAt(0).toUpperCase() + configData.extensions[i].type.slice(1) %>
													</td>
													<td>
														<%= configData.extensions[i].store %> KB
													</td>
													<td>
														<a class="button is-small is-primary" href="/dashboard/other/extension-builder?svrid=<%= serverData.id %>&extid=<%= configData.extensions[i]._id %>">
															<span class="icon is-small">
																<i class="fa fa-pencil"></i>
															</span>
															<span>Edit</span>
														</a>
														<button class="button is-small is-danger" name="extension-<%= i %>-removed" onclick="saveFormState();">
															<span>Remove</span>
															<span class="icon is-small">
																<i class="fa fa-times"></i>
															</span>
														</button>
													</td>
												</tr>
											<% } %>
										</tbody>
									</table>
								<% } else { %>
									<article class="message">
										<div class="message-header">
											<span class="icon">
												<i class="fa fa-meh-o"></i>
											</span>
											<span>Nothing to see here</span>
										</div>
										<div class="message-body">
											You haven't created any extensions yet. Head over to the <a href="/dashboard/other/extension-builder?svrid=<%= serverData.id %>">extension builder</a> to get started building one!
										</div>
									</article>
									<br>
								<% } %>
							</div>
							<div class="control is-horizontal is-grouped">
								<a class="button" href="/dashboard/other/extension-builder?svrid=<%= serverData.id %>">
									<span class="icon">
								        <i class="fa fa-code"></i>
								    </span>
								    <span>Build an extension</span>
								</a>
								&nbsp;&nbsp;
								<a class="button" href="/extensions">
									<span class="icon">
								        <i class="fa fa-eye"></i>
								    </span>
								    <span>Discover extensions</span>
								</a>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>

	<% include ../partials/footer %>
	<% include ../partials/scroll-top-button %>
</body>
</html>
