<!DOCTYPE html>
<html lang="en">
<head>
	<title><%= serverData.name %> Filters - GAwesomeBot Admin Console</title>
	<% include ../partials/head %>
</head>
<body onload="GAwesomeUtil.SFS();">
	<% include ../partials/dashboard-header %>
	<% include ../partials/dashboard-socket-updates %>

	<section class="section is-white">
		<div class="container">
			<div class="columns">
				<div id="menu" class="column is-one-quarter">
					<% include ../partials/admin-menu %>
				</div>
				<div class="column">
					<h1 class="title">
						Filters
					</h1>
					<article class="message is-primary">
						<div class="message-body">
							<div class="content">
								GAwesomeBot provides <strong>filters</strong> for <strong>spam</strong>, <strong> excessive member/role mentions</strong>, <strong>NSFW content</strong>, and <strong>custom words</strong>. You can change which channels the filters work in, what happens to violators, and the role (if any) they are assigned. Bot Admins bypass these filters.
							</div>
						</div>
					</article>
					<form id="form" onsubmit="GAwesomeUtil.submitForm(); return false;">
						<h4 class="subtitle is-4">
							Spam
						</h4>
						<div class="field">
							<div class="control">
								<label class="checkbox">
								<input name="spam_filter-isEnabled" type="checkbox" onclick="$('#spam_filter-options').toggleClass('is-hidden');"<%= configData.moderation.filters.spam_filter.isEnabled ? " checked" : "" %>>
									Filter repeated identical/similar messages
								</label>
							</div>
						</div>
						<div id="spam_filter-options" class="<%= configData.moderation.filters.spam_filter.isEnabled ? '' : 'is-hidden' %>">
							<div class="field">
								<label class="label">Enabled in these channel(s)</label>
								<% pageData.channelData.forEach(channel => { %>
									<label class="checkbox">
									<input name="spam_filter-disabled_channel_ids-<%= channel.id %>" type="checkbox"<%= !configData.moderation.filters.spam_filter.disabled_channel_ids.includes(channel.id) ? " checked" : "" %>>
										#<%= channel.name %>
									</label>
								<br>
								<% }); %>
							</div>
							<div class="field">
								<label class="label">What happens to violators?</label>
								<div class="control">
									<span class="select is-primary">
										<select name="spam_filter-action">
											<option value="none"<%= configData.moderation.filters.spam_filter.action === "none" ? " selected" : "" %>>Nothing</option>
											<option value="block"<%= configData.moderation.filters.spam_filter.action === "block" ? " selected" : "" %>>Block</option>
		                                    <option value="mute"<%= configData.moderation.filters.spam_filter.action === "mute" ? " selected" : "" %>>Mute</option>
		                                    <option value="kick"<%= configData.moderation.filters.spam_filter.action === "kick" ? " selected" : "" %>>Kick</option>
		                                    <option value="ban"<%= configData.moderation.filters.spam_filter.action === "ban" ? " selected" : "" %>>Ban</option>
										</select>
									</span>
								</div>
							</div>
							<div class="field">
								<label class="label">Spam filter sensitivity</label>
								<p class="control">
									<span class="select is-primary">
										<select name="spam_filter-message_sensitivity">
											<option value="10"<%= configData.moderation.filters.spam_filter.message_sensitivity === 10 ? " selected" : "" %>>Low: requires a lot of spam to filter</option>
											<option value="5"<%= configData.moderation.filters.spam_filter.message_sensitivity === 5 ? " selected" : "" %>>Medium: should work for most servers</option>
		                                    <option value="3"<%= configData.moderation.filters.spam_filter.message_sensitivity === 3 ? " selected" : "" %>>High: no spammer gets past this</option>
										</select>
									</span>
								</p>
							</div>
							<div class="field">
								<p class="control">
									<label class="checkbox">
									<input name="spam_filter-delete_messages" type="checkbox"<%= configData.moderation.filters.spam_filter.delete_messages ? " checked" : "" %>>
										Delete spam messages
									</label>
								</p>
							</div>
							<div class="field">
								<label class="label">Role assigned to violators</label>
								<p class="control">
									<span class="select is-primary">
										<select name="spam_filter-violator_role_id">
											<option value="">None</option>
											<% pageData.roleData.forEach(role => { %>
												<option value="<%= role.id %>"<%= configData.moderation.filters.spam_filter.violator_role_id === role.id ? " selected" : "" %>><%= role.name %></option>
											<% }); %>
										</select>
									</span>
								</p>
							</div>
							<hr>
						</div>
						<br>
						<h4 class="subtitle is-4">
							Mentions
						</h4>
						<div class="field">
							<p class="control">
								<label class="checkbox">
								<input name="mention_filter-isEnabled" type="checkbox" onclick="$('#mention_filter-options').toggleClass('is-hidden');"<%= configData.moderation.filters.mention_filter.isEnabled ? " checked" : "" %>>
									Filter messages with excessive member/role mentions
								</label>
							</p>
						</div>
						<div id="mention_filter-options" class="<%= configData.moderation.filters.mention_filter.isEnabled ? '' : 'is-hidden' %>">
							<div class="field">
								<label class="label">Enabled in these channel(s)</label>
								<% pageData.channelData.forEach(channel => { %>
									<label class="checkbox">
									<input name="mention_filter-disabled_channel_ids-<%= channel.id %>" type="checkbox"<%= !configData.moderation.filters.mention_filter.disabled_channel_ids.includes(channel.id) ? " checked" : "" %>>
										#<%= channel.name %>
									</label>
									<br>
								<% }); %>
							</div>
							<div class="field">
								<label class="label">What happens to violators?</label>
								<p class="control">
									<span class="select is-primary">
										<select name="mention_filter-action">
											<option value="none"<%= configData.moderation.filters.mention_filter.action === "none" ? " selected" : "" %>>Nothing</option>
											<option value="block"<%= configData.moderation.filters.mention_filter.action === "block" ? " selected" : "" %>>Block</option>
		                                    <option value="mute"<%= configData.moderation.filters.mention_filter.action === "mute" ? " selected" : "" %>>Mute</option>
		                                    <option value="kick"<%= configData.moderation.filters.mention_filter.action === "kick" ? " selected" : "" %>>Kick</option>
		                                    <option value="ban"<%= configData.moderation.filters.mention_filter.action === "ban" ? " selected" : "" %>>Ban</option>
										</select>
									</span>
								</p>
							</div>
							<div class="field">
								<label class="label">Mention sensitivity</label>
								<p class="control">
									<input name="mention_filter-mention_sensitivity" class="input is-primary" type="number" min="1" max="25" value="<%= configData.moderation.filters.mention_filter.mention_sensitivity %>">
									<span class="help">Messages with <strong>more than</strong> this number of member and role mentions combined will be filtered.</span>
								</p>
							</div>
							<div class="field">
								<p class="control">
									<label class="checkbox">
									<input name="mention_filter-include_everyone" type="checkbox"<%= configData.moderation.filters.mention_filter.include_everyone ? " checked" : "" %>>
										Include @everyone and @here in the mention count
									</label>
								</p>
							</div>
							<div class="field">
								<p class="control">
									<label class="checkbox">
									<input name="mention_filter-delete_message" type="checkbox"<%= configData.moderation.filters.mention_filter.delete_message ? " checked" : "" %>>
										Delete filtered mention-spam messages
									</label>
								</p>
							</div>
							<div class="field">
								<label class="label">Role assigned to violators</label>
								<p class="control">
									<span class="select is-primary">
										<select name="mention_filter-violator_role_id">
											<option value="">None</option>
											<% pageData.roleData.forEach(role => { %>
												<option value="<%= role.id %>"<%= configData.moderation.filters.mention_filter.violator_role_id === role.id ? " selected" : "" %>><%= role.name %></option>
											<% }); %>
										</select>
									</span>
								</p>
							</div>
							<hr>
						</div>
						<br>
						<h4 class="subtitle is-4">
							NSFW Content
						</h4>
						<div class="field">
							<p class="control">
								<label class="checkbox">
								<input name="nsfw_filter-isEnabled" type="checkbox" onclick="$('#nsfw_filter-options').toggleClass('is-hidden');"<%= configData.moderation.filters.nsfw_filter.isEnabled ? " checked" : "" %>>
									Filter NSFW queries in these commands: <%- configData.filtered_commands %>
								</label>
							</p>
						</div>
						<div id="nsfw_filter-options" class="<%= configData.moderation.filters.nsfw_filter.isEnabled ? '' : 'is-hidden' %>">
							<div class="field">
								<label class="label">Filter only in these channel(s)</label>
								<% pageData.channelData.forEach(channel => { %>
									<label class="checkbox">
									<input name="nsfw_filter-disabled_channel_ids-<%= channel.id %>" type="checkbox"<%= !configData.moderation.filters.nsfw_filter.disabled_channel_ids.includes(channel.id) ? " checked" : "" %>>
										#<%= channel.name %>
									</label>
									<br>
								<% }); %>
							</div>
							<div class="field">
								<label class="label">What happens to violators?</label>
								<p class="control">
									<span class="select is-primary">
										<select name="nsfw_filter-action">
											<option value="none"<%= configData.moderation.filters.nsfw_filter.action === "none" ? " selected" : "" %>>Nothing</option>
											<option value="block"<%= configData.moderation.filters.nsfw_filter.action === "block" ? " selected" : "" %>>Block</option>
		                                    <option value="mute"<%= configData.moderation.filters.nsfw_filter.action === "mute" ? " selected" : "" %>>Mute</option>
		                                    <option value="kick"<%= configData.moderation.filters.nsfw_filter.action === "kick" ? " selected" : "" %>>Kick</option>
		                                    <option value="ban"<%= configData.moderation.filters.nsfw_filter.action === "ban" ? " selected" : "" %>>Ban</option>
										</select>
									</span>
								</p>
							</div>
							<div class="field">
								<p class="control">
									<label class="checkbox">
									<input name="nsfw_filter-delete_message" type="checkbox"<%= configData.moderation.filters.nsfw_filter.delete_message ? " checked" : "" %>>
										Delete the command messages that contain NSFW queries
									</label>
								</p>
							</div>
							<div class="field">
								<label class="label">Role assigned to violators</label>
								<p class="control">
									<span class="select is-primary">
										<select name="nsfw_filter-violator_role_id">
											<option value="">None</option>
											<% pageData.roleData.forEach(role => { %>
												<option value="<%= role.id %>"<%= configData.moderation.filters.nsfw_filter.violator_role_id === role.id ? " selected" : "" %>><%= role.name %></option>
											<% }); %>
										</select>
									</span>
								</p>
							</div>
							<hr>
						</div>
						<br>
						<h4 class="subtitle is-4">
							Words
						</h4>
						<div class="field">
							<p class="control">
								<label class="checkbox">
								<input name="custom_filter-isEnabled" type="checkbox" onclick="$('#custom_filter-options').toggleClass('is-hidden');"<%= configData.moderation.filters.custom_filter.isEnabled ? " checked" : "" %>>
									Filter messages that contain one of the words/phrases below
								</label>
							</p>
						</div>
						<div id="custom_filter-options" class="<%= configData.moderation.filters.custom_filter.isEnabled ? '' : 'is-hidden' %>">
							<div class="field">
								<label class="label">Filter keywords (comma-separated)</label>
								<p class="control">
									<textarea name="custom_filter-keywords" class="textarea is-primary" placeholder="The filter will not work without defining keywords"><%= configData.moderation.filters.custom_filter.keywords.join(", ") %></textarea>
								</p>
							</div>
							<div class="field">
								<label class="label">Enabled in these channel(s)</label>
								<% pageData.channelData.forEach(channel => { %>
									<label class="checkbox">
									<input name="custom_filter-disabled_channel_ids-<%= channel.id %>" type="checkbox"<%= !configData.moderation.filters.custom_filter.disabled_channel_ids.includes(channel.id) ? " checked" : "" %>>
										#<%= channel.name %>
									</label>
									<br>
								<% }); %>
							</div>
							<div class="field">
								<label class="label">What happens to violators?</label>
								<p class="control">
									<span class="select is-primary">
										<select name="custom_filter-action">
											<option value="none"<%= configData.moderation.filters.custom_filter.action === "none" ? " selected" : "" %>>Nothing</option>
											<option value="block"<%= configData.moderation.filters.custom_filter.action === "block" ? " selected" : "" %>>Block</option>
		                                    <option value="mute"<%= configData.moderation.filters.custom_filter.action === "mute" ? " selected" : "" %>>Mute</option>
		                                    <option value="kick"<%= configData.moderation.filters.custom_filter.action === "kick" ? " selected" : "" %>>Kick</option>
		                                    <option value="ban"<%= configData.moderation.filters.custom_filter.action === "ban" ? " selected" : "" %>>Ban</option>
										</select>
									</span>
								</p>
							</div>
							<div class="field">
								<p class="control">
									<label class="checkbox">
									<input name="custom_filter-delete_message" type="checkbox"<%= configData.moderation.filters.custom_filter.delete_message ? " checked" : "" %>>
										Delete messages that contain one or more filtered keywords
									</label>
								</p>
							</div>
							<div class="field">
								<label class="label">Role assigned to violators</label>
								<p class="control">
									<span class="select is-primary">
										<select name="custom_filter-violator_role_id">
											<option value="">None</option>
											<% pageData.roleData.forEach(role => { %>
												<option value="<%= role.id %>" <%= configData.moderation.filters.custom_filter.violator_role_id === role.id ? " selected" : "" %>><%= role.name %></option>
											<% }); %>
										</select>
									</span>
								</p>
							</div>
							<hr>
						</div>
						<br>
						<% var formButtonsUnsaved = false; %>
						<% include ../partials/form-buttons %>
						<% include ../partials/form-buttons-bar %>
					</form>
				</div>
			</div>
		</div>
	</section>

	<% include ../partials/footer %>
	<% include ../partials/scroll-top-button %>
</body>
</html>
