<!DOCTYPE html>
<html>
<head>
	<title><%= serverData.name %> Tags - AwesomeBot Admin Console</title>
	<% include ../partials/head %>
	<script src="/static/js/form-change-listener.js"></script>
	<script>
	function newTag() {
		var newTagName = $("#new-tag-name");
		if(newTagName.val()) {
			newTagName.removeClass("is-danger");
		} else {
			newTagName.addClass("is-danger");
		}

		var newTagType = $("#new-tag-type");

		var newTagContent = $("#new-tag-content");
		if(newTagContent.val()) {
			newTagContent.removeClass("is-danger");
		} else {
			newTagContent.addClass("is-danger");
		}

		if(newTagName.val() && newTagContent.val()) {
			$.ajax({
				type: "POST",
				url: "<%= currentPage %>?svrid=<%= serverData.id %>",
				data: {
					"new-name": newTagName.val(),
					"new-type": newTagType.val(),
					"new-content": newTagContent.val()
				},
				success: function() {
					saveFormState();
					$("#form").submit();
				}
			});
		}
	}
	</script>
</head>
<body onload="saveFormState();">
	<% include ../partials/dashboard-header %>
	<% include ../partials/dashboard-socket-updates %>

	<section class="section is-white">
		<div class="container">
			<div class="columns">
				<div id="menu" class="column is-one-quarter">
					<% include ../partials/admin-menu %>
				</div>
				<div class="column">
					<h1 class="title">
						Tags
					</h1>
					<div class="container">
						<article class="message is-primary">
							<div class="message-body">
								AwesomeBot comes with a <strong>robust tag system</strong> that allows you to save <strong>snippets of text</strong>, identified by a unique label. They're useful for links useful in your server, funny quotes, or temporary notes. You can designate some tags as commands, making them accessible as normal commands using the usual syntax.
							</div>
						</article>
					</div>
					<br>
					<div class="container">
						<form id="form" action="<%= currentPage %>?svrid=<%= serverData.id %>" method="post">
							<h4 class="subtitle is-4">
								General
							</h4>
							<% var commandData = configData.commands.tag;commandData.name = "tag";commandData.description = commandDescriptions.tag;commandData.category = commandCategories.tag; %>
							<% include ../partials/admin-command-item %>
							<span class="tag-options<% configData.commands.tag.isEnabled ? '' : ' is-hidden' %>">
								<p class="control">
									List all tags:
									<span class="select is-small">
										<select name="listIsAdminOnly">
											<option value="false" <%= configData.tags.listIsAdminOnly ? "" : "selected" %>>@everyone</option>
											<option value="true" <%= configData.tags.listIsAdminOnly ? "selected" : "" %>>Admin-only</option>
										</select>
									</span>
								</p>
								<p class="control">
									Add tags:
									<span class="select is-small">
										<select name="addingIsAdminOnly">
											<option value="false" <%= configData.tags.addingIsAdminOnly ? "" : "selected" %>>@everyone</option>
											<option value="true" <%= configData.tags.addingIsAdminOnly ? "selected" : "" %>>Admin-only</option>
										</select>
									</span>
								</p>
								<p class="control">
									Add tag commands:
									<span class="select is-small">
										<select name="addingCommandIsAdminOnly">
											<option value="false" <%= configData.tags.addingCommandIsAdminOnly ? "" : "selected" %>>@everyone</option>
											<option value="true" <%= configData.tags.addingCommandIsAdminOnly ? "selected" : "" %>>Admin-only</option>
										</select>
									</span>
								</p>
								<p class="control">
									Remove tags:
									<span class="select is-small">
										<select name="removingIsAdminOnly">
											<option value="false" <%= configData.tags.removingIsAdminOnly ? "" : "selected" %>>@everyone</option>
											<option value="true" <%= configData.tags.removingIsAdminOnly ? "selected" : "" %>>Admin-only</option>
										</select>
									</span>
								</p>
								<p class="control">
									Remove tag commands:
									<span class="select is-small">
										<select name="removingCommandIsAdminOnly">
											<option value="false" <%= configData.tags.removingCommandIsAdminOnly ? "" : "selected" %>>@everyone</option>
											<option value="true" <%= configData.tags.removingCommandIsAdminOnly ? "selected" : "" %>>Admin-only</option>
										</select>
									</span>
								</p>
							</span>
							<br>
							<h4 class="subtitle is-4">
								Tag List
							</h4>
							<div style="overflow-x: scroll;">
								<% if(configData.tags.list.length>0) { %>
									<table class="table">
										<thead>
											<tr>
												<th>Name</th>
												<th>Text</th>
												<th>Type</th>
												<th>Locked?</th>
												<th></th>
											</tr>
										</thead>
										<tbody>
											<% for(var i=0; i<configData.tags.list.length; i++) { %>
												<tr>
													<td>
														<%= configData.tags.list[i]._id %>
													</td>
													<td>
														<%- configData.tags.list[i].content %>
													</td>
													<td>
														<p class="control">
															<span class="select is-small">
																<select name="tag-<%= configData.tags.list[i].index %>-isCommand">
																	<option value="text" <%= configData.tags.list[i].isCommand ? "" : "selected" %>>Text</option>
																	<option value="command" <%= configData.tags.list[i].isCommand ? "selected" : "" %>>Command</option>
																</select>
															</span>
														</p>
													</td>
													<td>
														<p class="control">
															<label class="checkbox">
															<input name="tag-<%= configData.tags.list[i].index %>-isLocked" type="checkbox" <%= configData.tags.list[i].isLocked ? "checked" : "" %>>
															</label>
														</p>
													</td>
													<td>
														<button class="button is-small is-danger" name="tag-<%= configData.tags.list[i].index %>-removed" onclick="saveFormState();">
															<span>Remove</span>
															<span class="icon is-small">
																<i class="fa fa-times"></i>
															</span>
														</button>
													</td>
												</tr>
											<% } %>
										</tbody>
									</table>
								<% } else { %>
									<article class="message">
										<div class="message-header">
											<span class="icon">
												<i class="fa fa-meh-o"></i>
											</span>
											<span>Nothing to see here</span>
										</div>
										<div class="message-body">
											You haven't added any tags yet. Save a snippet by filling out the form below.
										</div>
									</article>
									<br>
								<% } %>
							</div>
							<div class="control is-horizontal">
								<div class="control is-grouped">
									<p class="control is-expanded">
										<input id="new-tag-name" class="input" type="text" minlength="1" maxlength="200" placeholder="Name" onkeypress="return event.keyCode != 13;">
									</p>
									<p class="control">
										<span class="select">
											<select id="new-tag-type">
												<option value="text">Text</option>
												<option value="command">Command</option>
											</select>
										</span>
									</p>
									<p class="control">
										<a class="button is-primary" onclick="newTag();">
											<span class="icon">
										        <i class="fa fa-plus"></i>
										    </span>
										    <span>Add</span>
										</a>
									</p>
								</div>
							</div>
							<p class="control is-expanded">
								<textarea id="new-tag-content" class="input" type="textarea" minlength="1" maxlength="1500" placeholder="Tag content (markdown)"></textarea>
							</p>
							<br>
							<% var formButtonsUnsaved = false; %>
							<% include ../partials/form-buttons %>
							<% include ../partials/form-buttons-bar %>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>

	<% include ../partials/footer %>
	<% include ../partials/scroll-top-button %>
</body>
</html>
