<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= serverData.name %> Status Messages - GAwesomeBot Admin Console</title>
    <% include ../partials/head %>
    <script>
      function newStatusMessage (type) {
        var newMessageId = 'new-' + type + '-message';
        var newMessage = $('#' + newMessageId);
        if (newMessage.val()) {
          newMessage.removeClass('is-danger');
        } else {
          newMessage.addClass('is-danger');
        }
        if (newMessage.val()) {
          var data = {};
          data[newMessageId] = newMessage.val();
          $.ajax({
            type: 'POST',
            url: '<%= currentPage %>',
            data: data,
            success: function () {
              GAwesomeUtil.SFS();
              $('#form').submit();
              Turbolinks.visit('');
            }
          })
        }
      }
      function removeMessage (data) {
        var messageNode = $('#' + data).parent()
        if (data) {
          var toSend = {}
          toSend[data] = 'on'
          GAwesomeData.HUM = true;
          $.ajax({
            type: 'POST',
            url: '<%= currentPage %>',
            data: toSend,
            success: function () {
              messageNode.remove();
              GAwesomeUtil.SFS();
              GAwesomeData.HUM = true;
              $('#form').submit();
              Turbolinks.visit('');
            }
          })
        }
      }
    </script>
</head>
<body onload="GAwesomeUtil.SFS();">
<% include ../partials/dashboard-header %>
<% include ../partials/dashboard-socket-updates %>

<section class="section is-white">
    <div class="container">
        <div class="columns">
            <div id="menu" class="column is-one-quarter">
                <% include ../partials/admin-menu %>
            </div>
            <div class="column">
                <h1 class="title">
                    Status Messages
                </h1>
                <article class="message is-primary">
                    <div class="message-body">
                        <div class="content">
                            These status messages will be sent whenever <strong>something changes</strong> on the
                            server. They are divided into three categories: server (name changed, new icon, region
                            switched), members (new member, username changed, etc.), and messages (edited and deleted).
                        </div>
                    </div>
                </article>
                <form id="form" onsubmit="GAwesomeUtil.submitForm(); return false">
                    <h4 class="subtitle is-4">
                        Server
                    </h4>
                    <div class="field">
                        <label class="checkbox">
                            <input name="server_name_updated_message-isEnabled" type="checkbox"
                                   onclick="$('#server_name_updated_message-options').toggleClass('is-hidden')"<%= configData.moderation.status_messages.server_name_updated_message.isEnabled ? " checked" : "" %>>
                            Server <strong>name</strong> changed
                        </label>
                        &nbsp;
                        <span id="server_name_updated_message-options"
                              class="select is-primary is-small<%= configData.moderation.status_messages.server_name_updated_message.isEnabled ? '' : ' is-hidden' %>">
									<select name="server_name_updated_message-channel_id">
                                        <% pageData.channelData.forEach(channel => { %>
                                            <option value="<%= channel.id %>"<%= configData.moderation.status_messages.server_name_updated_message.channel_id === channel.id ? " selected" : "" %>>#<%= channel.name %></option>
                                        <% }); %>
                                    </select>
								</span>
                    </div>
                    <div class="field">
                        <label class="checkbox">
                            <input name="server_icon_updated_message-isEnabled" type="checkbox"
                                   onclick="$('#server_icon_updated_message-options').toggleClass('is-hidden')"<%= configData.moderation.status_messages.server_icon_updated_message.isEnabled ? " checked" : "" %>>
                            New server <strong>icon</strong>
                        </label>
                        &nbsp;
                        <span id="server_icon_updated_message-options"
                              class="select is-primary is-small<%= configData.moderation.status_messages.server_icon_updated_message.isEnabled ? '' : ' is-hidden' %>">
									<select name="server_icon_updated_message-channel_id">
                                        <% pageData.channelData.forEach(channel => { %>
                                            <option value="<%= channel.id %>"<%= configData.moderation.status_messages.server_icon_updated_message.channel_id === channel.id ? " selected" : "" %>>#<%= channel.name %></option>
                                        <% }); %>
                                    </select>
								</span>
                    </div>
                    <div class="field">
                        <label class="checkbox">
                            <input name="server_region_updated_message-isEnabled" type="checkbox"
                                   onclick="$('#server_region_updated_message-options').toggleClass('is-hidden')"<%= configData.moderation.status_messages.server_region_updated_message.isEnabled ? " checked" : "" %>>
                            Server <strong>region</strong> changed
                        </label>
                        &nbsp;
                        <span id="server_region_updated_message-options"
                              class="select is-primary is-small<%= configData.moderation.status_messages.server_region_updated_message.isEnabled ? '' : ' is-hidden' %>">
									<select name="server_region_updated_message-channel_id">
                                        <% pageData.channelData.forEach(channel => { %>
                                        <option value="<%= channel.id %>"<%= configData.moderation.status_messages.server_region_updated_message.channel_id === channel.id ? " selected" : "" %>>#<%= channel.name %></option>
                                        <% }); %>
                                    </select>
								</span>
                    </div>
                    <br>
                    <h4 class="subtitle is-4">
                        Members
                    </h4>
                    <div class="field">
                        <div class="field">
                            <label class="checkbox">
                                <input name="new_member_message-isEnabled" type="checkbox"
                                       onclick="$('.new_member_message-options').toggleClass('is-hidden')"<%= configData.moderation.status_messages.new_member_message.isEnabled ? " checked" : "" %>>
                                <strong>New member</strong> joined server
                            </label>
                            &nbsp;
                            <span class="select is-primary is-small new_member_message-options<%= configData.moderation.status_messages.new_member_message.isEnabled ? '' : ' is-hidden' %>">
									    <select name="new_member_message-channel_id">
                                            <% pageData.channelData.forEach(channel => { %>
                                            <option value="<%= channel.id %>" <%= configData.moderation.status_messages.new_member_message.channel_id === channel.id ? "selected" : "" %>>#<%= channel.name %></option>
                                            <% }); %>
                                        </select>
                                    </span>
                        </div>
                        <div class="field">
                            <ul class="new_member_message-options<%= configData.moderation.status_messages.new_member_message.isEnabled ? '' : ' is-hidden' %>">
                                <% configData.moderation.status_messages.new_member_message.messages.forEach((message, i) => { %>
                                <li>
                                    <button class="button is-small is-white" id="new_member_message-<%= i %>-removed"
                                            onclick="removeMessage('new_member_message-<%= i %>-removed'); return false">
                                            <span class="icon is-small" style="margin-left: -2px;">
                                                <i class="fa fa-times"></i>
                                            </span>
                                    </button>
                                    <%- message.replace(/@user/g, "<strong>@user</strong>").replace(/@mention/g, "<strong>@mention</strong>") %>
                                </li>
                                <% }); %>
                                <div class="field is-horizontal">
                                    <div class="field-body">
                                        <div class="field is-grouped">
                                            &nbsp;&nbsp;
                                            <div class="control">
                                                <input id="new-new_member_message-message" class="input is-primary is-small"
                                                       type="text" maxlength="2000" placeholder="New message"
                                                       onkeypress="return event.keyCode !== 13">
                                                <span class="help"><code>@mention</code> to mention new member. <code>@user</code> for username.</span>
                                            </div>
                                            <div class="control">
                                                <a class="button is-primary is-small"
                                                   onclick="newStatusMessage('new_member_message')">
                                                    <span class="icon is-small">
                                                        <i class="fa fa-plus"></i>
                                                    </span>
                                                    <span>Add</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                            </ul>
                        </div>
                    </div>
                    <div class="field">
                        <label class="checkbox">
                            <input name="new_member_pm-isEnabled" type="checkbox"
                                   onclick="$('#new_member_pm-options').toggleClass('is-hidden')"<%= configData.moderation.status_messages.new_member_pm.isEnabled ? " checked" : "" %>>
                            Send a <strong>PM</strong> to new server members
                        </label>
                        <span id="new_member_pm-options"
                              class="<%= configData.moderation.status_messages.new_member_pm.isEnabled ? '' : ' is-hidden' %>">
									<textarea name="new_member_pm-message_content" class="textarea is-primary"
                                              placeholder="Message to send, in markdown"
                                              maxlength="2000"><%- configData.moderation.status_messages.new_member_pm.message_content %></textarea>
									<br>
								</span>
                    </div>
                    <div class="field">
                        <label class="checkbox">
                            <input name="member_username_updated_message-isEnabled" type="checkbox"
                                   onclick="$('.member_username_updated_message-options').toggleClass('is-hidden')"<%= configData.moderation.status_messages.member_username_updated_message.isEnabled ? " checked" : "" %>>
                            Member changed their <strong>username</strong>
                        </label>
                        &nbsp;
                        <span class="select is-primary is-small member_username_updated_message-options<%= configData.moderation.status_messages.member_username_updated_message.isEnabled ? '' : ' is-hidden' %>">
									<select name="member_username_updated_message-channel_id">
                                        <% pageData.channelData.forEach(channel => { %>
                                        <option value="<%= channel.id %>"<%= configData.moderation.status_messages.member_username_updated_message.channel_id === channel.id ? " selected" : "" %>>#<%= channel.name %></option>
                                        <% }); %>
                                    </select>
								</span>
                    </div>
                    <div class="field">
                        <label class="checkbox">
                            <input name="member_nick_updated_message-isEnabled" type="checkbox"
                                   onclick="$('.member_nick_updated_message-options').toggleClass('is-hidden')"<%= configData.moderation.status_messages.member_nick_updated_message.isEnabled ? " checked" : "" %>>
                            Member updated their <strong>nickname</strong>
                        </label>
                        &nbsp;
                        <span class="select is-primary is-small member_nick_updated_message-options<%= configData.moderation.status_messages.member_nick_updated_message.isEnabled ? '' : ' is-hidden' %>">
									<select name="member_nick_updated_message-channel_id">
                                        <% pageData.channelData.forEach(channel => { %>
                                        <option value="<%= channel.id %>"<%= configData.moderation.status_messages.member_nick_updated_message.channel_id === channel.id ? " selected" : "" %>>#<%= channel.name %></option>
                                        <% }); %>
                                    </select>
								</span>
                    </div>
                    <div class="field">
                        <label class="checkbox">
                            <input name="member_avatar_updated_message-isEnabled" type="checkbox"
                                   onclick="$('.member_avatar_updated_message-options').toggleClass('is-hidden')"<%= configData.moderation.status_messages.member_avatar_updated_message.isEnabled ? " checked" : "" %>>
                            Member changed their <strong>avatar</strong>
                        </label>
                        &nbsp;
                        <span class="select is-primary is-small member_avatar_updated_message-options<%= configData.moderation.status_messages.member_avatar_updated_message.isEnabled ? '' : ' is-hidden' %>">
									<select name="member_avatar_updated_message-channel_id">
                                        <% pageData.channelData.forEach(channel => { %>
                                        <option value="<%= channel.id %>"<%= configData.moderation.status_messages.member_avatar_updated_message.channel_id === channel.id ? " selected" : "" %>>#<%= channel.name %></option>
                                        <% }); %>
                                    </select>
								</span>
                    </div>
                    <div class="field">
                        <label class="checkbox">
                            <input name="member_game_updated_message-isEnabled" type="checkbox"
                                   onclick="$('.member_game_updated_message-options').toggleClass('is-hidden')"<%= configData.moderation.status_messages.member_game_updated_message.isEnabled ? " checked" : "" %>>
                            Member started playing a <strong>game</strong>
                        </label>
                        &nbsp;
                        <span class="select is-primary is-small member_game_updated_message-options<%= configData.moderation.status_messages.member_game_updated_message.isEnabled ? '' : ' is-hidden' %>">
									<select name="member_game_updated_message-channel_id">
                                        <% pageData.channelData.forEach(channel => { %>
                                        <option value="<%= channel.id %>"<%= configData.moderation.status_messages.member_game_updated_message.channel_id === channel.id ? " selected" : "" %>>#<%= channel.name %></option>
                                        <% }); %>
                                    </select>
								</span>
                    </div>
                    <div class="field">
                        <div class="field">
                            <label class="checkbox">
                                <input name="member_streaming_message-isEnabled" type="checkbox"
                                       onclick="$('.member_streaming_message-options').toggleClass('is-hidden')"<%= configData.moderation.status_messages.member_streaming_message.isEnabled ? " checked" : "" %>>
                                Member <strong>streaming</strong> (Twitch or YT Gaming)
                            </label>
                            &nbsp;
                            <span class="select is-primary is-small member_streaming_message-options<%= configData.moderation.status_messages.member_streaming_message.isEnabled ? '' : ' is-hidden' %>">
						    			<select name="member_streaming_message-channel_id">
                                            <% pageData.channelData.forEach(channel => { %>
                                            <option value="<%= channel.id %>"<%= configData.moderation.status_messages.member_streaming_message.channel_id === channel.id ? " selected" : "" %>>#<%= channel.name %></option>
                                            <% }); %>
                                        </select>
                                    </span>
                        </div>
                        <div class="field">
                            <ul class="member_streaming_message-options<%= configData.moderation.status_messages.member_streaming_message.isEnabled ? '' : ' is-hidden' %>">
                                <% configData.moderation.status_messages.member_streaming_message.enabled_user_ids.forEach((message, i) => { %>
                                <li>
                                    <button class="button is-small is-white"
                                            id="member_streaming_message-<%= i %>-removed"
                                            onclick="removeMessage('member_streaming_message-<%= i %>-removed'); return false">
                                            <span class="icon is-small" style="margin-left: -2px;">
                                                <i class="fa fa-times"></i>
                                            </span>
                                    </button>
                                    <img src="<%= message.avatar %>"
                                         class="is-avatar is-small"
                                         alt="<%= message.id %>">
                                    <%= message.name %>
                                </li>
                                <% }); %>
                                <br>
                                <div class="field is-horizontal">
                                    <div class="field-body">
                                        <div class="field is-grouped">
                                            &nbsp;&nbsp;
                                            <div class="control">
                                                <input id="new-member_streaming_message-message"
                                                       class="input is-primary is-small user-autocomplete" type="text"
                                                       maxlength="2000" placeholder="Username"
                                                       onkeypress="return event.keyCode !== 13">
                                            </div>
                                            <div class="control">
                                                <a class="button is-primary is-small"
                                                   onclick="newStatusMessage('member_streaming_message')">
                                                    <span class="icon is-small">
                                                        <i class="fa fa-plus"></i>
                                                    </span>
                                                    <span>Add</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                            </ul>
                        </div>
                    </div>
                    <div class="field">
                        <label class="checkbox">
                            <input name="member_rank_updated_message-isEnabled" type="checkbox"
                                   onclick="$('.member_rank_updated_message-options').toggleClass('is-hidden'); if(!this.checked) {$('.member_rank_updated_message-type-options').addClass('is-hidden')} else if($('#member_rank_updated_message-type').val()=='message') {$('.member_rank_updated_message-type-options').removeClass('is-hidden')}" <%= configData.moderation.status_messages.member_rank_updated_message.isEnabled ? "checked" : "" %>>
                            Member leveled up a <strong>rank</strong>
                        </label>
                        &nbsp;
                        <span class="select is-primary is-small member_rank_updated_message-options<%= configData.moderation.status_messages.member_rank_updated_message.isEnabled ? '' : ' is-hidden' %>">
									<select id="member_rank_updated_message-type"
                                            name="member_rank_updated_message-type"
                                            onchange="$('.member_rank_updated_message-type-options').toggleClass('is-hidden')">
										<option value="message"<%= configData.moderation.status_messages.member_rank_updated_message.type === "message" ? " selected" : "" %>>Message</option>
										<option value="pm"<%= configData.moderation.status_messages.member_rank_updated_message.type === "pm" ? " selected" : "" %>>PM</option>
									</select>
								</span>
                        &nbsp;
                        <span class="select is-primary is-small member_rank_updated_message-type-options<%= (configData.moderation.status_messages.member_rank_updated_message.isEnabled && configData.moderation.status_messages.member_rank_updated_message.type == "message") ? '' : ' is-hidden' %>">
									<select name="member_rank_updated_message-channel_id">
                                        <% pageData.channelData.forEach(channel => { %>
                                        <option value="<%= channel.id %>" <%= configData.moderation.status_messages.member_rank_updated_message.channel_id === channel.id ? "selected" : "" %>>#<%= channel.name %></option>
                                        <% }); %>
                                    </select>
								</span>
                    </div>
                    <div class="field">
                        <div class="field">
                            <label class="checkbox">
                                <input name="member_removed_message-isEnabled" type="checkbox"
                                       onclick="$('.member_removed_message-options').toggleClass('is-hidden')"<%= configData.moderation.status_messages.member_removed_message.isEnabled ? " checked" : "" %>>
                                Member <strong>left</strong> server (or got kicked)
                            </label>
                            &nbsp;
                            <span class="select is-primary is-small member_removed_message-options<%= configData.moderation.status_messages.member_removed_message.isEnabled ? '' : ' is-hidden' %>">
									    <select name="member_removed_message-channel_id">
                                            <% pageData.channelData.forEach(channel => { %>
                                            <option value="<%= channel.id %>"<%= configData.moderation.status_messages.member_removed_message.channel_id === channel.id ? " selected" : "" %>>#<%= channel.name %></option>
                                            <% }); %>
                                        </select>
                                    </span>
                        </div>
                        <div class="field">
                            <ul class="member_removed_message-options<%= configData.moderation.status_messages.member_removed_message.isEnabled ? '' : ' is-hidden' %>">
                                <% configData.moderation.status_messages.member_removed_message.messages.forEach((message, i) => { %>
                                <li>
                                    <button class="button is-small is-white"
                                            id="member_removed_message-<%= i %>-removed"
                                            onclick="removeMessage('member_removed_message-<%= i %>-removed'); return false;">
                                            <span class="icon is-small" style="margin-left: -2px;">
                                                <i class="fa fa-times"></i>
                                            </span>
                                    </button>
                                    <%- message.replace(/@user/g, "<strong>@user</strong>").replace(/@mention/g, "<strong>@mention</strong>") %>
                                </li>
                                <% }); %>
                                <div class="field is-horizontal">
                                    <div class="field-body">
                                        <div class="field is-grouped">
                                            &nbsp;&nbsp;
                                            <div class="control">
                                                <input id="new-member_removed_message-message" class="input is-primary is-small"
                                                       type="text" maxlength="2000" placeholder="New message"
                                                       onkeypress="return event.keyCode !== 13">
                                                <span class="help"><code>@user</code> for username.</span>
                                            </div>
                                            <div class="control">
                                                <a class="button is-primary is-small"
                                                   onclick="newStatusMessage('member_removed_message')">
                                                    <span class="icon is-small">
                                                        <i class="fa fa-plus"></i>
                                                    </span>
                                                    <span>Add</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                            </ul>
                        </div>
                    </div>
                    <div class="field">
                        <label class="checkbox">
                            <input name="member_removed_pm-isEnabled" type="checkbox"
                                   onclick="$('#member_removed_pm-options').toggleClass('is-hidden')"<%= configData.moderation.status_messages.member_removed_pm.isEnabled ? " checked" : "" %>>
                            Send a <strong>PM</strong> to users when they leave the server
                        </label>
                        <span id="member_removed_pm-options"
                              class="<%= configData.moderation.status_messages.member_removed_pm.isEnabled ? '' : ' is-hidden' %>">
									<textarea name="member_removed_pm-message_content" class="textarea is-primary"
                                              placeholder="Message to send, in markdown"
                                              maxlength="2000"><%- configData.moderation.status_messages.member_removed_pm.message_content %></textarea>
									<br>
								</span>
                    </div>
                    <div class="field">
                        <div class="field">
                            <label class="checkbox">
                                <input name="member_banned_message-isEnabled" type="checkbox"
                                       onclick="$('.member_banned_message-options').toggleClass('is-hidden')"<%= configData.moderation.status_messages.member_banned_message.isEnabled ? " checked" : "" %>>
                                User <strong>banned</strong> from server
                            </label>
                            &nbsp;
                            <span class="select is-primary is-small member_banned_message-options<%= configData.moderation.status_messages.member_banned_message.isEnabled ? '' : ' is-hidden' %>">
									    <select name="member_banned_message-channel_id">
                                            <% pageData.channelData.forEach(channel => { %>
                                            <option value="<%= channel.id %>"<%= configData.moderation.status_messages.member_banned_message.channel_id === channel.id ? " selected" : "" %>>#<%= channel.name %></option>
                                            <% }); %>
                                        </select>
                                    </span>
                        </div>
                        <div class="field">
                            <ul class="member_banned_message-options<%= configData.moderation.status_messages.member_banned_message.isEnabled ? '' : ' is-hidden' %>">
                                <% configData.moderation.status_messages.member_banned_message.messages.forEach((message, i) => { %>
                                <li>
                                    <button class="button is-small is-white" id="member_banned_message-<%= i %>-removed"
                                            onclick="removeMessage('member_banned_message-<%= i %>-removed'); return false">
                                            <span class="icon is-small" style="margin-left: -2px;">
                                                <i class="fa fa-times"></i>
                                            </span>
                                    </button>
                                    <%- message.replace(/@user/g, "<strong>@user</strong>") %>
                                </li>
                                <% }); %>
                                <div class="field is-horizontal">
                                    <div class="field-body">
                                        <div class="field is-grouped">
                                            &nbsp;&nbsp;
                                            <div class="control">
                                                <input id="new-member_banned_message-message" class="input is-primary is-small"
                                                       type="text" maxlength="2000" placeholder="New message"
                                                       onkeypress="return event.keyCode !== 13">
                                                <span class="help"><code>@user</code> for username.</span>
                                            </div>
                                            <div class="control">
                                                <a class="button is-primary is-small"
                                                   onclick="newStatusMessage('member_banned_message')">
                                                    <span class="icon is-small">
                                                        <i class="fa fa-plus"></i>
                                                    </span>
                                                    <span>Add</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                            </ul>
                        </div>
                    </div>
                    <div class="field">
                        <div class="field">
                            <label class="checkbox">
                                <input name="member_unbanned_message-isEnabled" type="checkbox"
                                       onclick="$('.member_unbanned_message-options').toggleClass('is-hidden')"<%= configData.moderation.status_messages.member_unbanned_message.isEnabled ? " checked" : "" %>>
                                User <strong>unbanned</strong> from server
                            </label>
                            &nbsp;
                            <span class="select is-primary is-small member_unbanned_message-options<%= configData.moderation.status_messages.member_unbanned_message.isEnabled ? '' : ' is-hidden' %>">
									    <select name="member_unbanned_message-channel_id">
                                            <% pageData.channelData.forEach(channel => { %>
                                            <option value="<%= channel.id %>"<%= configData.moderation.status_messages.member_unbanned_message.channel_id === channel.id ? " selected" : "" %>>#<%= channel.name %></option>
                                            <% }); %>
                                        </select>
                                    </span>
                        </div>
                        <div class="field">
                            <ul class="member_unbanned_message-options<%= configData.moderation.status_messages.member_unbanned_message.isEnabled ? '' : ' is-hidden' %>">
                                <% configData.moderation.status_messages.member_unbanned_message.messages.forEach((message, i) => { %>
                                <li>
                                    <button class="button is-small is-white"
                                            id="member_unbanned_message-<%= i %>-removed"
                                            onclick="removeMessage('member_unbanned_message-<%= i %>-removed') return false">
                                            <span class="icon is-small" style="margin-left: -2px;">
                                                <i class="fa fa-times"></i>
                                            </span>
                                    </button>
                                    <%- message.replace(/@user/g, "<strong>@user</strong>") %>
                                </li>
                                <% }); %>
                                <div class="field is-horizontal">
                                    <div class="field-body">
                                        <div class="field is-grouped">
                                            &nbsp;&nbsp;
                                            <div class="control">
                                                <input id="new-member_unbanned_message-message" class="input is-primary is-small"
                                                       type="text" maxlength="2000" placeholder="New message"
                                                       onkeypress="return event.keyCode !== 13">
                                                <span class="help"><code>@user</code> for username.</span>
                                            </div>
                                            <div class="control">
                                                <a class="button is-primary is-small"
                                                   onclick="newStatusMessage('member_unbanned_message')">
                                                    <span class="icon is-small">
                                                        <i class="fa fa-plus"></i>
                                                    </span>
                                                    <span>Add</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                            </ul>
                        </div>
                    </div>
                    <br>
                    <h4 class="subtitle is-4">
                        Messages
                    </h4>
                    <div class="field">
                        <label class="checkbox">
                            <input name="message_edited_message-isEnabled" type="checkbox"
                                   onclick="$('#message_edited_message-type-options').toggleClass('is-hidden'); $('#message_edited_message-enabled_channel_ids-options').toggleClass('is-hidden'); if(!this.checked) {$('.message_edited_message-options').addClass('is-hidden')} else if(!$('#message_edited_message-type').val()=='msg') {$('#message_edited_message-channel_id-options').removeClass('is-hidden')}" <%= configData.moderation.status_messages.message_edited_message.isEnabled ? "checked" : "" %>>
                            Message <strong>edited</strong> by author
                        </label>
                        &nbsp;
                        <span id="message_edited_message-type-options"
                              class="select is-primary is-small<%= configData.moderation.status_messages.message_edited_message.isEnabled ? '' : ' is-hidden' %>">
									<select id="message_edited_message-type" name="message_edited_message-type"
                                            onchange="$('.message_edited_message-options').toggleClass('is-hidden')">
										<option value="msg"<%= configData.moderation.status_messages.message_edited_message.type == "msg" ? " selected" : "" %>>Channel of message</option>
										<option value="single"<%= configData.moderation.status_messages.message_edited_message.type == "single" ? " selected" : "" %>>Single channel</option>
									</select>
								</span>
                        &nbsp;
                        <span id="message_edited_message-channel_id-options"
                              class="select is-primary is-small message_edited_message-options<%= (configData.moderation.status_messages.message_edited_message.isEnabled && configData.moderation.status_messages.message_edited_message.channel_id) ? '' : ' is-hidden' %>">
									<select name="message_edited_message-channel_id">
                                        <% pageData.channelData.forEach(channel => { %>
                                        <option value="<%= channel.id %>"<%= configData.moderation.status_messages.message_edited_message.channel_id === channel.id ? " selected" : "" %>>#<%= channel.name %></option>
                                        <% }); %>
                                    </select>
								</span>
                        <span id="message_edited_message-enabled_channel_ids-options"
                              class="<%= configData.moderation.status_messages.message_edited_message.isEnabled ? '' : 'is-hidden' %>">
									<br>
                            <% pageData.channelData.forEach(channel => { %>
                            &nbsp;
										<label class="checkbox">
										<input name="message_edited_message-enabled_channel_ids-<%= channel.id %>"
                                               type="checkbox"<%= configData.moderation.status_messages.message_edited_message.enabled_channel_ids.includes(channel.id) ? " checked" : "" %>>
											#<%= channel.name %>
										</label>
										<br>
                            <% }); %>
                        </span>
                    </div>
                    <div class="field">
                        <label class="checkbox">
                            <input name="message_deleted_message-isEnabled" type="checkbox"
                                   onclick="$('#message_deleted_message-type-options').toggleClass('is-hidden'); $('#message_deleted_message-enabled_channel_ids-options').toggleClass('is-hidden'); if (!this.checked) {$('.message_deleted_message-options').addClass('is-hidden')} else if (!$('#message_deleted_message-type').val() === 'msg') {$('#message_deleted_message-channel_id-options').removeClass('is-hidden')}"<%= configData.moderation.status_messages.message_deleted_message.isEnabled ? " checked" : "" %>>
                            Message <strong>deleted</strong> (not necessarily by author)
                        </label>
                        &nbsp;
                        <span id="message_deleted_message-type-options"
                              class="select is-primary is-small<%= configData.moderation.status_messages.message_deleted_message.isEnabled ? '' : ' is-hidden' %>">
									<select id="message_deleted_message-type" name="message_deleted_message-type"
                                            onchange="$('.message_deleted_message-options').toggleClass('is-hidden')">
										<option value="msg"<%= configData.moderation.status_messages.message_deleted_message.type === "msg" ? " selected" : "" %>>Channel of message</option>
										<option value="single"<%= configData.moderation.status_messages.message_deleted_message.type === "single" ? " selected" : "" %>>Single channel</option>
									</select>
								</span>
                        &nbsp;
                        <span id="message_deleted_message-channel_id-options"
                              class="select is-primary is-small message_deleted_message-options<%= (configData.moderation.status_messages.message_deleted_message.isEnabled && configData.moderation.status_messages.message_deleted_message.channel_id) ? '' : ' is-hidden' %>">
									<select name="message_deleted_message-channel_id">
                                        <% pageData.channelData.forEach(channel => { %>
                                        <option value="<%= channel.id %>"<%= configData.moderation.status_messages.message_deleted_message.channel_id === channel.id ? " selected" : "" %>>#<%= channel.name %></option>
                                        <% }); %>
                                    </select>
								</span>
                        <span id="message_deleted_message-enabled_channel_ids-options"
                              class="<%= configData.moderation.status_messages.message_deleted_message.isEnabled ? '' : 'is-hidden' %>">
									<br>
                            <% pageData.channelData.forEach(channel => { %>
                            &nbsp;
										<label class="checkbox">
										<input name="message_deleted_message-enabled_channel_ids-<%= channel.id %>"
                                               type="checkbox"<%= configData.moderation.status_messages.message_deleted_message.enabled_channel_ids.includes(channel.id) ? " checked" : "" %>>
											#<%= channel.name %>
										</label>
										<br>
                            <% }); %>
                        </span>
                    </div>
                    <br>
                    <% var formButtonsUnsaved = false; %>
                    <% include ../partials/form-buttons %>
                    <% include ../partials/form-buttons-bar %>
                </form>
            </div>
        </div>
    </div>
    <script>GAwesomeUtil.setUserAutocomplete('<%= serverData.id %>');</script>
</section>

<% include ../partials/footer %>
<% include ../partials/scroll-top-button %>
</body>
</html>
