<!DOCTYPE html>
<html lang="en">
<head>
	<title><%= serverData.name %> Ongoing Activities - GAwesomeBot Admin Console</title>
	<% include ../partials/head %>

	<script>
	let isEnding = false;
	function endSession(id, type) {
		if (isEnding) return;
		isEnding = true;
	  	$(`#endSession-${type}-${id}`).html("Ending Game...");
		$.ajax({
			type: "POST",
			url: "<%= currentPage %>",
			data: {
				"end-type": type,
				"end-id": id
			},
			success: function() {
				$(`#endSession-${type}-${id}`).html(`${type === "trivia" ? "Game" : "Activity"} ended.`).attr("onclick", null);
			}
		});
	}
	</script>
</head>
<body>
	<% include ../partials/dashboard-header %>
	<% include ../partials/dashboard-socket-updates %>

	<section class="section is-white">
		<div class="container">
			<div class="columns">
				<div id="menu" class="column is-one-quarter">
					<% include ../partials/admin-menu %>
				</div>
				<div class="column">
					<h1 class="title">
						Ongoing Activities
					</h1>
					<article class="message is-primary">
						<div class="message-body">
							<div class="content">
								Here you can see a list of the ongoing <strong>trivia games, polls, giveaways, and point lotteries</strong> on the server. Details about each session are listed below and you can force-end one with the click of a button.
							</div>
						</div>
					</article>
					<h4 class="subtitle is-4">
						Trivia
					</h4>
					<% if (pageData.trivia.length > 0) { %>
						<div class="columns">
							<% pageData.trivia.forEach((trivia, i) => { %>
								<div class="column is-half">
									<div class="card is-fullwidth">
										<header class="card-header">
											<p class="card-header-title">
												#<%= trivia.channel.name %>
											</p>
										</header>
										<div class="card-content">
											<h3 class="title is-3 has-text-centered">
												<%= trivia.set === "default" ? "No Custom Set" : trivia.set.charAt(0).toUpperCase() + trivia.set.slice(1) %>
											</h3>
											<div class="level is-mobile">
												<div class="level-item has-text-centered">
													<div>
														<p class="heading">Questions</p>
														<p class="title"><%= trivia.max_score %></p>
													</div>
												</div>
												<div class="level-item has-text-centered">
													<div>
														<p class="heading">Score</p>
														<p class="title"><%= trivia.score %></p>
													</div>
												</div>
												<div class="level-item has-text-centered">
													<div>
														<p class="heading">Players</p>
														<p class="title"><%= trivia.responders %></p>
													</div>
												</div>
											</div>
										</div>
										<footer class="card-footer">
											<a onclick="endSession('<%= trivia.channel.id %>', 'trivia');" id="endSession-trivia-<%= trivia.channel.id %>" class="card-footer-item">
												End Game
											</a>
										</footer>
									</div>
								</div>
								<% if (i % 2 === 1 && i !== pageData.trivia.length - 1 && i !== 0) { %>
									</div>
									<div class="columns">
								<% } %>
							<% }); %>
							</div>
					<% } else { %>
						<article class="message">
							<div class="message-header">
								<p>
									<span class="icon">
										<i class="fa fa-meh-o"></i>
									</span>
									Nothing to see here
								</p>
							</div>
							<div class="message-body">
								There aren't any ongoing trivia games on this server. Use <code><%= pageData.commandPrefix %>trivia start</code> to start one.
							</div>
						</article>
					<% } %>
					<h4 class="subtitle is-4">
						Polls
					</h4>
					<% if (pageData.polls.length > 0) { %>
						<div class="columns">
							<% pageData.polls.forEach((poll, i) => { %>
								<div class="column is-half">
									<div class="card is-fullwidth">
										<header class="card-header">
											<p class="card-header-title">
												#<%= poll.channel.name %>
											</p>
										</header>
										<div class="card-content">
											<h3 class="title is-3 has-text-centered">
												<%= poll.title %>
											</h3>
											<h5 class="subtitle is-5 has-text-centered">
												Created by <strong>@<%= poll.creator %></strong> <span title="<%= poll.rawCreated %>"><%= poll.relativeCreated %></span>
											</h5>
											<div class="level is-mobile">
												<div class="level-item has-text-centered">
													<div>
														<p class="heading">Options</p>
														<p class="title"><%= poll.options %></p>
													</div>
												</div>
												<div class="level-item has-text-centered">
													<div>
														<p class="heading">Responses</p>
														<p class="title"><%= poll.responses %></p>
													</div>
												</div>
											</div>
										</div>
										<footer class="card-footer">
											<a onclick="endSession('<%= poll.channel.id %>', 'poll');" id="endSession-poll-<%= poll.channel.id %>" class="card-footer-item">
												End Poll
											</a>
										</footer>
									</div>
								</div>
								<% if (i % 2 === 1 && i !== pageData.polls.length - 1 && i !== 0) { %>
									</div>
									<div class="columns">
								<% } %>
							<% }); %>
						</div>
					<% } else { %>
						<article class="message">
							<div class="message-header">
								<p>
									<span class="icon">
										<i class="fa fa-meh-o"></i>
									</span>
									Nothing to see here
								</p>
							</div>
							<div class="message-body">
								There aren't any ongoing polls on this server. PM GAwesomeBot <code>poll <%= serverData.id %>|#<%= serverData.defaultChannel %></code> to start one.
							</div>
						</article>
					<% } %>
					<h4 class="subtitle is-4">
						Giveaways
					</h4>
					<% if (pageData.giveaways.length > 0) { %>
						<div class="columns">
							<% pageData.giveaways.forEach((giveaway, i) => { %>
								<div class="column is-half">
									<div class="card is-fullwidth">
										<header class="card-header">
											<p class="card-header-title">
												#<%= giveaway.channel.name %>
											</p>
										</header>
										<div class="card-content">
											<h3 class="title is-3 has-text-centered">
												<%= giveaway.title %>
											</h3>
											<h5 class="subtitle is-5 has-text-centered">
												Started by <strong>@<%= giveaway.creator %></strong>
											</h5>
											<div class="level is-mobile">
												<div class="level-item has-text-centered" title="<%= giveaway.rawExpiry %>">
													<div>
														<p class="heading">Ends In</p>
														<p class="title"><%= giveaway.relativeExpiry %>h</p>
													</div>
												</div>
												<div class="level-item has-text-centered">
													<div>
														<p class="heading">Participants</p>
														<p class="title"><%= giveaway.participants %></p>
													</div>
												</div>
											</div>
										</div>
										<footer class="card-footer">
											<a onclick="endSession('<%= giveaway.channel.id %>', 'giveaway');" id="endSession-giveaway-<%= giveaway.channel.id %>" class="card-footer-item" title="Secret will still be given away">
												End Giveaway
											</a>
										</footer>
									</div>
								</div>
								<% if (i % 2 === 1 && i !== pageData.giveaways.length - 1 && i !== 0) { %>
									</div>
									<div class="columns">
								<% } %>
							<% }); %>
						</div>
					<% } else { %>
						<article class="message">
							<div class="message-header">
								<p>
									<span class="icon">
										<i class="fa fa-meh-o"></i>
									</span>
									Nothing to see here
								</p>
							</div>
							<div class="message-body">
								There aren't any ongoing giveaways on this server. PM GAwesomeBot <code>giveaway <%= serverData.id %>|#<%= serverData.defaultChannel %></code> to give something away.
							</div>
						</article>
					<% } %>
					<h4 class="subtitle is-4">
						Lotteries
					</h4>
					<% if (pageData.lotteries.length > 0) { %>
						<div class="columns">
							<% pageData.lotteries.forEach((lottery, i) => { %>
								<div class="column is-one-third">
									<div class="card is-fullwidth">
										<header class="card-header">
											<p class="card-header-title">
												#<%= lottery.channel.name %>
											</p>
										</header>
										<div class="card-content">
											<h4 class="title is-4 has-text-centered">
												<strong><%= lottery.tickets %></strong> tickets sold so far
											</h4>
											<h5 class="subtitle is-5 has-text-centered">
												Created by <strong><%= lottery.creator %></strong>
											</h5>
										</div>
										<footer class="card-footer">
											<a onclick="endSession('<%= lottery.channel.id %>', 'lottery');" id="endSession-lottery-<%= lottery.channel.id %>" class="card-footer-item" title="GAwesomePoints will still be given away">
												End Lottery
											</a>
										</footer>
									</div>
								</div>
								<% if (i % 3 === 2 && i !== pageData.lotteries.length - 1 && i !== 0) { %>
									</div>
									<div class="columns">
								<% } %>
							<% }); %>
						</div>
					<% } else { %>
						<article class="message">
							<div class="message-header">
								<p>
									<span class="icon">
										<i class="fa fa-meh-o"></i>
									</span>
									<span>Nothing to see here</span>
								</p>
							</div>
							<div class="message-body">
								There aren't any open lotteries on this server. Start an GAwesomePoints lottery with <code><%= pageData.commandPrefix %>lottery start</code>.
							</div>
						</article>
					<% } %>
				</div>
			</div>
		</div>
	</section>

	<% include ../partials/footer %>
	<% include ../partials/scroll-top-button %>
</body>
</html>
