<!DOCTYPE html>
<html lang="en">
<head>
	<title><%= serverData.name %> Roles - GAwesomeBot Admin Console</title>
	<% include ../partials/head %>
</head>
<body onload="GAwesomeUtil.SFS();">
	<% include ../partials/dashboard-header %>
	<% include ../partials/dashboard-socket-updates %>

	<section class="section is-white">
		<div class="container">
			<div class="columns">
				<div id="menu" class="column is-one-quarter">
					<% include ../partials/admin-menu %>
				</div>
				<div class="column">
					<h1 class="title">
						Roles
					</h1>
					<article class="message is-primary">
						<div class="message-body">
							<div class="content">
								There are a few super-useful commands in GAwesomeBot to manage roles and their permissions on your server - they are listed below. You'll love being able to use these commands to manage roles without having to use the annoying mobile client.
							</div>
						</div>
					</article>
					<form id="form" onsubmit="GAwesomeUtil.submitForm(); return false;">
						<div class="command-items">
						<% var commandData = configData.commands.roleinfo; commandData.name = "roleinfo"; commandData.description = pageData.commandDescriptions.roleinfo; commandData.category = pageData.commandCategories.roleinfo; %>
						<% include ../partials/admin-command-item %>
						<% commandData = configData.commands.role; commandData.name = "role"; commandData.description = pageData.commandDescriptions.role; commandData.category = pageData.commandCategories.role; %>
						<% include ../partials/admin-command-item %>
						</div>
						<div class="role-options<%= commandData.isEnabled ? '' : ' is-hidden' %>">
							<div class="field">
								Allow users to join these roles with the <code>role</code> command:
								<p class="control">
									<% pageData.roleData.forEach(role => { %>
										<label class="checkbox">
										<input name="custom_roles-<%= role.id %>" type="checkbox"<%= configData.custom_roles.includes(role.id) ? " checked" : "" %>>
											<span style="color: #<%= role.color %>;" title="<%= role.name %>"><%= role.name %></span>
										</label>
										<br>
									<% }); %>
								</p>
							</div>
								<br>
						</div>
						<br>
						<% var formButtonsUnsaved = false; %>
						<% include ../partials/form-buttons %>
						<% include ../partials/form-buttons-bar %>
					</form>
				</div>
			</div>
		</div>
	</section>

	<% include ../partials/footer %>
	<% include ../partials/scroll-top-button %>
</body>
</html>
