<!DOCTYPE html>
<html>
<head>
	<title><%= serverData.name %> Command Options - AwesomeBot Admin Console</title>
	<% include ../partials/head %>

	<script src="/static/js/form-change-listener.js"></script>
</head>
<body onload="saveFormState();">
	<% include ../partials/dashboard-header %>
	<% include ../partials/dashboard-socket-updates %>

	<section class="section is-white">
		<div class="container">
			<div class="columns">
				<div id="menu" class="column is-one-quarter">
					<% include ../partials/admin-menu %>
				</div>
				<div class="column">
					<h1 class="title">
						Global Command Options
					</h1>
					<div class="container">
						<article class="message is-primary">
							<div class="message-body">
								These settings apply to <strong>all commands</strong>. They define how commands should display information, such as the number of results to show or whether to delete command messages after AwesomeBot has responded.
							</div>
						</article>
					</div>
					<br>
					<div class="container">
						<form id="form" action="<%= currentPage %>?svrid=<%= serverData.id %>" method="post">
							<h4 class="subtitle is-4">
								General
							</h4>
							<label class="label">Command prefix</label>
							<p class="control">
								<input name="command_prefix" class="input" type="text" value="<%= configData.command_prefix %>" minlength="1" maxlength="10">
								<span class="help">Plaintext prefix used to activate commands. Type <code>@mention</code> in the box above to use a Discord mention of AwesomeBot.</span>
							</p>
							<label class="label">Command messages</label>
							<p class="control">
								<label class="checkbox">
								<input name="delete_command_messages" type="checkbox" <%= configData.delete_command_messages ? "checked" : "" %>>
									Delete command messages after AwesomeBot responds
								</label>
								<span class="help">Command messages are those that trigger AwesomeBot commands; example: <code><%= configData.command_prefix %>cat</code></span>
							</p>
							<label class="label">Cooldown period</label>
							<p class="control">
								<span class="select">
									<select name="command_cooldown">
										<option value="0" <%= !configData.command_cooldown ? "selected" : "" %>>None</option>
										<option value="2000" <%= configData.command_cooldown==2000 ? "selected" : "" %>>2 seconds</option>
	                                    <option value="3000" <%= configData.command_cooldown==3000 ? "selected" : "" %>>3 seconds</option>
	                                    <option value="5000" <%= configData.command_cooldown==5000 ? "selected" : "" %>>5 seconds</option>
	                                    <option value="10000" <%= configData.command_cooldown==10000 ? "selected" : "" %>>10 seconds</option>
	                                    <option value="15000" <%= configData.command_cooldown==15000 ? "selected" : "" %>>15 seconds</option>
	                                    <option value="30000" <%= configData.command_cooldown==30000 ? "selected" : "" %>>30 seconds</option>
	                                    <option value="45000" <%= configData.command_cooldown==45000 ? "selected" : "" %>>45 seconds</option>
	                                    <option value="60000" <%= configData.command_cooldown==60000 ? "selected" : "" %>>1 minute</option>
	                                    <option value="120000" <%= configData.command_cooldown==120000 ? "selected" : "" %>>2 minutes</option>
									</select>
								</span>
								<span class="help">During this time after the use of any command, users won't be able to use other commands in the channel. Does not apply to admins. Can be overridden per-channel by the <code><%= configData.command_prefix %>cool</code> command.</span>
							</p>
							<label class="label">Chatterbot</label>
							<p class="control">
								<label class="checkbox">
								<input name="chatterbot" type="checkbox" <%= configData.chatterbot ? "checked" : "" %>>
									Allow members to converse with AwesomeBot
								</label>
								<span class="help">The <a href="http://www.program-o.com/">Program-O</a> chatbot will be used if the bot is mentioned and a command is not being used, e.g. <code><strong>@<%= botName %></strong> Hello! How are you?</code>.</span>
							</p>
							<br>
							<h4 class="subtitle is-4">
								Content Fetching
							</h4>
							<label class="label">Default number of results to show</label>
							<p class="control">
								<input name="default_count" class="input" type="number" value="<%= configData.command_fetch_properties.default_count %>" min="1" max="10">
							</p>
							<label class="label">Maximum number of items to fetch</label>
							<p class="control">
								<input name="max_count" class="input" type="number" value="<%= configData.command_fetch_properties.max_count %>" min="5" max="25">
							</p>
							<br>
							<% var formButtonsUnsaved = false; %>
							<% include ../partials/form-buttons %>
							<% include ../partials/form-buttons-bar %>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>

	<% include ../partials/footer %>
	<% include ../partials/scroll-top-button %>
</body>
</html>
