<!DOCTYPE html>
<html lang="en">
<head>
	<title><%= serverData.name %> Name Display - GAwesomeBot Admin Console</title>
	<% include ../partials/head %>

	<script>
		GAwesomeData.username = "<%= pageData.exampleUsername %>";
		GAwesomeData.nickname = "<%= pageData.exampleNickname %>";
		GAwesomeData.discriminator = "<%= pageData.exampleDiscriminator %>";
	</script>
</head>
<body onload="GAwesomeUtil.SFS();">
	<% include ../partials/dashboard-header %>
	<% include ../partials/dashboard-socket-updates %>

	<section class="section is-white">
		<div class="container">
			<div class="columns">
				<div id="menu" class="column is-one-quarter">
					<% include ../partials/admin-menu %>
				</div>
				<div class="column">
					<h1 class="title">
						Username Display
					</h1>
					<article class="message is-primary">
						<div class="message-body">
							<div class="content">
								This section lets you control <strong>how usernames look</strong> on your server. Should GAwesomeBot use member nicknames if available? Do you want the 0-9999 username discriminator to be shown? The preview below shows how your name would be displayed with the current settings.
							</div>
						</div>
					</article>
					<form id="form" onsubmit="GAwesomeUtil.submitForm(); return false;">
						<div class="box hero is-small">
							<div class="hero-body">
								<div class="has-text-centered">
									<h2 class="subtitle">
										Example with current settings:
									</h2>
									<h1 class="title" id="currentExample"><%= pageData.currentExample %></h1>
								</div>
							</div>
						</div>
						<div class="columns">
							<div class="column">
								<div class="box is-paddingless generic-feature">
									<div class="generic-feature-box">
										<div class="generic-feature-box-slider">
											<div class="field">
												<input id="name_display-use_nick" type="checkbox" name="name_display-use_nick" class="switch is-medium is-success is-rounded"<%= configData.name_display.use_nick ? " checked " : "" %>>
												<label for="name_display-use_nick" style="padding-left: 3.75rem;"></label>
											</div>
										</div>
										<div class="generic-feature-box-description">
											<p>
												Use member <strong>nickname</strong> if available
												<span class="help">Nicknames are assigned per-server. Discord uses them in place of usernames in the member list.</span>
											</p>
										</div>
									</div>
								</div>
							</div>
							<div class="column">
								<div class="box is-paddingless generic-feature">
									<div class="generic-feature-box">
										<div class="generic-feature-box-slider">
											<div class="field">
												<input id="name_display-show_discriminator" type="checkbox" name="name_display-show_discriminator" class="switch is-medium is-success is-rounded"<%= configData.name_display.show_discriminator ? " checked " : "" %>>
												<label for="name_display-show_discriminator" style="padding-left: 3.75rem;"></label>
											</div>
										</div>
										<div class="generic-feature-box-description">
											<p>
												Show user <strong>discriminator</strong> after name
												<span class="help">0-9999 number that distinguishes a user from the 10000 others that could have the same username.</span>
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<br>
						<% var formButtonsUnsaved = false; %>
						<% include ../partials/form-buttons %>
						<% include ../partials/form-buttons-bar %>
						</form>
				</div>
			</div>
		</div>
	</section>

	<% include ../partials/footer %>
	<% include ../partials/scroll-top-button %>
</body>
</html>
