<!DOCTYPE html>
<html>
<head>
	<title><%= serverData.name %> Voicetext Channels - AwesomeBot Admin Console</title>
	<% include ../partials/head %>

	<script src="/static/js/form-change-listener.js"></script>
</head>
<body onload="saveFormState();">
	<% include ../partials/dashboard-header %>
	<% include ../partials/dashboard-socket-updates %>

	<section class="section is-white">
		<div class="container">
			<div class="columns">
				<div id="menu" class="column is-one-quarter">
					<% include ../partials/admin-menu %>
				</div>
				<div class="column">
					<h1 class="title">
						Voicetext Channels
					</h1>
					<div class="container">
						<article class="message is-primary">
							<div class="message-body">
								<div class="content">
									AwesomeBot can automatically create <strong>text channels corresponding to voice channels</strong> and add members to them as they join voice chat. This is great for people who can't use their mic, or for sharing links and images while talking.
								</div>
							</div>
						</article>
					</div>
					<br>
					<div class="container">
						<form id="form" action="<%= currentPage %>?svrid=<%= serverData.id %>" method="post">
							<label class="label">Enabled in these channel(s):</label>
							<% for(var i=0; i<voiceChannelData.length; i++) { %>
								<label class="checkbox">
								<input name="voicetext_channels-<%= voiceChannelData[i].id %>" type="checkbox" <%= configData.voicetext_channels.indexOf(voiceChannelData[i].id)>-1 ? "checked" : "" %>>
									<%= voiceChannelData[i].name %>
								</label>
								<br>
							<% } %>
							<br>
							<% var formButtonsUnsaved = false; %>
							<% include ../partials/form-buttons %>
							<% include ../partials/form-buttons-bar %>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>

	<% include ../partials/footer %>
	<% include ../partials/scroll-top-button %>
</body>
</html>
