<!DOCTYPE html>
<html>
<head>
	<title><%= serverData.name %> Strikes - AwesomeBot Admin Console</title>
	<% include ../partials/head %>

	<link rel="stylesheet" href="/static/css/auto-complete.css">
	<script src="/static/js/auto-complete.min.js"></script>
	<script src="/static/js/form-change-listener.js"></script>
	<script>
	function newStrike(member) {
		var newStrikeMember = $("#new-strike-member");
		if(!member) {
			if(newStrikeMember.val()) {
				newStrikeMember.removeClass("is-danger");
			} else {
				newStrikeMember.addClass("is-danger");
			}
		}

		var newStrikeReason = $("#" + (member || "new") + "-strike-reason");
		if(newStrikeReason.val()) {
			newStrikeReason.removeClass("is-danger");
		} else {
			newStrikeReason.addClass("is-danger");
		}

		if((member || newStrikeMember.val()) && newStrikeReason.val()) {
			$.ajax({
				type: "POST",
				url: "<%= currentPage %>?svrid=<%= serverData.id %>",
				data: {
					"new-member": member || newStrikeMember.val(),
					"new-reason": newStrikeReason.val()
				},
				success: function() {
					saveFormState();
					$("#form").submit();
				}
			});
		}
	}

	var removewait = false;
	function removeStrike(strike){
		if(!removewait){
			removewait = true;
			const send = {};
			send[strike.id] = "";
			const parts = strike.id.split("-");
			$.ajax({
				type: "POST",
				url: "<%= currentPage %>?svrid=<%= serverData.id %>",
				data: send,
				success: function() {
					const docs = document.getElementsByClassName('strikes-' + parts[1]);
					if(docs.length <= 1) window.location.reload();
					const remove = document.getElementById("removestrike-" + parts[1] + "-" + parts[2]).parentNode.parentNode;
					document.getElementById("removestrike-" + parts[1] + "-" + parts[2]).parentNode.parentNode.parentNode.removeChild(remove);
					for (i = 0; i < docs.length; i++) {
						const bits = docs[i].id.split("-");
						docs[i].id = bits[0] + "-" + bits[1] + "-" + i;
					}
					removewait = false;
				}
			});
			return false;
		}
	}
	</script>
</head>
<body onload="saveFormState();setUserAutocomplete('<%= serverData.id %>');">
	<% include ../partials/dashboard-header %>
	<% include ../partials/dashboard-socket-updates %>

	<section class="section is-white">
		<div class="container">
			<div class="columns">
				<div id="menu" class="column is-one-quarter">
					<% include ../partials/admin-menu %>
				</div>
				<div class="column">
					<h1 class="title">
						Strikes
					</h1>
					<div class="container">
						<article class="message is-primary">
							<div class="message-body">
								<div class="content">
									Strikes are the best way for moderators to <strong>keep track of rule violations</strong> by members on your server. You can add strikes when a user does something wrong, and strikes are automatically added for filter violations.
								</div>
							</div>
						</article>
					</div>
					<br>
					<div class="container">
						<form id="form" action="<%= currentPage %>?svrid=<%= serverData.id %>" method="post">
							<div style="overflow-x: scroll;">
								<% if(strikes.length>0) { %>
									<table class="table">
										<thead>
											<tr>
												<th></th>
												<th>Username</th>
												<th>ID</th>
												<th></th>
											</tr>
										</thead>
										<tbody>
											<% for(var i=0; i<strikes.length; i++) { %>
												<tr>
													<td>
														<img class="image is-24x24" src="<%= strikes[i].avatar %>" alt="<%= strikes[i].id %>">
													</td>
													<td>
														<%= strikes[i].name %>
													</td>
													<td>
														<%= strikes[i].id %>
													</td>
													<td>
														<a class="button modal-button is-small" data-target="#strikes-<%= i %>-modal">
															<span class="icon is-small">
																<i class="fa fa-eye"></i>
															</span>
															<span>View</span>
														</a>
														<a class="button modal-button is-small is-primary" data-target="#strikes-<%= i %>-add-modal">
															<span class="icon is-small">
																<i class="fa fa-plus"></i>
															</span>
															<span>Add</span>
														</a>
														<button class="button is-small is-danger" name="strikes-<%= strikes[i].id %>-removeall" onclick="saveFormState();">
															<span>Remove All</span>
															<span class="icon is-small">
																<i class="fa fa-times"></i>
															</span>
														</button>
													</td>
												</tr>
												<div id="strikes-<%= i %>-modal" class="modal">
													<div class="modal-background"></div>
													<div class="modal-container">
														<div class="modal-content">
															<div class="box">
																<h4 class="subtitle is-4">
																	Strikes for <strong>@<%= strikes[i].name %></strong>
																</h4>
																<% for(var j=0; j<strikes[i].strikes.length; j++) { %>
																	<article class="media">
																		<div class="media-left">
																			<img class="image is-64x64" src="<%= strikes[i].strikes[j].creator.avatar %>" alt="<%= strikes[i].strikes[j].creator.id %>">
																		</div>
																		<div class="media-content">
																			<p class="title is-5" title="<%= strikes[i].strikes[j].rawDate %>"><%= strikes[i].strikes[j].relativeDate %></p>
																			<p class="subtitle is-6" style="-webkit-margin-after: 0.5em;">Added by <strong>@<%= strikes[i].strikes[j].creator.name %></strong></p>
																			<%- strikes[i].strikes[j].reason %>
																		</div>
																		<div class="media-right">
																			<span class="strikes-<%= strikes[i].id %>" id="removestrike-<%= strikes[i].id %>-<%= j %>">
																				<button class="delete" onclick="removeStrike(this.parentNode); return false"></button>
																			</span>
																		</div>
																	</article>
																<% } %>
															</div>
														</div>
													</div>
													<a class="modal-close"></a>
												</div>
												<div id="strikes-<%= i %>-add-modal" class="modal">
													<div class="modal-background"></div>
													<div class="modal-container">
														<div class="modal-content">
															<div class="box">
																<h4 class="subtitle is-4">
																	Add a strike for <strong>@<%= strikes[i].name %></strong>
																</h4>
																<div class="control is-horizontal">
																	<div class="control is-grouped">
																		<p class="control is-expanded">
																			<input id="<%= strikes[i].id %>-strike-reason" class="input" type="text" placeholder="Reason" minlength="1" maxlength="2000">
																		</p>
																		<p class="control">
																			<a class="button is-primary" onclick="newStrike('<%= strikes[i].id %>');">
																				<span class="icon">
																			        <i class="fa fa-plus"></i>
																			    </span>
																			    <span>Add</span>
																			</a>
																		</p>
																	</div>
																</div>
															</div>
														</div>
													</div>
													<a class="modal-close"></a>
												</div>
											<% } %>
										</tbody>
									</table>
								<% } else { %>
									<article class="message">
										<div class="message-header">
											<span class="icon">
												<i class="fa fa-meh-o"></i>
											</span>
											<span>Nothing to see here</span>
										</div>
										<div class="message-body">
											There aren't any strikes on this server. Type the name of a user below and a reason to add a strike.
										</div>
									</article>
									<br>
								<% } %>
							</div>
							<div class="control is-horizontal">
								<div class="control is-grouped">
									<p class="control">
										<input id="new-strike-member" class="input user-autocomplete" type="text" placeholder="Username" onkeypress="return event.keyCode != 13;">
									</p>
									<p class="control is-expanded">
										<input id="new-strike-reason" class="input" type="text" placeholder="Reason" onkeypress="return event.keyCode != 13;">
									</p>
									<p class="control">
										<a class="button is-primary" onclick="newStrike();">
											<span class="icon">
										        <i class="fa fa-plus"></i>
										    </span>
										    <span>Add</span>
										</a>
									</p>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>

	<% include ../partials/footer %>
	<% include ../partials/scroll-top-button %>
</body>
</html>
