<!DOCTYPE html>
<html lang="en">
<head>
	<title><%= serverData.name %> Public Data - GAwesomeBot Admin Console</title>
	<% include ../partials/head %>
	<% if (pageData.canUnban) { %>
		<script>
		  function unbanGuild(svrid) {
		  	$("#unbanGuild").addClass("is-loading");
		  	$.post("/dashboard/maintainer/servers/server-list", { unbanFromActivity: svrid }).done(() => {
			  $(`#unbanGuild`).removeClass("is-loading").html("<span class='icon'><i class='fa fa-check'></i></span> &nbsp; Unbanned");
		  	});
		  }
		</script>
	<% } %>
</head>
<body onload="GAwesomeUtil.SFS();">
	<% include ../partials/dashboard-header %>
	<% include ../partials/dashboard-socket-updates %>

	<section class="section is-white">
		<div class="container">
			<div class="columns">
				<div id="menu" class="column is-one-quarter">
					<% include ../partials/admin-menu %>
				</div>
				<div class="column">
					<h1 class="title">
						Public Data
					</h1>
					<article class="message is-primary">
						<div class="message-body">
							<div class="content">
								GAwesomeBot provides server listing capability, allowing people to discover new servers they might be interested in. You can allow your server to be shown on the <a href="/activity/servers">activity page</a> and create a detailed listing for everyone to see.
							</div>
						</div>
					</article>
					<% if (!configData.isBanned) { %>
					<form id="form" onsubmit="GAwesomeUtil.submitForm(); return false;">
						<div class="box is-paddingless generic-feature">
							<div class="generic-feature-box">
								<div class="generic-feature-box-slider">
									<div class="field">
										<input id="isShown" type="checkbox" name="isShown" class="switch is-medium is-success is-rounded"<%= configData.public_data.isShown ? " checked" : "" %>>
										<label for="isShown" style="padding-left: 3.75rem;" data-toggle-gfa="public_data-options"></label>
									</div>
								</div>
								<div class="generic-feature-box-description">
									<p>Show <%= serverData.name %> on the <a href="/activity/servers">server listings page</a></p>
								</div>
							</div>
							<div id="public_data-options" class="generic-feature-addon"<%- configData.public_data.isShown ? '' : ' style="display: none;"' %>>
								<div class="box is-paddingless generic-feature">
									<div class="generic-feature-box">
										<div class="generic-feature-box-slider">
											<div class="field">
												<input id="server_listing-isEnabled" type="checkbox" name="server_listing-isEnabled" class="switch is-medium is-success is-rounded"<%= configData.public_data.server_listing.isEnabled ? " checked" : "" %>>
												<label for="server_listing-isEnabled" style="padding-left: 3.75rem;" data-toggle-gfa="server_listing-options"></label>
											</div>
										</div>
										<div class="generic-feature-box-description">
											<p>Allow anyone to join <%= serverData.name %> from the server listings page</p>
										</div>
									</div>
									<div id="server_listing-options" class="generic-feature-addon"<%- configData.public_data.server_listing.isEnabled ? '' : ' style="display: none;"' %>>
										<div class="field">
											<p class="control">
												<a id="form-reset" class="button is-info" href="/activity/servers?q=<%= serverData.name %>" target="_blank">
													<span class="icon">
										        		<i class="fa fa-info"></i>
										    		</span>
													<span>View Listing</span>
												</a>
											</p>
										</div>
										<div class="field">
											<label class="label">Category</label>
											<p class="control">
												<span class="select is-primary">
													<select name="server_listing-category">
														<option value="Gaming"<%= configData.public_data.server_listing.category === "Gaming" ? " selected" : "" %>>Gaming</option>
														<option value="Tech"<%= configData.public_data.server_listing.category === "Tech" ? " selected" : "" %>>Tech</option>
														<option value="Programming"<%= configData.public_data.server_listing.category === "Programming" ? " selected" : "" %>>Programming</option>
														<option value="Community"<%= configData.public_data.server_listing.category === "Community" ? " selected" : "" %>>Community</option>
														<option value="Bots"<%= configData.public_data.server_listing.category === "Bots" ? " selected" : "" %>>Bots</option>
														<option value="Other"<%= configData.public_data.server_listing.category === "Other" ? " selected" : "" %>>Other</option>
													</select>
												</span>
											</p>
										</div>
										<div class="field">
											<label class="label">Description</label>
											<p class="control">
												<textarea name="server_listing-description" class="textarea is-primary" placeholder="Description of server, in markdown"><%= configData.public_data.server_listing.description %></textarea>
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<br>
						<% var formButtonsUnsaved = false; %>
						<% include ../partials/form-buttons %>
						<% include ../partials/form-buttons-bar %>
					</form>
					<% } else { %>
					<article class="message is-danger is-bold">
						<div class="message-header">
							<span>
								<span class="icon">
  									<i class="fa fa-ban"></i>
								</span>
								&nbsp;Uh-oh! You've been banned.
							</span>
						</div>
						<div class="message-body">
							<div class="content">
								A Maintainer has permanently removed your entry from the activity page, and restricted your ability to display public data. For more information on how activity bans work, visit <a href="/wiki/Configuration#public-data">this wiki article</a>. If you believe this is an error, please contact a Maintainer.
							</div>
						</div>
					</article>
					<% if (pageData.canUnban) { %>
					<article class="message is-warning">
						<div class="message-body">
							<div class="content">
								As a maintainer, you can unban this guild to restore their ability to display public data.<br><strong>This will be effective immediately, without notifying the server Admins.</strong>
							</div>
							<div class="has-text-centered">
							<a id="unbanGuild" class="button is-warning" onclick="unbanGuild('<%= serverData.id %>')">
								<span class="icon">
									<i class="fa fa-shield"></i>
								</span>
								&nbsp;
								Unban
							</a>
							</div>
						</div>
					</article>
					<% } %>
					<% } %>
				</div>
			</div>
		</div>
	</section>

	<% include ../partials/footer %>
	<% include ../partials/scroll-top-button %>
</body>
</html>
