<!DOCTYPE html>
<html>
<head>
	<title><%= serverData.name %> Public Data - AwesomeBot Admin Console</title>
	<% include ../partials/head %>

	<script src="/static/js/form-change-listener.js"></script>
</head>
<body onload="saveFormState();">
	<% include ../partials/dashboard-header %>
	<% include ../partials/dashboard-socket-updates %>

	<section class="section is-white">
		<div class="container">
			<div class="columns">
				<div id="menu" class="column is-one-quarter">
					<% include ../partials/admin-menu %>
				</div>
				<div class="column">
					<h1 class="title">
						Public Data
					</h1>
					<div class="container">
						<article class="message is-primary">
							<div class="message-body">
								<div class="content">
									AwesomeBot provides server listing capability, allowing people to discover new servers they might be interested in. You can allow your server to be shown on the <a href="/activity/servers">activity page</a> and create a detailed listing for everyone to see.
								</div>
							</div>
						</article>
					</div>
					<br>
					<div class="container">
						<form id="form" action="<%= currentPage %>?svrid=<%= serverData.id %>" method="post">
							<p class="control">
								<label class="checkbox">
								<input name="isShown" type="checkbox" onclick="$('#public_data-options').toggleClass('is-hidden');" <%= configData.public_data.isShown ? "checked" : "" %>>
									Show <%= serverData.name %> on the <a href="/activity/servers">server listings page</a>
								</label>
							</p>
							<span id="public_data-options" class="<%= configData.public_data.isShown ? '' : 'is-hidden' %>">
								<p class="control">
									<label class="checkbox">
									<input name="server_listing-isEnabled" type="checkbox" onclick="$('#server_listing-options').toggleClass('is-hidden');" <%= configData.public_data.server_listing.isEnabled ? "checked" : "" %>>
										Allow anyone to join <%= serverData.name %> from the server listings page
									</label>
								</p>
								<span id="server_listing-options" class="<%= configData.public_data.server_listing.isEnabled ? '' : 'is-hidden' %>">
									<p class="control">
										<a id="form-reset" class="button is-info" href="/activity/servers?q=<%= serverData.name %>" target="_blank">
											<span class="icon">
										        <i class="fa fa-info"></i>
										    </span>
										    <span>View Listing</span>
										</a>
									</p>
									<label class="label">Category</label>
									<p class="control">
										<span class="select">
											<select name="server_listing-category">
												<option value="Gaming" <%= configData.public_data.server_listing.category=="Gaming" ? "selected" : "" %>>Gaming</option>
												<option value="Tech" <%= configData.public_data.server_listing.category=="Tech" ? "selected" : "" %>>Tech</option>
												<option value="Programming" <%= configData.public_data.server_listing.category=="Programming" ? "selected" : "" %>>Programming</option>
												<option value="Community" <%= configData.public_data.server_listing.category=="Community" ? "selected" : "" %>>Community</option>
												<option value="Bots" <%= configData.public_data.server_listing.category=="Bots" ? "selected" : "" %>>Bots</option>
												<option value="Other" <%= configData.public_data.server_listing.category=="Other" ? "selected" : "" %>>Other</option>
											</select>
										</span>
									</p>
									<label class="label">Description</label>
									<p class="control">
										<textarea name="server_listing-description" class="textarea" placeholder="Description of server, in markdown"><%= configData.public_data.server_listing.description %></textarea>
									</p>
								</span>
							</span>
							<br>
							<% var formButtonsUnsaved = false; %>
							<% include ../partials/form-buttons %>
							<% include ../partials/form-buttons-bar %>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>

	<% include ../partials/footer %>
	<% include ../partials/scroll-top-button %>
</body>
</html>
