<!DOCTYPE html>
<html>
<head>
	<title><%= serverData.name %> Streamers - AwesomeBot Admin Console</title>
	<% include ../partials/head %>
	<script src="/static/js/form-change-listener.js"></script>
	<script>
	function newStreamer() {
		var newStreamerName = $("#new-streamer-name");
		if(newStreamerName.val()) {
			newStreamerName.removeClass("is-danger");
		} else {
			newStreamerName.addClass("is-danger");
		}

		var newStreamerType = $("#new-streamer-type");

		if(newStreamerName.val()) {
			$.ajax({
				type: "POST",
				url: "<%= currentPage %>?svrid=<%= serverData.id %>",
				data: {
					"new-name": newStreamerName.val(),
					"new-type": newStreamerType.val()
				},
				success: function() {
					saveFormState();
					$("#form").submit();
				}
			});
		}
	}
	</script>
</head>
<body onload="saveFormState();">
	<% include ../partials/dashboard-header %>
	<% include ../partials/dashboard-socket-updates %>

	<section class="section is-white">
		<div class="container">
			<div class="columns">
				<div id="menu" class="column is-one-quarter">
					<% include ../partials/admin-menu %>
				</div>
				<div class="column">
					<h1 class="title">
						Streamers
					</h1>
					<div class="container">
						<article class="message is-primary">
							<div class="message-body">
								Discord is a gamer-focused platform, so a lot of Discord servers have corresponding stream accounts on <strong>Twitch</strong> and <strong>YouTube Gaming</strong>. AwesomeBot supports checking for when streams go live (add them below) and has a corresponding <code>streamers</code> command to display information about the status of a stream.
							</div>
						</article>
					</div>
					<br>
					<div class="container">
						<form id="form" action="<%= currentPage %>?svrid=<%= serverData.id %>" method="post">
							<% var commandData = configData.commands.streamers;commandData.name = "streamers";commandData.description = commandDescriptions.streamers;commandData.category = commandCategories.streamers; %>
							<% include ../partials/admin-command-item %>
							<div style="overflow-x: scroll;">
								<% if(configData.streamers_data.length>0) { %>
									<table class="table">
										<thead>
											<tr>
												<th></th>
												<th>Username</th>
												<th>Post updates in...</th>
												<th>Status</th>
												<th></th>
											</tr>
										</thead>
										<tbody>
											<% for(var i=0; i<configData.streamers_data.length; i++) { %>
												<tr>
													<td class="is-icon">
														<% if(configData.streamers_data[i].type=="twitch") { %>
															<i class="fa fa-twitch"></i>
														<% } else if(configData.streamers_data[i].type=="ytg") { %>
															<i class="fa fa-youtube"></i>
														<% } %>
													</td>
													<td>
														<%= configData.streamers_data[i]._id %>
													</td>
													<td>
														<span class="select is-small">
															<select name="streamer-<%= i %>-channel_id">
																<option value="">None</option>
																<% for(var j=0; j<channelData.length; j++) { %>
																	<option value="<%= channelData[j].id %>" <%= configData.streamers_data[i].channel_id==channelData[j].id ? "selected" : "" %>>#<%= channelData[j].name %></option>
																<% } %>
															</select>
														</span>
													</td>
													<td>
														<%= configData.streamers_data[i].live_state ? "Live!" : "Offline" %>
													</td>
													<td>
														<button class="button is-small is-danger" name="streamer-<%= i %>-removed" onclick="saveFormState();">
															<span>Remove</span>
															<span class="icon is-small">
																<i class="fa fa-times"></i>
															</span>
														</button>
													</td>
												</tr>
											<% } %>
										</tbody>
									</table>
								<% } else { %>
									<br>
									<article class="message">
										<div class="message-header">
											<span class="icon">
												<i class="fa fa-meh-o"></i>
											</span>
											<span>Nothing to see here</span>
										</div>
										<div class="message-body">
											You haven't added any streamers yet. Enter a username and platform below to add one.
										</div>
									</article>
									<br>
								<% } %>
							</div>
							<div class="control is-horizontal">
								<div class="control is-grouped">
									<p class="control is-expanded">
										<input id="new-streamer-name" class="input" type="text" placeholder="Username" onkeypress="return event.keyCode != 13;">
										<span class="help">For YouTube Gaming streams, use <a href="http://johnnythetank.github.io/youtube-channel-name-converter">this website</a> to get the corresponding channel ID for a channel name or username.</span>
									</p>
									<p class="control">
										<span class="select">
											<select id="new-streamer-type">
												<option value="twitch">Twitch</option>
												<option value="ytg">YouTube Gaming</option>
											</select>
										</span>
									</p>
									<p class="control">
										<a class="button is-primary" onclick="newStreamer();">
											<span class="icon">
										        <i class="fa fa-plus"></i>
										    </span>
										    <span>Add</span>
										</a>
									</p>
								</div>
							</div>
							<br>
							<% var formButtonsUnsaved = false; %>
							<% include ../partials/form-buttons %>
							<% include ../partials/form-buttons-bar %>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>

	<% include ../partials/footer %>
	<% include ../partials/scroll-top-button %>
</body>
</html>
