<!DOCTYPE html>
<html lang="en">
<head>
	<title><%= serverData.name %> Muted - GAwesomeBot Admin Console</title>
	<% include ../partials/head %>
	<script>
	function newMute() {
		var newMutedMember = $("#new-mute-member");
		if(newMutedMember.val()) {
			newMutedMember.removeClass("is-danger");
		} else {
			newMutedMember.addClass("is-danger");
		}

		var newMutedChannel = $("#new-mute-channel_id");

		if(newMutedMember.val()) {
			$.ajax({
				type: "POST",
				url: "<%= currentPage %>",
				data: {
					"new-member": newMutedMember.val(),
					"new-channel_id": newMutedChannel.val()
				},
				success: function() {
					GAwesomeUtil.SFS();
				  	Turbolinks.visit('');
				}
			});
		}
	}
	</script>
</head>
<body onload="GAwesomeUtil.SFS();">
	<% include ../partials/dashboard-header %>
	<% include ../partials/dashboard-socket-updates %>

	<section class="section is-white">
		<div class="container">
			<div class="columns">
				<div id="menu" class="column is-one-quarter">
					<% include ../partials/admin-menu %>
				</div>
				<div class="column">
					<h1 class="title">
						Muted Members
					</h1>
					<article class="message is-primary">
						<div class="message-body">
							<div class="content">
								Muted users <strong>cannot send text messages</strong> in a channel. Users may be automatically muted for filter violations and via the <code>mute</code> command. Please note that channel permissions can be overridden by anyone with the Manage Roles permission. <strong>It is impossible to mute Bot Admins.</strong>
							</div>
						</div>
					</article>
					<form id="form" onsubmit="GAwesomeUtil.submitForm(); return false;">
						<div class="field" style="overflow-x: scroll;">
                            <%- include("../partials/no-results", { isHidden: configData.muted.length, isSearchQuery: false, description: "There are no muted members in any channel on this server. Type the name of a user below to mute someone." }) %>
							<table class="table is-fullwidth<%= configData.muted.length ? "" : " is-hidden" %>">
								<thead>
									<tr>
										<th></th>
										<th>Username</th>
										<th>ID</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									<% configData.muted.forEach(muteDocument => { %>
										<tr>
											<td>
												<img class="image is-24x24" src="<%= muteDocument.avatar %>" alt="<%= muteDocument.id %>">
											</td>
											<td>
												<%= muteDocument.name %>
											</td>
											<td>
												<%= muteDocument.id %>
											</td>
											<td>
												<a class="button is-small is-primary modal-button" data-target="#muted-<%= muteDocument.id %>-channels-modal">
													<span class="icon is-small">
														<i class="fa fa-hashtag"></i>
													</span>
													<span>Channels</span>
												</a>
												<button class="button is-small is-danger" name="<%= muteDocument.id %>" onclick="GAwesomeUtil.dashboard.removeTableElement(this); return false;">
													<span>Remove</span>
													<span class="icon is-small">
														<i class="fa fa-times"></i>
													</span>
												</button>
												<div id="muted-<%= muteDocument.id %>-channels-modal" class="modal">
													<div class="modal-background"></div>
													<div class="modal-container">
														<div class="modal-content">
															<div class="box">
																<h4 class="subtitle is-4">
																	Muted channels for <strong>@<%= muteDocument.name %></strong>
																</h4>
                                                        		<% pageData.channelData.forEach(channel => { %>
																	<label class="checkbox">
																		<input name="muted-<%= muteDocument.id %>-<%= channel.id %>" type="checkbox" <%= muteDocument.channels.includes(channel.id) ? "checked" : "" %>>
																		#<%= channel.name %>
																	</label>
																	<br>
																<% }); %>
															</div>
														</div>
													</div>
													<a class="modal-close"></a>
												</div>
											</td>
										</tr>
									<% }) %>
								</tbody>
							</table>
						</div>
						<div class="field is-horizontal">
							<div class="field-body">
								<div class="field is-grouped">
									<div class="control">
										<span class="select is-primary">
											<select id="new-mute-channel_id">
												<% pageData.channelData.forEach(channel => { %>
													<option value="<%= channel.id %>">#<%= channel.name %></option>
												<% }); %>
											</select>
										</span>
									</div>
									<div class="control is-expanded">
										<input id="new-mute-member" class="input is-primary user-autocomplete" type="text" placeholder="Username" onkeypress="return event.keyCode !== 13;">
									</div>
									<div class="control">
										<a class="button is-primary" onclick="newMute(); return false;">
											<span class="icon">
										        <i class="fa fa-volume-off"></i>
										    </span>
										    <span>Mute</span>
										</a>
									</div>
								</div>
							</div>
						</div>
						<br>
						<% var formButtonsUnsaved = false; %>
						<% include ../partials/form-buttons %>
						<% include ../partials/form-buttons-bar %>
					</form>
				</div>
			</div>
		</div>
		<script>GAwesomeUtil.setUserAutocomplete('<%= serverData.id %>');</script>
	</section>

	<% include ../partials/footer %>
	<% include ../partials/scroll-top-button %>
</body>
</html>
