<!DOCTYPE html>
<html>
<head>
	<title><%= serverData.name %> Ranks - AwesomeBot Admin Console</title>
	<% include ../partials/head %>

	<script src="/static/js/form-change-listener.js"></script>
	<script>
	function newRank() {
		var newRankName = $("#new-rank-name");
		if(newRankName.val()) {
			newRankName.removeClass("is-danger");
		} else {
			newRankName.addClass("is-danger");
		}

		var newRankScore = $("#new-rank-max_score");
		if(newRankScore.val()) {
			newRankScore.removeClass("is-danger");
		} else {
			newRankScore.addClass("is-danger");
		}

		if(newRankName.val() && newRankScore.val()) {
			$.ajax({
				type: "POST",
				url: "<%= currentPage %>?svrid=<%= serverData.id %>",
				data: {
					"new-name": newRankName.val(),
					"new-max_score": newRankScore.val(),
					"new-role_id": $("#new-rank-role_id").val()
				},
				success: function() {
					saveFormState();
					$("#form").submit();
				}
			});
		}
	}
	</script>
</head>
<body onload="saveFormState();">
	<% include ../partials/dashboard-header %>
	<% include ../partials/dashboard-socket-updates %>

	<section class="section is-white">
		<div class="container">
			<div class="columns">
				<div id="menu" class="column is-one-quarter">
					<% include ../partials/admin-menu %>
				</div>
				<div class="column">
					<h1 class="title">
						Member Ranks
					</h1>
					<div class="container">
						<article class="message is-primary">
							<div class="message-body">
								Ranks <strong>classify members by activity</strong> in both voice and text chat. Each rank you add will have a <strong>maximum activity score</strong> for members to have that rank before they receive the next-highest rank. Activity scores are calculated with this formula: <code>no. messages + minutes active on voice</code>. You can also set ranks to automatically assign a role on the server.
							</div>
						</article>
					</div>
					<br>
					<div class="container">
						<form id="form" action="<%= currentPage %>?svrid=<%= serverData.id %>" method="post">
							<div style="overflow-x: scroll;">
								<% if(configData.ranks_list.length>0) { %>
									<table class="table">
										<thead>
											<tr>
												<th>Name</th>
												<th>Max. Activity Score</th>
												<th>Role</th>
												<th>Members</th>
												<th></th>
											</tr>
										</thead>
										<tbody>
											<% for(var i=0; i<configData.ranks_list.length; i++) { %>
												<tr>
													<td>
														<%= configData.ranks_list[i]._id %>
													</td>
													<td>
														<p class="control is-narrow">
															<input name="rank-<%= i %>-max_score" class="input is-small" type="number" value="<%= configData.ranks_list[i].max_score %>" min="1" placeholder="Max. activity score">
														</p>
													</td>
													<td>
														<p class="control">
															<span class="select is-small">
																<select name="rank-<%= i %>-role_id">
																	<option value="">None</option>
																	<% for(var j=0; j<roleData.length; j++) { %>
																		<option value="<%= roleData[j].id %>" <%= configData.ranks_list[i].role_id==roleData[j].id ? "selected" : "" %>><%= roleData[j].name %></option>
																	<% } %>
																</select>
															</span>
														</p>
													</td>
													<td>
														<%= configData.ranks_list[i].members %>
													</td>
													<td>
														<button class="button is-small is-danger" name="rank-<%= i %>-removed" onclick="saveFormState();">
															<span>Remove</span>
															<span class="icon is-small">
																<i class="fa fa-times"></i>
															</span>
														</button>
													</td>
												</tr>
											<% } %>
										</tbody>
									</table>
									<button class="button is-danger" name="ranks_list-reset" onclick="saveFormState();">
										<span>Reset Everyone's Rank</span>
										<span class="icon is-small">
											<i class="fa fa-times"></i>
										</span>
									</button>
									<br><br>
								<% } else { %>
									<article class="message">
										<div class="message-header">
											<span class="icon">
												<i class="fa fa-meh-o"></i>
											</span>
											<span>Nothing to see here</span>
										</div>
										<div class="message-body">
											All the default ranks are gone! Fill out the form below to add your own rank.
										</div>
									</article>
									<br>
								<% } %>
							</div>
							<div class="control is-grouped">
								<p class="control is-expanded">
									<input id="new-rank-name" class="input" type="text" minlength="1" maxlength="200" placeholder="Name" onkeypress="return event.keyCode != 13;">
								</p>
							</div>
							<div class="control is-horizontal">
								<div class="control is-grouped">
									<p class="control is-expanded">
										<input id="new-rank-max_score" class="input" type="number" min="1" placeholder="Max. activity score" onkeypress="return event.keyCode != 13;">
									</p>
									<p class="control">
										<span class="select">
											<select id="new-rank-role_id">
												<option value="">No Role</option>
												<% for(var i=0; i<roleData.length; i++) { %>
													<option value="<%= roleData[i].id %>"><%= roleData[i].name %></option>
												<% } %>
											</select>
										</span>
									</p>
									<p class="control">
										<a class="button is-primary" onclick="newRank();">
											<span class="icon">
										        <i class="fa fa-plus"></i>
										    </span>
										    <span>Add</span>
										</a>
									</p>
								</div>
							</div>
							<br>
							<% var formButtonsUnsaved = false; %>
							<% include ../partials/form-buttons %>
							<% include ../partials/form-buttons-bar %>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>

	<% include ../partials/footer %>
	<% include ../partials/scroll-top-button %>
</body>
</html>
