<!DOCTYPE html>
<html lang="en">
<head>
	<title><%= serverData.name %> Trivia Sets - GAwesomeBot Admin Console</title>
	<% include ../partials/head %>

	<script>
	function newTrivia() {
		var newTriviaName = $("#new-trivia-name");
		if(newTriviaName.val()) {
			newTriviaName.removeClass("is-danger");
		} else {
			newTriviaName.addClass("is-danger");
		}

		var newTriviaFile = document.getElementById("new-trivia-file").files[0];
		if(newTriviaFile) {
			$("#new-trivia-file").removeClass("is-danger");
		} else {
			$("#new-trivia-file").addClass("is-danger");
		}

		if(newTriviaName.val() && newTriviaFile) {
			var reader = new FileReader();
	        reader.onload = function(event) {
	            $.ajax({
					type: "POST",
					url: "<%= currentPage %>",
					data: {
						"new-name": newTriviaName.val(),
						"new-items": event.target.result,
					},
					success: function() {
						GAwesomeUtil.SFS();
						$("#form").submit();
						Turbolinks.visit('');
					}
				}).fail(() => location.href = "/error?err=json")
            };
	        reader.readAsText(newTriviaFile);
		}
	}
	</script>
</head>
<body onload="GAwesomeUtil.SFS();">
	<% include ../partials/dashboard-header %>
	<% include ../partials/dashboard-socket-updates %>

	<section class="section is-white">
		<div class="container">
			<div class="columns">
				<div id="menu" class="column is-one-quarter">
					<% include ../partials/admin-menu %>
				</div>
				<div class="column">
					<h1 class="title">
						Custom Trivia Sets
					</h1>
					<article class="message is-primary">
						<div class="message-body">
							GAwesomeBot's built-in trivia set is great, but you might want to add a <strong>custom question bank</strong> specific to your server. Trivia sets can be accessed from the <code>trivia</code> command and are uploaded as <strong>JSON</strong> files.
						</div>
					</article>
					<form id="form" onsubmit="GAwesomeUtil.submitForm(); return false;">
							<div class="field" style="overflow-x: scroll;">
                                <%- include("../partials/no-results", { isHidden: configData.trivia_sets.length, isSearchQuery: false, description: "You haven't uploaded any custom trivia sets yet. Select a file below to get started." }) %>
								<table class="table is-fullwidth<%= configData.trivia_sets.length ? "" : " is-hidden" %>">
									<thead>
										<tr>
											<th>Name</th>
											<th>Questions</th>
											<th></th>
										</tr>
									</thead>
									<tbody>
									<% configData.trivia_sets.forEach(triviaSet => { %>
                                            <tr>
												<td>
													<%= triviaSet._id %>
												</td>
												<td>
													<%= triviaSet.items.length %>
												</td>
												<td>
													<a class="button is-small" href="<%= currentPage %>?i=<%= triviaSet._id %>" target="_blank" download="<%= triviaSet._id %>.json">
														<span>Download</span>
														<span class="icon is-small">
															<i class="fa fa-download"></i>
														</span>
													</a>
													&nbsp;
                                                    <button class="button is-small is-danger" name="<%= triviaSet._id %>" onclick="GAwesomeUtil.dashboard.removeTableElement(this); return false;">
														<span>Remove</span>
														<span class="icon is-small">
															<i class="fa fa-times"></i>
														</span>
													</button>
												</td>
                                            </tr>
									<% }) %>
										</tbody>
									</table>
							</div>
							<div class="field is-horizontal">
								<div class="field-body">
									<div class="field is-grouped">
									<div class="control is-expanded">
										<input id="new-trivia-name" class="input is-primary" type="text" minlength="1" maxlength="50" placeholder="Name">
									</div>
									<div class="control">
										<div class="file has-name">
											<label class="file-label">
												<input id="new-trivia-file" class="file-input" type="file" accept=".json, application/static/json" onchange="$('#new-trivia-file-name').html(this.value.replace(/.*[\/\\]/, ''))">
												<span class="file-cta">
													<span class="file-icon">
														<i class="fa fa-upload"></i>
													</span>
													<span class="file-label">
														Choose a Trivia Set
													</span>
												</span>
												<span id="new-trivia-file-name" class="file-name">
													...
												</span>
											</label>
										</div>
									</div>
									<div class="control">
										<a class="button is-primary" onclick="newTrivia();">
											<span class="icon">
										        <i class="fa fa-upload"></i>
										    </span>
										    <span>Upload</span>
										</a>
									</div>
									</div>
								</div>
							</div>
							<br>
							<% var formButtonsUnsaved = false; %>
							<% include ../partials/form-buttons %>
							<% include ../partials/form-buttons-bar %>
					</form>
				</div>
			</div>
		</div>
	</section>

	<% include ../partials/footer %>
	<% include ../partials/scroll-top-button %>
</body>
</html>
