<!DOCTYPE html>
<html lang="en">
<head>
	<title><%= serverData.name %> Streamers - GAwesomeBot Admin Console</title>
	<% include ../partials/head %>

	<script>
	function newStreamer() {
		var newStreamerName = $("#new-streamer-name");
		if(newStreamerName.val()) {
			newStreamerName.removeClass("is-danger");
		} else {
			newStreamerName.addClass("is-danger");
		}

		var newStreamerType = $("#new-streamer-type");

		if(newStreamerName.val()) {
		  GAwesomeData.HUM = true;
		  $.ajax({
				type: "POST",
				url: "<%= currentPage %>",
				data: {
					"new-name": newStreamerName.val(),
					"new-type": newStreamerType.val()
				},
				success: function() {
				  GAwesomeUtil.SFS();
				  $("#form").submit();
				  GAwesomeData.HUM = true;
				  Turbolinks.visit('');
				}
			});
		}
	}
	</script>
</head>
<body onload="GAwesomeUtil.SFS();">
	<% include ../partials/dashboard-header %>
	<% include ../partials/dashboard-socket-updates %>

	<section class="section is-white">
		<div class="container">
			<div class="columns">
				<div id="menu" class="column is-one-quarter">
					<% include ../partials/admin-menu %>
				</div>
				<div class="column">
					<h1 class="title">
						Streamers
					</h1>
					<article class="message is-primary">
						<div class="message-body">
							Discord is a gamer-focused platform, so a lot of Discord servers have corresponding stream accounts on <strong>Twitch</strong> and <strong>YouTube Gaming</strong>. GAwesomeBot supports checking for when streams go live (add them below) and has a corresponding <code>streamers</code> command to display information about the status of a stream.
						</div>
					</article>
					<form id="form" onsubmit="GAwesomeUtil.submitForm(); return false;">
						<div class="command-items">
						<% const commandData = configData.commands.streamers; commandData.name = "streamers"; commandData.description = pageData.commandDescriptions.streamers; commandData.category = pageData.commandCategories.streamers; %>
						<% include ../partials/admin-command-item %>
						</div>
							<div class="field" style="overflow-x: scroll;">
								<%- include("../partials/no-results", { isHidden: configData.streamers_data.length, isSearchQuery: false, description: "You haven't added any streamers yet. Enter a username and platform below to add one." }) %>
								<table class="table is-fullwidth<%= configData.streamers_data.length ? "" : " is-hidden" %>">
									<thead>
										<tr>
											<th></th>
											<th>Username</th>
											<th>Post updates in...</th>
											<th>Status</th>
											<th></th>
										</tr>
									</thead>
									<tbody>
									<% configData.streamers_data.forEach(streamer => { %>
										<tr>
											<td class="is-icon">
												<% if (streamer.type === "twitch") { %>
													<i class="fa fa-twitch"></i>
												<% } else if (streamer.type === "ytg") { %>
													<i class="fa fa-youtube"></i>
												<% } %>
											</td>
											<td>
												<%= streamer._id %>
											</td>
											<td>
												<span class="select is-primary is-small">
													<select name="streamer-<%= streamer._id %>-channel_id">
														<option value="">None</option>
														<% pageData.channelData.forEach(channel => { %>
															<option value="<%= channel.id %>"<%= streamer.channel_id === channel.id ? " selected" : "" %>>#<%= channel.name %></option>
														<% }); %>
													</select>
												</span>
											</td>
											<td>
												<%= streamer.live_state ? "Live!" : "Offline" %>
											</td>
											<td>
												<button class="button is-small is-danger" name="<%= streamer._id %>" onclick="GAwesomeUtil.dashboard.removeTableElement(this); return false;">
													<span>Remove</span>
													<span class="icon is-small">
														<i class="fa fa-times"></i>
													</span>
												</button>
											</td>
										</tr>
									<% }); %>
									</tbody>
								</table>
							</div>
							<div class="field is-horizontal">
								<div class="field-body">
									<div class="field is-grouped">
										<div class="control is-expanded">
											<input id="new-streamer-name" class="input is-primary" type="text" placeholder="Username" onkeypress="return event.keyCode !== 13;">
											<span class="help">For YouTube Gaming streams, use <a href="http://johnnythetank.github.io/youtube-channel-name-converter">this website</a> to get the corresponding channel ID for a channel name or username.</span>
										</div>
										<div class="control">
											<span class="select is-primary">
												<select id="new-streamer-type">
													<option value="twitch">Twitch</option>
													<option value="ytg">YouTube Gaming</option>
												</select>
											</span>
										</div>
										<div class="control">
											<a class="button is-primary" onclick="newStreamer();">
												<span class="icon">
										        	<i class="fa fa-plus"></i>
										    	</span>
										    	<span>Add</span>
											</a>
										</div>
									</div>
								</div>
							</div>
						<br>
						<% var formButtonsUnsaved = false; %>
						<% include ../partials/form-buttons %>
						<% include ../partials/form-buttons-bar %>
					</form>
				</div>
			</div>
		</div>
	</section>

	<% include ../partials/footer %>
	<% include ../partials/scroll-top-button %>
</body>
</html>
