<!DOCTYPE html>
<html lang="en">
<head>
	<title><%= serverData.name %> Tag Reaction - GAwesomeBot Admin Console</title>
	<% include ../partials/head %>

	<script>
	function newReaction() {
		var newReactionMessage = $("#new-reaction-message");
		if(newReactionMessage.val()) {
			newReactionMessage.removeClass("is-danger");
		} else {
			newReactionMessage.addClass("is-danger");
		}

		if(newReactionMessage.val()) {
			$.ajax({
				type: "POST",
				url: "<%= currentPage %>",
				data: {
					"new-message": newReactionMessage.val()
				},
				success: function() {
					GAwesomeUtil.SFS();
					$("#form").submit();
					Turbolinks.visit("");
				}
			});
		}
	}
	</script>
</head>
<body onload="GAwesomeUtil.SFS();">
	<% include ../partials/dashboard-header %>
	<% include ../partials/dashboard-socket-updates %>

	<section class="section is-white">
		<div class="container">
			<div class="columns">
				<div id="menu" class="column is-one-quarter">
					<% include ../partials/admin-menu %>
				</div>
				<div class="column">
					<h1 class="title">
						GAwesomeBot Tag Reaction
					</h1>
					<article class="message is-primary">
						<div class="message-body">
							This is what happens when <strong>GAwesomeBot is @mentioned</strong> in chat. You can disable the response altogether or create a list of possible responses that will be chosen from randomly.
						</div>
					</article>
					<form id="form" onsubmit="GAwesomeUtil.submitForm(); return false;">
						<div class="field">
							<p class="control">
								<label class="checkbox">
								<input name="isEnabled" type="checkbox" onclick="$('#tag_reaction-options').toggleClass('is-hidden');" <%= configData.tag_reaction.isEnabled ? "checked" : "" %>>
									Repond when tagged in chat
								</label>
							</p>
							<ul id="tag_reaction-options" class="<%= configData.tag_reaction.isEnabled ? '' : 'is-hidden' %>">
								<% configData.tag_reaction.messages.forEach((message, i) => { %>
									<li>
                                        <input type="checkbox" id="tag_reaction-<%= i %>-removed" name="tag_reaction-<%= i %>-removed" style="display: none;">
                                        <button class="button is-small is-white" name="tag_reaction-<%= i %>-removed" onclick="$('#tag_reaction-<%= i %>-removed').attr('checked', true); GAwesomeUtil.SFS(); Turbolinks.visit('');">
											<span class="icon is-small" style="margin-left: -2px;">
												<i class="fa fa-times"></i>
											</span>
										</button>
										<%- message.replace("@user", "<strong>@user</strong>").replace("@mention", "<strong>@mention</strong>") %>
									</li>
								<% }); %>
							</ul>
						</div>
						<div class="field is-horizontal">
							<div class="field-body">
								<div class="field is-grouped">
									<div class="control is-expanded">
										<input id="new-reaction-message" class="input is-primary" type="text" maxlength="2000" placeholder="Response message" onkeypress="return event.keyCode !== 13;">
										<span class="help"><code>@mention</code> to mention member. <code>@user</code> for username.</span>
									</div>
									<div class="control">
										<a class="button is-primary" onclick="newReaction();">
											<span class="icon">
										        <i class="fa fa-plus"></i>
										    </span>
										    <span>Add</span>
										</a>
									</div>
								</div>
							</div>
						</div>
						<br>
						<% var formButtonsUnsaved = false; %>
						<% include ../partials/form-buttons %>
						<% include ../partials/form-buttons-bar %>
					</form>
				</div>
			</div>
		</div>
	</section>

	<% include ../partials/footer %>
	<% include ../partials/scroll-top-button %>
</body>
</html>
