<!DOCTYPE html>
<html>
<head>
	<title><%= serverData.name %> Moderation - AwesomeBot Admin Console</title>
	<% include ../partials/head %>
	<script src="/static/js/form-change-listener.js"></script>
</head>
<body onload="saveFormState();">
	<% include ../partials/dashboard-header %>
	<% include ../partials/dashboard-socket-updates %>

	<section class="section is-white">
		<div class="container">
			<div class="columns">
				<div id="menu" class="column is-one-quarter">
					<% include ../partials/admin-menu %>
				</div>
				<div class="column">
					<h1 class="title">
						Moderation
					</h1>
					<div class="container">
						<article class="message is-primary">
							<div class="message-body">
								<div class="content">
									All of AwesomeBot's <strong>moderation features</strong> can be toggled below, including member messages and filters. There are also some miscellaneous moderation options in this section.
								</div>
							</div>
						</article>
					</div>
					<br>
					<div class="container">
						<form id="form" action="<%= currentPage %>?svrid=<%= serverData.id %>" method="post">
							<p class="control">
								<label class="checkbox" >
								<input name="isEnabled" type="checkbox" onclick="$('.moderation-feature').toggleClass('is-hidden');" <%= configData.moderation.isEnabled ? "checked" : "" %>>
									Act as a <strong>super-smart</strong> server moderator
								</label>
							</p>
							<span class="moderation-feature<%= configData.moderation.isEnabled ? '' : ' is-hidden' %>">
								<br>
								<h4 class="subtitle is-4">
									Autokick Members
								</h4>
								<p class="control">
									<label class="checkbox" >
									<input name="autokick_members-isEnabled" type="checkbox" <%= configData.moderation.autokick_members.isEnabled ? "checked" : "" %>>
										Automatically kick members after&nbsp;
									</label>
									<span class="select is-small">
										<select name="autokick_members-max_inactivity">
											<option value="43200000"<%= configData.moderation.autokick_members.max_inactivity==43200000 ? " selected" : "" %>>12 hours</option>
											<option value="86400000"<%= configData.moderation.autokick_members.max_inactivity==86400000 ? " selected" : "" %>>24 hours</option>
											<option value="172800000"<%= configData.moderation.autokick_members.max_inactivity==172800000 ? " selected" : "" %>>2 days</option>
											<option value="604800000"<%= configData.moderation.autokick_members.max_inactivity==604800000 ? " selected" : "" %>>1 week</option>
											<option value="1209600000"<%= configData.moderation.autokick_members.max_inactivity==1209600000 ? " selected" : "" %>>2 weeks</option>
											<option value="2592000000"<%= configData.moderation.autokick_members.max_inactivity==2592000000 ? " selected" : "" %>>30 days</option>
										</select>
									</span>
									<span class="help">Members that have not sent a message or joined a voice channel for this length of time will be automatically kicked from the server.</span>
								</p>
							</span>
							<span class="moderation-feature<%= configData.moderation.isEnabled ? '' : ' is-hidden' %>">
								<br>
								<h4 class="subtitle is-4">
									New Member Roles
								</h4>
								<p class="control">
									<% for(var i=0; i<roleData.length; i++) { %>
										<label class="checkbox">
										<input name="new_member_roles-<%= roleData[i].id %>" type="checkbox"<%= configData.moderation.new_member_roles.indexOf(roleData[i].id)>-1 ? " checked" : "" %>>
											<span style="color: #<%= roleData[i].color %>;" title="<%= roleData[i].name %>"><%= roleData[i].name %></span>
										</label>
										<br>
									<% } %>
									<span class="help">New members will be automatically assigned the selected roles.</span>
								</p>
							</span>
							<span class="moderation-feature<%= configData.moderation.isEnabled ? '' : ' is-hidden' %>">
								<br>
								<h4 class="subtitle is-4">
									Logging
								</h4>
								<article class="message is-primary">
									<div class="message-body">
										<div class="content">
											AwesomeBot's modlog feature makes it easy for moderators to keep track of why members have been muted, kicked, and banned. It is integrated with other AwesomeBot moderation commands: <code>ban</code>, <code>kick</code>, <code>mute</code>, <code>reason</code>, <code>softban</code>, <code>unban</code>, <code>unmute</code>, <code>warn</code>. Moderation logging works as a full replacement for kick/ban status messages, and stores incidents as cases with reasons for each action.
										</div>
									</div>
								</article>
								<p class="control">
									<label class="checkbox" >
									<input name="modlog-isEnabled" type="checkbox" onclick="$('.modlog-options').toggleClass('is-hidden');" <%= configData.modlog.isEnabled ? "checked" : "" %>>
										Enable AwesomeBot moderation logging&nbsp;
										<span class="select is-small modlog-options <%= configData.modlog.isEnabled ? '' : 'is-hidden' %>">
											<select name="modlog-channel_id">
												<% for(var i=0; i<channelData.length; i++) { %>
													<option value="<%= channelData[i].id %>" <%= configData.modlog.channel_id==channelData[i].id ? "selected" : "" %>>#<%= channelData[i].name %></option>
												<% } %>
											</select>
										</span>
									</label>
								</p>
							</span>
							<br>
							<% var formButtonsUnsaved = false; %>
							<% include ../partials/form-buttons %>
							<% include ../partials/form-buttons-bar %>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>

	<% include ../partials/footer %>
	<% include ../partials/scroll-top-button %>
</body>
</html>
