<!DOCTYPE html>
<html lang="en">
<head>
	<title><%= serverData.name %> Admins - GAwesomeBot Admin Console</title>
	<% include ../partials/head %>
    <script>
	function newAdmin() {
		var newAdminRole = $("#new-admin-role_id");
		if(newAdminRole.val()) {
			newAdminRole.removeClass("is-danger");
		} else {
			newAdminRole.addClass("is-danger");
		}

		var newAdminLevel = $("#new-admin-level");
		if(newAdminLevel.val()) {
			newAdminLevel.removeClass("is-danger");
		} else {
			newAdminLevel.addClass("is-danger");
		}

		if(newAdminRole.val() && newAdminLevel.val()) {
			GAwesomeData.HUM = true;
			$.ajax({
				type: "POST",
				url: "<%= currentPage %>",
				data: {
					"new-role_id": newAdminRole.val(),
					"new-level": newAdminLevel.val()
				},
				success: function() {
				  Turbolinks.visit('');
				}
			});
		}
	}
	</script>
</head>
<body>
	<% include ../partials/dashboard-header %>
	<% include ../partials/dashboard-socket-updates %>

	<section class="section is-white">
		<div class="container">
			<div class="columns">
				<div id="menu" class="column is-one-quarter">
					<% include ../partials/admin-menu %>
				</div>
				<div class="column">
					<h1 class="title">
						Bot Admins on <%= serverData.name %>
					</h1>
					<article class="message is-primary">
						<div class="message-body">
							<div class="content">
								<strong>Admins</strong> are server members that belong to the roles you can set below. They can use admin commands, receive admin notifications, and login to this admin console. Every admin role has one of three <strong>permission levels</strong>:
								<ol>
									<li>
										Use commands and features marked admin-only
									</li>
									<li>
										Use commands and features marked admin-only<br>
										Receive admin alerts from users and about filter violations
									</li>
									<li>
										Use commands and features marked admin-only<br>
										Receive admin alerts from users and about filter violations<br>
										Login to and edit items in the admin console (you are here)
									</li>
								</ol>
								The server owner bypasses all Admin levels.
							</div>
						</div>
					</article>
					<form id="form" action="<%= currentPage %>" method="post" onsubmit="return false;">
						<div class="field" style="overflow-x: scroll;">
                            <%- include("../partials/no-results", { isHidden: configData.admins.length, isSearchQuery: false, description: "There are no admin roles on this server, so only the server owner can access this admin console and use admin-only commands. Select a role below to add as an admin." }) %>
							<table class="table is-fullwidth<%= configData.admins.length ? "" : " is-hidden" %>">
								<thead>
								<tr>
									<th>Role Name</th>
									<th>Level</th>
									<th></th>
								</tr>
								</thead>
								<tbody>
								<% configData.admins.forEach(admin => { %>
								<tr>
									<td>
										<%= admin.name %>
									</td>
									<td>
										<%= admin.level %>
									</td>
									<td>
										<button class="button is-small is-danger" name="<%= admin._id %>" onclick="GAwesomeUtil.dashboard.removeTableElement(this);">
											<span>Remove</span>
											<span class="icon is-small">
												<i class="fa fa-times"></i>
											</span>
										</button>
									</td>
								</tr>
								<% }) %>
								</tbody>
							</table>
						</div>
						<% if (pageData.roleData.length > 0) { %>
							<div class="field is-horizontal">
								<div class="field-body">
									<div class="field is-grouped">
										<div class="control">
											<span class="select is-primary">
												<select id="new-admin-role_id">
													<% pageData.roleData.forEach( role => { %>
														<option value="<%= role.id %>"><%= role.name %></option>
													<% }); %>
												</select>
											</span>
										</div>
										<div class="control">
											<input id="new-admin-level" class="input is-primary" type="number" value="1" min="1" max="3" title="Admin permission level" onkeypress="return event.keyCode !== 13;">
										</div>
										<div class="control">
											<a class="button is-primary" onclick="newAdmin(); return false;">
												<span class="icon">
											        <i class="fa fa-plus"></i>
											    </span>
											    <span>Add</span>
											</a>
										</div>
									</div>
								</div>
							</div>
							<span class="help">Select a role that should be added as a Bot Admin role for this server. Descriptions of the three admin permission levels are listed in the help box above.</span>
						<% } %>
					</form>
				</div>
			</div>
		</div>
		<script>GAwesomeUtil.setUserAutocomplete('<%= serverData.id %>');</script>
	</section>

	<% include ../partials/footer %>
	<% include ../partials/scroll-top-button %>
</body>
</html>
