<!DOCTYPE html>
<html lang="en">
<head>
	<title><%= serverData.name %> Strikes - GAwesomeBot Admin Console</title>
	<% include ../partials/head %>
	<script>
	function newStrike(member) {
		var newStrikeMember = $("#new-strike-member");
		if(!member) {
			if(newStrikeMember.val()) {
				newStrikeMember.removeClass("is-danger");
			} else {
				newStrikeMember.addClass("is-danger");
			}
		}

		var newStrikeReason = $("#" + (member || "new") + "-strike-reason");
		if(newStrikeReason.val()) {
			newStrikeReason.removeClass("is-danger");
		} else {
			newStrikeReason.addClass("is-danger");
		}

		if((member || newStrikeMember.val()) && newStrikeReason.val()) {
			$.ajax({
				type: "POST",
				url: "<%= currentPage %>",
				data: {
					"new-member": member || newStrikeMember.val(),
					"new-reason": newStrikeReason.val()
				},
				success: function() {
					GAwesomeUtil.SFS();
				  Turbolinks.visit('');
				}
			});
		}
	}

	var removewait = false;
	function removeStrike(strike){
		if(!removewait){
			removewait = true;
			const send = {};
			send[strike.id] = "";
			const parts = strike.id.split("-");
			$.ajax({
				type: "POST",
				url: "<%= currentPage %>",
				data: send,
				success: function() {
					const docs = document.getElementsByClassName('strikes-' + parts[1]);
					if(docs.length <= 1) Turbolinks.visit("");
					const remove = document.getElementById("removestrike-" + parts[1] + "-" + parts[2]).parentNode.parentNode;
					document.getElementById("removestrike-" + parts[1] + "-" + parts[2]).parentNode.parentNode.parentNode.removeChild(remove);
					for (i = 0; i < docs.length; i++) {
						const bits = docs[i].id.split("-");
						docs[i].id = bits[0] + "-" + bits[1] + "-" + i;
					}
					removewait = false;
				}
			});
			return false;
		}
	}
	</script>
</head>
<body onload="GAwesomeUtil.SFS();">
	<% include ../partials/dashboard-header %>
	<% include ../partials/dashboard-socket-updates %>

	<section class="section is-white">
		<div class="container">
			<div class="columns">
				<div id="menu" class="column is-one-quarter">
					<% include ../partials/admin-menu %>
				</div>
				<div class="column">
					<h1 class="title">
						Strikes
					</h1>
					<article class="message is-primary">
						<div class="message-body">
							<div class="content">
								Strikes are the best way for moderators to <strong>keep track of rule violations</strong> by members on your server. You can add strikes when a user does something wrong, and strikes are automatically added for filter violations. <strong>It is impossible to strike Bot Admins.</strong>
							</div>
						</div>
					</article>
					<form id="form" onsubmit="GAwesomeUtil.submitForm(); Turbolinks.visit(''); return false;">
						<div class="field" style="overflow-x: scroll;">
							<% if (configData.strikes.length > 0) { %>
							<table class="table is-fullwidth">
								<thead>
								<tr>
									<th></th>
									<th>Username</th>
									<th>ID</th>
									<th></th>
								</tr>
								</thead>
								<tbody>
								<% configData.strikes.forEach(strike => { %>
								<tr>
									<td>
										<img class="image is-24x24" src="<%= strike.avatar %>" alt="<%= strike.id %>">
									</td>
									<td>
										<%= strike.name %>
									</td>
									<td>
										<%= strike.id %>
									</td>
									<td>
										<div class="field is-grouped">
											<div class="control">
											<a class="button modal-button is-small" data-target="#strikes-<%= strike.id %>-modal">
												<span class="icon is-small">
													<i class="fa fa-eye"></i>
												</span>
												<span>View</span>
											</a>
											</div>
											<div class="control">
											<a class="button modal-button is-small is-primary" data-target="#strikes-<%= strike.id %>-add-modal">
												<span class="icon is-small">
													<i class="fa fa-plus"></i>
												</span>
												<span>Add</span>
											</a>
											</div>
											<div class="control">
											<input type="checkbox" id="strikes-<%= strike.id %>-removeall" name="strikes-<%= strike.id %>-removeall" style="display: none;">
											<button class="button is-small is-danger" name="strikes-<%= strike.id %>-removeall" onclick="$('#strikes-<%= strike.id %>-removeall').attr('checked', true); GAwesomeUtil.SFS();">
												<span>Remove All</span>
												<span class="icon is-small">
													<i class="fa fa-times"></i>
												</span>
											</button>
											</div>
										</div>
									</td>
								</tr>
								<div id="strikes-<%= strike.id %>-modal" class="modal">
									<div class="modal-background"></div>
									<div class="modal-content">
										<div class="box">
												<h4 class="subtitle is-4">
													Strikes for <strong>@<%= strike.name %></strong>
												</h4>
												<% strike.strikes.forEach(subStrike => { %>
												<article class="media">
													<div class="media-left">
														<img class="image is-64x64" src="<%= subStrike.creator.avatar %>" alt="<%= subStrike.creator.id %>">
													</div>
													<div class="media-content">
														<div class="content">
															<h5 class="title is-5" title="<%= subStrike.rawDate %>"><%= subStrike.relativeDate %></h5>
															<h6 class="subtitle is-6" style="-webkit-margin-after: 0.5em;">Added by <strong>@<%= subStrike.creator.name %></strong></h6>
															<%- subStrike.reason %>
														</div>
													</div>
													<div class="media-right">
														<span class="strikes-<%= strike.id %>" id="removestrike-<%= strike.id %>-<%= subStrike.id %>">
															<button class="delete is-medium" onclick="removeStrike(this.parentNode); return false"></button>
														</span>
													</div>
												</article>
												<% }); %>
											</div>
										</div>
									<button class="modal-close is-large"></button>
								</div>
								<div id="strikes-<%= strike.id %>-add-modal" class="modal">
									<div class="modal-background"></div>
									<div class="modal-content">
										<div class="box">
											<h4 class="subtitle is-4">
												Add a strike for <strong>@<%= strike.name %></strong>
											</h4>
											<div class="field is-horizontal">
												<div class="field-body">
													<div class="field is-grouped">
														<div class="control is-expanded">
															<input id="<%= strike.id %>-strike-reason" class="input is-primary" type="text" placeholder="Reason" minlength="1" maxlength="2000">
														</div>
														<div class="control">
															<a class="button is-primary" onclick="newStrike('<%= strike.id %>');">
																<span class="icon">
																	<i class="fa fa-plus"></i>
																</span>
																<span>Add</span>
															</a>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<button class="modal-close is-large"></button>
								</div>
								<% }); %>
								</tbody>
							</table>
							<% } else { %>
							<article class="message is-embedded-message">
								<div class="message-header">
									<p>
										<span class="icon">
											<i class="fa fa-meh-o"></i>
										</span>
										Nothing to see here
									</p>
								</div>
								<div class="message-body">
									There aren't any strikes on this server. Type the name of a user below and a reason to add a strike.
								</div>
							</article>
							<br>
							<% } %>
						</div>
						<div class="field is-horizontal">
							<div class="field-body">
								<div class="field is-grouped">
									<div class="control">
										<input id="new-strike-member" class="input is-primary user-autocomplete" type="text" placeholder="Username" onkeypress="return event.keyCode !== 13;">
									</div>
									<div class="control is-expanded">
										<input id="new-strike-reason" class="input is-primary" type="text" placeholder="Reason" onkeypress="return event.keyCode !== 13;">
									</div>
									<div class="control">
										<a class="button is-primary" onclick="newStrike();">
											<span class="icon">
										        <i class="fa fa-plus"></i>
										    </span>
										    <span>Add</span>
										</a>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<script>GAwesomeUtil.setUserAutocomplete('<%= serverData.id %>');</script>
	</section>

	<% include ../partials/footer %>
	<% include ../partials/scroll-top-button %>
</body>
</html>
