<!DOCTYPE html>
<html>
<head>
	<title><%= serverData.name %> Name Display - AwesomeBot Admin Console</title>
	<% include ../partials/head %>

	<script src="/static/js/form-change-listener.js"></script>
</head>
<body onload="saveFormState();">
	<% include ../partials/dashboard-header %>
	<% include ../partials/dashboard-socket-updates %>

	<section class="section is-white">
		<div class="container">
			<div class="columns">
				<div id="menu" class="column is-one-quarter">
					<% include ../partials/admin-menu %>
				</div>
				<div class="column">
					<h1 class="title">
						Username Display
					</h1>
					<div class="container">
						<article class="message is-primary">
							<div class="message-body">
								<div class="content">
									This section lets you control <strong>how usernames look</strong> on your server. Should AwesomeBot use member nicknames if available? Do you want the 0-9999 username discriminator to be shown? The preview below shows how your name would be displayed with the current settings. It's updated when you hit the save button.
								</div>
							</div>
						</article>
					</div>
					<br>
					<div class="container">
						<form id="form" action="<%= currentPage %>?svrid=<%= serverData.id %>" method="post">
							<div class="box hero is-small">
								<div class="hero-body">
									<div class="container has-text-centered">
										<h2 class="subtitle">
											Example with current settings:
										</h2>
										<h1 class="title">
											<%= nameExample %>
										</h1>
									</div>
								</div>
							</div>
							<p class="control">
								<label class="checkbox">
								<input name="name_display-use_nick" type="checkbox" <%= configData.name_display.use_nick ? "checked" : "" %>>
									Use member <strong>nickname</strong> if available
								</label>
								<span class="help">Nicknames are assigned per-server. Discord uses them in place of usernames in the member list.</span>
							</p>
							<p class="control">
								<label class="checkbox">
								<input name="name_display-show_discriminator" type="checkbox" <%= configData.name_display.show_discriminator ? "checked" : "" %>>
									Show user <strong>discriminator</strong> after name
								</label>
								<span class="help">0-9999 number that distinguishes a user from the 10000 others that could have the same username.</span>
							</p>
							<br>
							<% var formButtonsUnsaved = false; %>
							<% include ../partials/form-buttons %>
							<% include ../partials/form-buttons-bar %>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>

	<% include ../partials/footer %>
	<% include ../partials/scroll-top-button %>
</body>
</html>
