<!DOCTYPE html>
<html>
<head>
	<title><%= serverData.name %> Blocked - AwesomeBot Admin Console</title>
	<% include ../partials/head %>

	<link rel="stylesheet" href="/static/css/auto-complete.css">
	<script src="/static/js/auto-complete.min.js"></script>
	<script>
	function newBlock() {
		var newBlockMember = $("#new-block-member");
		if(newBlockMember.val()) {
			newBlockMember.removeClass("is-danger");
		} else {
			newBlockMember.addClass("is-danger");
		}

		if(newBlockMember.val()) {
			hide_update_modal = true;
			$.ajax({
				type: "POST",
				url: "<%= currentPage %>?svrid=<%= serverData.id %>",
				data: {
					"new-member": newBlockMember.val()
				},
				success: function() {
					$("#form").submit();
				}
			});
		}
	}
	</script>
</head>
<body onload="setUserAutocomplete('<%= serverData.id %>');">
	<% include ../partials/dashboard-header %>
	<% include ../partials/dashboard-socket-updates %>

	<section class="section is-white">
		<div class="container">
			<div class="columns">
				<div id="menu" class="column is-one-quarter">
					<% include ../partials/admin-menu %>
				</div>
				<div class="column">
					<h1 class="title">
						Blocked Members
					</h1>
					<div class="container">
						<article class="message is-primary">
							<div class="message-body">
								<div class="content">
									These users will <strong>not</strong> be permitted to use the bot at all on this server, including PM commands that reference this server. Filters will <strong>still apply</strong> to blocked members, however. You can't block members that have an admin level of 1 or higher.
								</div>
							</div>
						</article>
					</div>
					<br>
					<div class="container">
						<form id="form" action="<%= currentPage %>?svrid=<%= serverData.id %>" method="post">
							<div style="overflow-x: scroll;">
								<% if(configData.blocked.length>0) { %>
									<table class="table">
										<thead>
											<tr>
												<th></th>
												<th>Username</th>
												<th>ID</th>
												<th></th>
											</tr>
										</thead>
										<tbody>
											<% for(var i=0; i<configData.blocked.length; i++) { %>
												<tr>
													<td>
														<img class="image is-24x24" src="<%= configData.blocked[i].avatar %>" alt="<%= configData.blocked[i].id %>">
													</td>
													<td>
														<%= configData.blocked[i].name %>
														<% if(configData.blocked[i].isGlobal) { %>
															&nbsp;
															<span class="tag">Global</span>
														<% } %>
													</td>
													<td>
														<%= configData.blocked[i].id %>
													</td>
													<td>
														<button class="button is-small is-danger" name="block-<%= i %>-removed" onclick="hide_update_modal = true;">
															<span>Remove</span>
															<span class="icon is-small">
																<i class="fa fa-times"></i>
															</span>
														</button>
													</td>
												</tr>
											<% } %>
										</tbody>
									</table>
								<% } else { %>
									<article class="message">
										<div class="message-header">
											<span class="icon">
												<i class="fa fa-meh-o"></i>
											</span>
											<span>Nothing to see here</span>
										</div>
										<div class="message-body">
											There are no blocked members on this server. Type the name of a user below to add one.
										</div>
									</article>
									<br>
								<% } %>
							</div>
							<div class="control is-horizontal">
								<div class="control is-grouped">
									<p class="control is-expanded">
										<input id="new-block-member" class="input user-autocomplete" type="text" placeholder="Username" onkeypress="return event.keyCode != 13;">
									</p>
									<p class="control">
										<a class="button is-primary" onclick="newBlock();">
											<span class="icon">
										        <i class="fa fa-ban"></i>
										    </span>
										    <span>Block</span>
										</a>
									</p>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>

	<% include ../partials/footer %>
	<% include ../partials/scroll-top-button %>
</body>
</html>
