<!DOCTYPE html>
<html>
<head>
	<title><%= serverData.name %> Trivia Sets - AwesomeBot Admin Console</title>
	<% include ../partials/head %>

	<script src="/static/js/form-change-listener.js"></script>
	<script>
	function newTrivia() {
		var newTriviaName = $("#new-trivia-name");
		if(newTriviaName.val()) {
			newTriviaName.removeClass("is-danger");
		} else {
			newTriviaName.addClass("is-danger");
		}

		var newTriviaFile = document.getElementById("new-trivia-file").files[0];
		if(newTriviaFile) {
			$("#new-trivia-file").removeClass("is-danger");
		} else {
			$("#new-trivia-file").addClass("is-danger");
		}

		if(newTriviaName.val() && newTriviaFile) {
			var reader = new FileReader();
	        reader.onload = function(event) {
	            $.ajax({
					type: "POST",
					url: "<%= currentPage %>?svrid=<%= serverData.id %>",
					data: {
						"new-name": newTriviaName.val(),
						"new-items": event.target.result,
					},
					success: function() {
						saveFormState();
						$("#form").submit();
					}
				});
	        };
	        reader.readAsText(newTriviaFile);
		}
	}
	</script>
</head>
<body onload="saveFormState();">
	<% include ../partials/dashboard-header %>
	<% include ../partials/dashboard-socket-updates %>

	<section class="section is-white">
		<div class="container">
			<div class="columns">
				<div id="menu" class="column is-one-quarter">
					<% include ../partials/admin-menu %>
				</div>
				<div class="column">
					<h1 class="title">
						Custom Trivia Sets
					</h1>
					<div class="container">
						<article class="message is-primary">
							<div class="message-body">
								AwesomeBot's built-in trivia set is great, but you might want to add a <strong>custom question bank</strong> specific to your server. Trivia sets can be accessed from the <code>trivia</code> command and are uploaded as <strong>JSON</strong> files.
							</div>
						</article>
					</div>
					<br>
					<div class="container">
						<form id="form" action="<%= currentPage %>?svrid=<%= serverData.id %>" method="post">
							<div style="overflow-x: scroll;">
								<% if(configData.trivia_sets.length>0) { %>
									<table class="table">
										<thead>
											<tr>
												<th>Name</th>
												<th>Questions</th>
												<th></th>
											</tr>
										</thead>
										<tbody>
											<% for(var i=0; i<configData.trivia_sets.length; i++) { %>
												<td>
													<%= configData.trivia_sets[i]._id %>
												</td>
												<td>
													<%= configData.trivia_sets[i].items.length %>
												</td>
												<td>
													<a class="button is-small" href="<%= currentPage %>?svrid=<%= serverData.id %>&i=<%= i %>" target="_blank">
														<span>Download</span>
														<span class="icon is-small">
															<i class="fa fa-download"></i>
														</span>
													</a>
													&nbsp;
													<button class="button is-small is-danger" name="trivia_set-<%= i %>-removed" onclick="saveFormState();">
														<span>Remove</span>
														<span class="icon is-small">
															<i class="fa fa-times"></i>
														</span>
													</button>
												</td>
											<% } %>
										</tbody>
									</table>
								<% } else { %>
									<article class="message">
										<div class="message-header">
											<span class="icon">
												<i class="fa fa-meh-o"></i>
											</span>
											<span>Nothing to see here</span>
										</div>
										<div class="message-body">
											You haven't uploaded any custom trivia sets yet. Select a file below to get started.
										</div>
									</article>
									<br>
								<% } %>
							</div>
							<div class="control is-horizontal">
								<div class="control is-grouped">
									<p class="control is-expanded">
										<input id="new-trivia-name" class="input" type="text" minlength="1" maxlength="50" placeholder="Name">
									</p>
									<p class="control">
										<input id="new-trivia-file" class="button" type="file" accept="application/static/json" style="padding: 6px;">
									</p>
									<p class="control">
										<a class="button is-primary" onclick="newTrivia();">
											<span class="icon">
										        <i class="fa fa-upload"></i>
										    </span>
										    <span>Upload</span>
										</a>
									</p>
								</div>
							</div>
							<br>
							<% var formButtonsUnsaved = false; %>
							<% include ../partials/form-buttons %>
							<% include ../partials/form-buttons-bar %>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>

	<% include ../partials/footer %>
	<% include ../partials/scroll-top-button %>
</body>
</html>
