<!DOCTYPE html>
<html>
<head>
	<title><%= serverData.name %> Command List - AwesomeBot Admin Console</title>
	<% include ../partials/head %>
	<script src="/static/js/form-change-listener.js"></script>
</head>
<body onload="saveFormState();">
	<% include ../partials/dashboard-header %>
	<% include ../partials/dashboard-socket-updates %>

	<section class="section is-white">
		<div class="container">
			<div class="columns">
				<div id="menu" class="column is-one-quarter">
					<% include ../partials/admin-menu %>
				</div>
				<div class="column">
					<h1 class="title">
						Command List
					</h1>
					<div class="container">
						<article class="message is-primary">
							<div class="message-body">
								<div class="content">
									<strong>All AwesomeBot commands</strong> are listed here. You can change <strong>who</strong> can use them and <strong>where</strong>. Some things to keep in mind:
									<ul>
										<li>
											Admin-only commands can only be activated by members who have an admin role that is level 1 or higher. Other users will not receive a response if they try to use an admin-only command.
										</li>
										<li>
											You can restrict commands to certain channels. They will not be accessible elsewhere. It's best not to use this for some core commands like <code>ping</code>, <code>help</code>, and <code>join</code>.
										</li>
									</ul>
								</div>
							</div>
						</article>
					</div>
					<br>
					<div class="container">
						<form id="form" action="<%= currentPage %>?svrid=<%= serverData.id %>" method="post">
							<a class="button modal-button" data-target="#command-preset-modal">
								<span class="icon is-small">
									<i class="fa fa-cog"></i>
								</span>
								<span>Apply Preset</span>
							</a>
							<div id="command-preset-modal" class="modal">
								<div class="modal-background"></div>
								<div class="modal-container">
									<div class="modal-content">
										<div class="box">
											<h4 class="subtitle is-4">
												Command options preset
											</h4>
											<label class="label">Permissions</label>
											<p class="control">
												<span class="select">
													<select name="preset-admin_level">
														<option value="0">@everyone</option>
														<option value="1">Admin level &ge;1</option>
														<option value="2">Admin level &ge;2</option>
														<option value="3">Admin level &ge;3</option>
													</select>
												</span>
												<span class="help">Commands will only respond to members that have the selected bot admin level (or higher).</span>
											</p>
											<label class="label">Channel(s)</label>
											<% for(var i=0; i<channelData.length; i++) { %>
												<label class="checkbox">
												<input name="preset-disabled_channel_ids-<%= channelData[i].id %>" class="preset-disabled_channel_ids" type="checkbox" checked>
													#<%= channelData[i].name %>
												</label>
												<br>
											<% } %>
											<p class="control has-addons">
												<a class="button is-small" onclick="toggleChannels('preset-disabled_channel_ids', true);">
													<span>Select All</span>
												</a>
												<a class="button is-small" onclick="toggleChannels('preset-disabled_channel_ids', false);">
													<span>Deselect All</span>
												</a>
											</p>
											<span class="help">Commands will run only in these channels.</span>
											<br>
											<button name="preset-applied" class="button is-primary" onclick="saveFormState();">
												<span class="icon is-small">
													<i class="fa fa-asterisk"></i>
												</span>
												<span>Apply to all commands</span>
											</button>
										</div>
									</div>
								</div>
								<a class="modal-close"></a>
							</div>
							<br><br>
							<% for(var command in commandCategories) { %>
								<% if(command!="stats") { %>
									<% var commandData = configData.commands[command];commandData.name = command;commandData.description = commandDescriptions[command];commandData.category = commandCategories[command]; %>
									<% include ../partials/admin-command-item %>
								<% } %>
							<% } %>
							<br>
							<% var formButtonsUnsaved = false; %>
							<% include ../partials/form-buttons %>
							<% include ../partials/form-buttons-bar %>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>

	<% include ../partials/footer %>
	<% include ../partials/scroll-top-button %>
</body>
</html>
