<!DOCTYPE html>
<html lang="en">
<head>
	<title><%= serverData.name %> Extensions - GAwesomeBot Admin Console</title>
	<% include ../partials/head %>
</head>
<body>
<% include ../partials/dashboard-header %>
<% include ../partials/dashboard-socket-updates %>

<section class="section is-white">
	<div class="container">
		<div class="columns">
			<div id="menu" class="column is-one-quarter">
				<% include ../partials/admin-menu %>
			</div>
			<div class="column">
				<h1 class="title">
					Extensions
				</h1>
				<article class="message is-primary">
					<div class="message-body">
						<div class="content">
							Extensions! With extensions, you can write custom addons for GAwesomeBot on your server, including <strong>commands</strong>, <strong>keyword responses</strong>, and extensions that run on a <strong>timer</strong> or <strong>event</strong>. Extensions are written in <strong>JavaScript</strong> and run in a sandbox with access to the GAwesomeBot Code API. Read the docs <a href="/wiki/Extensions">here</a>.
						</div>
					</div>
				</article>
				<%- include("../partials/no-results", { isHidden: configData.extensions.length, isSearchQuery: false, description: "There are no extensions installed on this server. Head over to the <a href='/extensions'>Extension Gallery</a> to install one or build your own." }) %>
				<% let extensionData; %>
				<% configData.extensions.forEach(extensionConfigDocument => { %>
					<% extensionData = pageData.extensionData.id(extensionConfigDocument._id); %>
					<div class="box is-paddingless generic-feature">
						<div class="generic-feature-box">
							<div class="generic-feature-box-slider has-text-success">
								<span class="icon is-medium">
                            		<i class="fa fa-circle-o fa-2x"></i>
								</span>
							</div>
							<div class="generic-feature-box-description">
								<p>
									<strong><%= extensionData.name %></strong>
									&nbsp;
									<span class="tag is-info">V<%= extensionConfigDocument.version %></span>
									&nbsp;
									<span class="tag is-primary"><%= `${extensionData.type.charAt(0).toUpperCase()}${extensionData.type.substring(1)}` %></span>
									<% if (extensionData.published_version !== extensionConfigDocument.version) { %>
									&nbsp;
									<span class="tag is-danger">Updates Available</span>
									<% } %>
								</p>
							</div>
							<div class="generic-feature-box-addon">
								<div class="buttons">
									<% if (extensionData.state !== "saved") { %>
									<a class="button is-outlined" href="/extensions/<%= extensionData.state === "version_queue" ? "queue" : extensionData.state %>?id=<%= extensionConfigDocument._id %>">
										<span class="icon">
											<i class="fa fa-eye"></i>
										</span>
										<span>View</span>
									</a>
									<% } %>
									<% if (extensionData.published_version !== extensionConfigDocument.version) { %>
									<button class="button is-primary is-outlined">
										<span class="icon">
											<i class="fa fa-arrow-circle-up"></i>
										</span>
										<span>Update</span>
									</button>
									<% } %>
									<button class="button is-info is-outlined">
										<span class="icon">
											<i class="fa fa-pencil"></i>
										</span>
										<span>Edit</span>
									</button>
									<button class="button is-danger is-outlined">
										<span class="icon">
											<i class="fa fa-times"></i>
										</span>
										<span>Remove</span>
									</button>
								</div>
							</div>
						</div>
					</div>
				<% }); %>
				<div class="field">
					<button class="button is-danger is-outlined is-fullwidth">
						<span class="icon">
							<i class="fa fa-plus"></i>
						</span>
						<span>Build New Local Extension</span>
					</button>
				</div>
			</div>
		</div>
	</div>
</section>

<% include ../partials/footer %>
<% include ../partials/scroll-top-button %>
</body>
</html>
