<!DOCTYPE html>
<html lang="en">
<head>
	<title><%= serverData.name %> Admin Console - GAwesomeBot</title>
	<% include ../partials/head %>
</head>
<body>
	<% include ../partials/dashboard-header %>

	<section class="section is-white">
		<div class="container">
			<div class="columns">
				<div id="menu" class="column is-one-quarter">
					<% include ../partials/admin-menu %>
				</div>
				<div class="column">
					<article class="message is-primary">
						<div class="message-header">
							<p>Welcome to the admin console for <strong><%= serverData.name %></strong>!</p>
						</div>
						<div class="message-body">
							The GAwesomeBot <strong>admin console</strong> gives you full access to all of the bot's <strong>settings</strong> for this server. Everything from enabling/disabling commands to creating a public server listing to muting a user to building your very own extension. The menu on the left shows the various sections of the admin console, each dedicated to a particular command or feature. This page shows an <strong>overview of this server's activity</strong> in the past week.
						</div>
					</article>
					<section class="hero is-light is-bold" style="border-radius: 3px;">
						<div class="hero-body">
							<div class="has-text-centered">
								<h1 class="title">
									<strong><%= pageData.memberCount %></strong>
								</h1>
								<h2 class="subtitle">
									<span class="icon">
					                    <i class="fa fa-user"></i>
					                </span>
									members
								</h2>
							</div>
							<br>
							<div class="has-text-centered">
								<h1 class="title">
									@<strong><%= serverData.owner.username %></strong>
								</h1>
								<h2 class="subtitle">
									<img src="<%= serverData.owner.avatar %>" class="is-avatar is-small" alt="<%= serverData.owner.id %>">
									server owner
								</h2>
							</div>
							<br>
							<div class="has-text-centered">
								<h1 class="title">
									<strong><%= pageData.messagesToday %></strong>
								</h1>
								<h2 class="subtitle">
									<span class="icon">
					                    <i class="fa fa-comments-o"></i>
					                </span>
									message<%= pageData.messagesToday === 1 ? "" : "s" %> today
								</h2>
							</div>
							<% if (pageData.topCommand) { %>
								<br>
								<div class="has-text-centered">
									<h1 class="title">
										<strong><%= pageData.topCommand %></strong>
									</h1>
									<h2 class="subtitle">
										<span class="icon">
						                    <i class="fa fa-sort-amount-desc"></i>
						                </span>
										most-used command
									</h2>
								</div>
							<% } %>
							<% if (pageData.topMember) { %>
								<br>
								<div class="has-text-centered">
									<h1 class="title">
										@<strong><%= pageData.topMember.username %></strong>
									</h1>
									<h2 class="subtitle">
										<img src="<%= pageData.topMember.avatar %>" class="is-avatar is-small" alt="<%= pageData.topMember.id %>">
										top member
									</h2>
								</div>
							<% } %>
							<% if (pageData.richestMember) { %>
								<br>
								<div class="has-text-centered">
									<h1 class="title">
										@<strong><%= pageData.richestMember.username %></strong>
									</h1>
									<h2 class="subtitle">
										<img src="<%= pageData.richestMember.avatar %>" class="is-avatar is-small" alt="<%= pageData.richestMember.id %>">
										richest member
									</h2>
								</div>
							<% } %>
						</div>
					</section>
				</div>
			</div>
		</div>
	</section>

	<% include ../partials/footer %>
	<% include ../partials/scroll-top-button %>
</body>
</html>
