<!DOCTYPE html>
<html lang="en">
<head>
	<title><%= serverData.name %> Logs - GAwesomeBot Admin Console</title>
	<% include ../partials/head %>
</head>
<body>
	<% include ../partials/dashboard-header %>

	<section class="section is-white">
		<div class="container">
			<div class="columns">
				<div id="menu" class="column is-one-quarter">
					<% include ../partials/admin-menu %>
				</div>
				<div class="column">
					<h1 class="title">
						Bot Logs
					</h1>
					<article class="message is-primary">
						<div class="message-body">
							<div class="content">
								GAwesomeBot records <strong>everything</strong> that it does on your server. This page allows you to view the <strong>past 200 log entries</strong>, in descending order.
							</div>
						</div>
					</article>
					<form id="search-form" action="<%= currentPage %>" method="get">
						<div class="field has-addons has-addons-centered">
							<div class="control">
								<span class="select is-primary">
									<select name="chid" onchange="$('#search-form').submit();">
										<option value="">All Channels</option>
										<% pageData.channelData.forEach(channel => { %>
											<option value="<%= channel.id %>"<%= pageData.channelQuery === channel.id ? " selected" : "" %>>#<%= channel.name %></option>
										<% }); %>
									</select>
								</span>
							</div>
							<div class="control is-expanded">
								<input name="q" class="input is-primary" type="text" placeholder="I'm looking for..." value="<%= pageData.searchQuery %>">
							</div>
							<div class="control">
								<button type="submit" class="button">
									<span class="icon is-small">
										<i class="fa fa-search"></i>
									</span>
									<span>Search</span>
								</button>
							</div>
						</div>
					</form>
					<br>
					<% pageData.logData.forEach(log => { %>
						<article class="media">
							<figure class="media-left">
								<span class="icon is-large" style="color: <%= log.levelColor %>;">
									<i class="fa fa-<%= log.level %> fa-2x"></i>
								</span>
							</figure>
							<div class="media-content">
								<div class="content">
									<p>
										<strong>
											<%- log.ch ? ("<span title=" + log.chid  + ">#" + log.ch + "</span>") : "" %><%- (log.ch && log.usr) ? ", " : "" %><%- log.usr ? ("<span title=" + log.usrid + ">@" + log.usr + "</span>") : "" %><% (!log.ch && !log.usr) ? "General" : "" %>
										</strong>
										<small>
											<%= log.moment %>
										</small>
										<br>
										<%= log.content %>
									</p>
								</div>
							</div>
						</article>
					<% }); %>
				</div>
			</div>
		</div>
	</section>

	<% include ../partials/footer %>
	<% include ../partials/scroll-top-button %>
</body>
</html>
