<!DOCTYPE html>
<html>
<head>
	<title><%= serverData.name %> RSS Feeds - AwesomeBot Admin Console</title>
	<% include ../partials/head %>

	<script src="/static/js/form-change-listener.js"></script>
	<script>
	function newRss() {
		var newRssUrl = $("#new-rss-url");
		if(newRssUrl.val()) {
			newRssUrl.removeClass("is-danger");
		} else {
			newRssUrl.addClass("is-danger");
		}

		var newRssName = $("#new-rss-name");
		if(newRssName.val()) {
			newRssName.removeClass("is-danger");
		} else {
			newRssName.addClass("is-danger");
		}

		if(newRssUrl.val() && newRssName.val()) {
			$.ajax({
				type: "POST",
				url: "<%= currentPage %>?svrid=<%= serverData.id %>",
				data: {
					"new-url": newRssUrl.val(),
					"new-name": newRssName.val().toLowerCase()
				},
				success: function() {
					saveFormState();
					$("#form").submit();
				}
			});
		}
	}

	function newRssUrl(site) {
	    var url = "";
	    switch(site) {
	        case "github":
	            url = "https://github.com/USERNAME/REPO/commits/master.atom";
	            break;
	        case "reddit":
	            url = "https://www.reddit.com/r/SUBREDDIT/new/.rss";
	            break;
	        case "twitter":
	            url = "http://twitrss.me/twitter_user_to_rss/?user=USERNAME";
	            break;
	    }
	    document.getElementById("new-rss-url").value = url;
	}
	</script>
</head>
<body onload="saveFormState();">
	<% include ../partials/dashboard-header %>
	<% include ../partials/dashboard-socket-updates %>

	<section class="section is-white">
		<div class="container">
			<div class="columns">
				<div id="menu" class="column is-one-quarter">
					<% include ../partials/admin-menu %>
				</div>
				<div class="column">
					<h1 class="title">
						RSS Feeds
					</h1>
					<div class="container">
						<article class="message is-primary">
							<div class="message-body">
								These <strong>RSS feeds can be accessed via the <code>rss</code> command</strong> by their unique name. For feeds that have streaming enabled, new articles will be posted in the channel you choose every 15 minutes or so. In general, RSS feeds can be used as a means to pull content from a variety of <strong>online services</strong> for which there is no built-in AwesomeBot command.
							</div>
						</article>
					</div>
					<br>
					<div class="container">
						<form id="form" action="<%= currentPage %>?svrid=<%= serverData.id %>" method="post">
							<% var commandData = configData.commands.rss;commandData.name = "rss";commandData.description = commandDescriptions.rss;commandData.category = commandCategories.rss; %>
							<% include ../partials/admin-command-item %>
							<div style="overflow-x: scroll;">
								<% if(configData.rss_feeds.length>0) { %>
									<table class="table">
										<thead>
											<tr>
												<th>Name</th>
												<th>URL</th>
												<th></th>
											</tr>
										</thead>
										<tbody>
											<% for(var i=0; i<configData.rss_feeds.length; i++) { %>
												<tr>
													<td>
														<%= configData.rss_feeds[i]._id %>
													</td>
													<td>
														<%= configData.rss_feeds[i].url %>
													</td>
													<td>
														<a class="button modal-button is-small is-primary" data-target="#rss-<%= i %>-updates-modal">
															<span class="icon is-small">
																<i class="fa fa-refresh"></i>
															</span>
															<span>Updates</span>
														</a>
														<button class="button is-small is-danger" name="rss-<%= i %>-removed" onclick="saveFormState();">
															<span>Remove</span>
															<span class="icon is-small">
																<i class="fa fa-times"></i>
															</span>
														</button>
													</td>
												</tr>
												<div id="rss-<%= i %>-updates-modal" class="modal">
													<div class="modal-background"></div>
													<div class="modal-container">
														<div class="modal-content">
															<div class="box">
																<h4 class="subtitle is-4">
																	RSS feed <strong><%= configData.rss_feeds[i]._id %></strong>
																</h4>
																<p class="control">
																	<label class="checkbox">
																	<input name="rss-<%= i %>-streaming-isEnabled" type="checkbox" onclick="$('#rss-<%= i %>-streaming-options').toggleClass('is-hidden');" <%= configData.rss_feeds[i].streaming.isEnabled ? "checked" : "" %>>
																		Send <strong>streaming RSS updates</strong> in these channels:
																	</label>
																	<span id="rss-<%= i %>-streaming-options" class="<%= configData.rss_feeds[i].streaming.isEnabled ? '' : 'is-hidden' %>">
																		<% for(var j=0; j<channelData.length; j++) { %>
																			<br>
																			&nbsp;&nbsp;&nbsp;
																			<label class="checkbox">
																			<input name="rss-<%= i %>-streaming-enabled_channel_ids-<%= channelData[j].id %>" type="checkbox" <%= configData.rss_feeds[i].streaming.enabled_channel_ids.indexOf(channelData[j].id)>-1 ? "checked" : "" %>>
																				#<%= channelData[j].name %>
																			</label>
																		<% } %>
																	</span>
																</p>
															</div>
														</div>
													</div>
													<a class="modal-close"></a>
												</div>
											<% } %>
										</tbody>
									</table>
								<% } else { %>
									<article class="message">
										<div class="message-header">
											<span class="icon">
												<i class="fa fa-meh-o"></i>
											</span>
											<span>Nothing to see here</span>
										</div>
										<div class="message-body">
											You haven't added any RSS feeds yet. Fill out the form below to get started.
										</div>
									</article>
									<br>
								<% } %>
							</div>
							<div class="control is-grouped">
								<p class="control is-expanded">
									<input id="new-rss-url" class="input" type="url" placeholder="RSS URL" onkeypress="return event.keyCode != 13;">
								</p>
								<p class="control">
									<p class="control has-addons">
										<a class="button" href="javascript:newRssUrl('github');">
											<span class="icon is-small">
												<i class="fa fa-github"></i>
											</span>
											<span>GitHub</span>
										</a>
										<a class="button" href="javascript:newRssUrl('reddit');">
											<span class="icon is-small">
												<i class="fa fa-reddit-alien"></i>
											</span>
											<span>Reddit</span>
										</a>
										<a class="button" href="javascript:newRssUrl('twitter');">
											<span class="icon is-small">
												<i class="fa fa-twitter"></i>
											</span>
											<span>Twitter</span>
										</a>
									</p>
								</p>
							</div>
							<div class="control is-horizontal">
								<div class="control is-grouped">
									<p class="control is-expanded">
										<input id="new-rss-name" class="input" type="text" minlength="5" maxlength="50" placeholder="Name" onkeypress="return event.keyCode != 13;">
									</p>
									<p class="control">
										<a class="button is-primary" onclick="newRss();">
											<span class="icon">
										        <i class="fa fa-plus"></i>
										    </span>
										    <span>Add</span>
										</a>
									</p>
								</div>
							</div>
							<br>
							<% var formButtonsUnsaved = false; %>
							<% include ../partials/form-buttons %>
							<% include ../partials/form-buttons-bar %>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>

	<% include ../partials/footer %>
	<% include ../partials/scroll-top-button %>
</body>
</html>
