<!DOCTYPE html>
<html lang="en">
<head>
	<title><%= pageData.pageTitle %></title>
    <% include ../partials/head %>
</head>
<body>
	<section id="header" class="main-header-section hero is-primary is-small is-bold">
		<div class="hero-head">
			<% include ../partials/header %>
		</div>
		<div class="hero-body">
			<div class="container has-text-centered">
				<h1 class="title is-1">
					<span class="icon is-large">
                        <i class="fa fa-rss"></i>
                    </span>
                    GAwesomeBot blog
				</h1>
                <h3 id="blog-header-subtitle" class="subtitle is-3">
                    Dolphin Musings
                </h3>
                <%- include("../partials/adspace", { officialMode: typeof officialMode !== undefined ? officialMode : false, adsEnabled: true }) %>
                <% if (isMaintainer) { %>
                <a class="button is-white is-outlined" href="/blog/new">
                    <span class="icon is-small">
                        <i class="fa fa-plus"></i>
                    </span>
                    <span>New</span>
                </a>
                <% } %>
			</div>
		</div>
	</section>
	<section class="section is-white">
		<div class="container">
            <% if (pageData.mode === "article") { %>
                <% const { blogPost } = pageData; %>
                <% include ../partials/blog-article %>
            <% } else if (pageData.mode === "list") { %>
                <% if (pageData.data.length > 0) { %>
                    <% pageData.data.forEach(blogPost => { %>
						<div class="box">
	                        <% include ../partials/blog-article %>
						</div>
                    <% }); %>
                <% } else { %>
                    <% var activeSearchQuery, mode = "blog"; %>
                    <%- include("../partials/no-results", { isSearchQuery: true, activeSearchQuery, resetUrl: null, mode }) %>
                <% } %>

                <nav class="level is-mobile arrow-link">
                    <div class="level-left">
                        <% if (pageData.currentPage < pageData.numPages) { %>
                            <a class="button" href="/blog?page=<%= pageData.currentPage + 1 %>">
                                <span class="icon is-small">
                                    <i class="fa fa-chevron-left"></i>
                                </span>
                                <span>Older Posts</span>
                            </a>
                        <% } %>
                    </div>
                    <div class="level-right">
                        <% if (pageData.currentPage > 1) { %>
                            <div class="level-item">
                                <a class="button" href="/blog?page=<%= pageData.currentPage - 1 %>">
                                    <span>Newer Posts</span>
                                    <span class="icon is-small">
                                        <i class="fa fa-chevron-right"></i>
                                    </span>
                                </a>
                            </div>
                        <% } %>
                    </div>
                </nav>
            <% } else if (pageData.mode === "compose") { %>
                <% include ../partials/blog-composer %>
            <% } %>
		</div>
	</section>

	<% include ../partials/footer %>
	<% include ../partials/scroll-top-button %>
</body>
</html>
