<!DOCTYPE html>
<html lang="en">
<head>
	<title>GAwesomeBot Dashboard</title>
	<% include ../partials/head %>

	<script>
	var mq = window.matchMedia("screen and (max-width: 768px)");
	mq.addListener(mediaStyle);
	function mediaStyle() {
		if(mq.matches) {
			$(".server-icon").removeClass("is-48x48");
			$(".server-icon").addClass("is-32x32");
			$(".server-name").removeClass("is-2");
			$(".server-name").addClass("is-3");
			$(".server-arrow").removeClass("is-large");
			$(".server-arrow").addClass("is-medium");
		} else {
			$(".server-icon").removeClass("is-32x32");
			$(".server-icon").addClass("is-48x48");
			$(".server-name").removeClass("is-3");
			$(".server-name").addClass("is-2");
			$(".server-arrow").removeClass("is-medium");
			$(".server-arrow").addClass("is-large");
		}
	}
	</script>
</head>
<body onload="mediaStyle();">
	<section id="header" class="main-header-section hero is-primary is-fullheight is-bold">
		<div class="hero-head">
			<% include ../partials/header %>
		</div>
		<div class="hero-body">
			<div class="container">
				<div class="has-text-centered">
					<h1 class="title is-1">
						Welcome, <strong><%= authUser.username %></strong>!
					</h1>
					<h3 class="subtitle is-3">
						<% if (serverData.length > 0) { %>
							Select a server to configure.
						<% } else { %>
							<span>You don&#39;t have any guilds</span>
							<span class="icon is-medium">
								<i class="fa fa-meh-o"></i>
							</span>
						<% } %>
					</h3>
				</div>
				<br><br><br>
				<div class="columns">
					<div class="column is-half is-offset-one-quarter">
						<% serverData.forEach(server => { %>
							<% if (!server.botJoined) { %>
								<a class="media modal-button arrow-link" data-target="#post-add-modal" target="_blank" href="<%= pageData.rawJoinLink + '&guild_id=' + server.id %>">
							<% } else if (!server.isAdmin) { %>
								<a class="media modal-button arrow-link" data-target="#not-admin-modal">
							<% } else { %>
								<a class="media arrow-link" href="/dashboard/<%= server.id %>/<%= server.id === "maintainer" ? "maintainer" : "overview"%>">
							<% } %>
								<figure class="media-left">
									<p class="image server-icon is-48x48">
										<img src="<%= server.icon %>" style="border-radius: 100%;" alt="<%= server.id %>">
									</p>
								</figure>
								<div class="media-content">
									<h2 class="subtitle is-2 server-name"><%= server.name %></h2>
								</div>
								<% if (server.botJoined && server.isAdmin) { %>
									<div class="media-right">
										<span class="icon server-arrow is-primary is-large">
					                        <i class="fa fa-chevron-right fa-2x"></i>
					                    </span>
									</div>
								<% } %>
							</a>
						<% }); %>
					</div>
				</div>
			</div>
		</div>
		<div class="hero-foot">
			<div class="container has-text-centered">
				<a class="button is-white is-outlined" href="/login">
                    <span class="icon">
                        <i class="fa fa-refresh"></i>
                    </span>
                    <span>Refresh</span>
                </a>
                &nbsp;
				<a class="button is-white is-outlined" target="_blank" href="/wiki/Configuration">
                    <span class="icon">
                        <i class="fa fa-question-circle"></i>
                    </span>
                    <span>Help</span>
                </a>
                &nbsp;
				<a class="button is-white is-outlined" href="/logout">
                    <span class="icon">
                        <i class="fa fa-sign-out"></i>
                    </span>
                    <span>Logout</span>
                </a>
                <br><br>
			</div>
		</div>
	</section>

	<div id="not-admin-modal" class="modal">
		<div class="modal-background"></div>
		<div class="modal-container">
			<div class="modal-content">
				<div class="box">
					<h4 class="title is-4">
						<strong>You do not have permission to access the admin console for that server.</strong> Ask the owner of the server or other moderators to give you access to the admin console (level 3 admin).
					</h4>
				</div>
			</div>
		</div>
		<button class="modal-close is-large"></button>
	</div>
	<div id="post-add-modal" class="modal">
		<div class="modal-background"></div>
		<div class="modal-container">
			<div class="modal-content">
				<div class="box">
					<h4 class="title is-4">
						Make sure to <strong><a href="/dashboard">refresh</a></strong> after adding GAwesomeBot.
					</h4>
				</div>
			</div>
		</div>
		<button class="modal-close is-large"></button>
	</div>

	<% include ../partials/footer %>
	<% include ../partials/scroll-top-button %>
</body>
</html>
