<!DOCTYPE html>
<html>
<head>
	<title>Donate to GAwesomeBot</title>
	<% include ../partials/head %>

	<script>
	function hideDonate() {
	    var prompt = confirm("Are you sure? You won't ever see the donate button again :(");
	    if(prompt) {
	        localStorage.setItem("donate", "hide");
			window.history.back();
	    }
	}
	</script>
</head>
<body>
	<script>
	localStorage.setItem("donate", null);
	</script>
	<section id="header" class="hero is-primary is-medium is-bold" style="background: url('/header-image');background-size: cover;">
		<div class="hero-head">
			<% include ../partials/header %>
		</div>
		<div class="hero-body">
			<div class="container">
                <div class="columns">
					<div class="column is-half is-offset-one-quarter">
                        <h2 class="title is-2 has-text-centered">
                            <strong>Thank you</strong> for your support!
                        </h2>
						<% if(charities.length>0) { %>
	                        <h5 class="subtitle is-5">
								<%-donate_subtitle%>
	                        </h5>
							<% for(var i=0; i<charities.length; i++) { %>
		                        <a class="level is-mobile" href="<%= charities[i].donate_url %>">
		                            <div class="level-left">
										<div class="level-item">
											<img class="image is-32x32" src="<%= charities[i].icon_url %>">
										</div>
										<div class="level-item">
											<p class="title is-3">
                                                <%= charities[i].name %>
                                                <% if(charities[i].country) { %>
												<span class="tag is-rounded is-light"><%= charities[i].country %></span>
                                                <% } %>
											</p>
										</div>
		                            </div>
		                            <div class="level-right">
										<div class="level-item">
		                                <span class="icon is-primary is-medium">
		                                    <i class="fa fa-chevron-right fa-2x"></i>
		                                </span>
										</div>
		                            </div>
		                        </a>
							<% } %>
						<% } %>
						<div style="display: none;" id="auttaja">
							<h5 class="subtitle is-5">
								Not every bot has a life as great as GAB's. Please help out these sad bots get a life of their own by adding them to your server today.
							</h5>
							<a class="level" href="https://auttaja.io">
								<div class="level-left">
									<div class="level-item">
										<img class="image is-32x32" src="https://auttaja.io/static/logo.png">
									</div>
									<div class="level-item">
										<p class="title is-3">
											A sad bot, with abusive owners.
											<span class="tag is-rounded is-light">US</span>
										</p>
									</div>
								</div>
								<div class="level-right">
									<div class="level-item">
										<span class="icon is-medium">
											<i class="fa fa-chevron-right fa-2x"></i>
										</span>
									</div>
								</div>
							</a>
						</div>
                    </div>
                </div>
			</div>
		</div>
		<div class="hero-foot">
			<div class="container has-text-centered">
                <a class="button is-white is-outlined" onclick="hideDonate();">
                    <span>Hide the donate button forever</span>
                    <span class="icon">
                        <i class="fa fa-frown-o"></i>
                    </span>
                </a>
				<div style="width: 100px; height: 24px;" id="auttaja-a">
					<a style="visibility: hidden;" class="is-pulled-left button is-white is-small">Super sad bot list</a>
				</div>
                <br>
			</div>
		</div>
	</section>

	<% include ../partials/footer %>
	<% include ../partials/scroll-top-button %>
	<!-- Because joke bot wars are fun, *and jokes* -->
	<script>
			$('#auttaja-a').on('mouseenter', () => {
				$('#auttaja-a a').css('visibility', 'visible');
			}).on('mouseleave', () => {
				$('#auttaja-a a').css('visibility', 'hidden');
			})
			$('#auttaja-a a').click(() => {
				$('#auttaja').toggle();
			})
	</script>
</body>
</html>
