<!DOCTYPE html>
<html>
<head>
	<title><%= pageTitle %></title>
	<% include ../partials/head %>

	<script>
	var mq = window.matchMedia("screen and (max-width: 768px)");
	mq.addListener(mediaStyle);

	function mediaStyle(mq) {
		if(mq.matches) {
			$(".header-search-box").removeClass("is-large");
			document.getElementById("frame").style.paddingLeft = "15px";
			document.getElementById("frame").style.paddingRight = "15px";
		} else {
			$(".header-search-box").addClass("is-large");
			document.getElementById("frame").style.paddingLeft = "0px";
			document.getElementById("frame").style.paddingRight = "0px";
		}
	}

	String.prototype.replaceAll = function(target, replacement) {
		return this.replace(new RegExp(target, "g"), replacement);
	};
	</script>
</head>
<body>
	<section id="header" class="hero is-primary is-small is-bold" style="background: url('/header-image');background-size: cover;">
		<div class="hero-head">
			<% include ../partials/header %>
		</div>
		<div class="hero-body">
			<div class="container has-text-centered">
				<h1 class="title is-1">
					<span class="icon is-large">
                        <i class="fa fa-bolt"></i>
                    </span>
					Extensions for <strong>everyone</strong>.
				</h1>
				<% if(['my', 'builder'].indexOf(mode)==-1) { %>
					<div class="columns">
						<div class="column is-8 is-offset-2">
							<form method="get">
								<p class="control has-addons has-addons-centered">
									<input id="search-input" name="q" class="input is-expanded is-large header-search-box" type="text" placeholder="I'm looking for..." value="<%= activeSearchQuery %>">
									<button id="search-button" type="submit" class="button is-primary is-large header-search-box">
										<span class="icon">
											<i class="fa fa-search"></i>
										</span>
										<span>Search</span>
									</button>
								</p>
								<script>
								mediaStyle(mq);
								</script>
							</form>
						</div>
					</div>
				<% } %>
			</div>
		</div>
		<div class="hero-foot">
			<nav class="tabs is-boxed is-fullwidth">
				<div class="container">
					<ul>
						<li class="<%= mode=='gallery' ? 'is-active' : '' %>">
							<a href="/extensions/gallery">
								<span class="icon">
									<i class="fa fa-fa"></i>
								</span>
								<% if(mode=="gallery") { %>
									Gallery
									&nbsp;
									<span class="tag is-small is-primary">
										<%= rawCount %>
									</span>
								<% } else { %>
									<span>Gallery</span>
								<% } %>
							</a>
						</li>
						<li class="<%= mode=='queue' ? 'is-active' : '' %>">
							<a href="/extensions/queue">
								<span class="icon">
									<i class="fa fa-clock-o"></i>
								</span>
								<% if(mode=="queue") { %>
									Queue
									&nbsp;
									<span class="tag is-small is-primary">
										<%= rawCount %>
									</span>
								<% } else { %>
									<span>Queue</span>
								<% } %>
							</a>
						</li>
						<% if(authUser) { %>
							<li class="<%= ['my', 'builder'].indexOf(mode)>-1 ? 'is-active' : '' %>">
								<a href="/extensions/my">
									<span class="icon">
										<i class="fa fa-dashboard"></i>
									</span>
									<% if(mode=="my") { %>
										My Extensions
										&nbsp;
										<span class="tag is-small is-primary">
											<%= rawCount %>
										</span>
									<% } else { %>
										<span>My Extensions</span>
									<% } %>
								</a>
							</li>
						<% } %>
					</ul>
				</div>
			</nav>
		</div>
	</section>

	<section id="frame"	class="section is-white">
		<div class="container">
			<% if(["gallery", "queue"].indexOf(mode)>-1) { %>
				<% include ../partials/extension-gallery %>
			<% } else { %>
				<% include ../partials/dashboard-socket-updates %>
				<% if(mode=="my") { %>
					<% include ../partials/my-extensions %>
				<% } else if(mode=="builder") { %>
					<script src="/static/js/form-change-listener.js"></script>
					<% var extensionBuilderPostUrl = "/extensions/builder?"; %>
					<% var extensionBuilderPublishUrl; %>
					<% include ../partials/extension-builder %>
				<% } %>
			<% } %>
		</div>
	</section>

	<section class="hero is-small is-black">
		<div class="hero-body">
			<div class="container">
				<div class="has-text-centered">
					<p class="hero-buttons">
						<a class="button is-primary is-outlined is-large" href="/wiki/Extensions">
							<span class="icon">
								<i class="fa fa-book"></i>
							</span>
							<span>Read the extension docs</span>
						</a>
					</p>
					<br>
				</div>
			</div>
		</div>
	</section>

	<% include ../partials/footer %>
	<% include ../partials/scroll-top-button %>
</body>
