<!DOCTYPE html>
<html lang="en">
<head>
	<title>GAwesomeBot: the best Discord bot!</title>
	<% include ../partials/head %>

	<style type="text/css">
	@media screen and (max-width: 768px) {
		#gawesomebot-discord {
			height: 1.5rem;
		}
	}
	@media screen and (min-width: 769px) {
		#gawesomebot-discord {
			height: 2.5rem;
		}
	}
	</style>
</head>
<body>
	<section id="header" class="main-header-section hero is-primary is-fullheight is-bold">
		<div class="hero-head">
			<% include ../partials/header %>
		</div>
		<div class="hero-body">
			<div class="container has-text-centered">
				<img src="/static/img/icon.png" style="border-radius: 100%;width:200px;">
				<h1 id="gawesomebot-title" class="title is-1 is-size-3-mobile" style="font-family: Montserrat;">
					<span style="display: inline-block;">GAwesomeBot</span>
				</h1>
				<h2 id="gawesomebot-subtitle" class="title is-2 is-size-4-mobile">
					The best <img id="gawesomebot-discord" src="/static/img/discord-logo.png" style="vertical-align: middle;padding-bottom: 4px;"> bot!
				</h2>
				<br>

				<p class="hero-buttons">
					<a class="button is-primary is-large" href="/add">
						<span class="icon">
							<i class="fa fa-plus"></i>
						</span>
						<span>Add to Server</span>
					</a>
				</p>
				<br>

				<% if (pageData.bannerMessage) { %>
					<br><br>
					<h3 class="subtitle is-3"><%- pageData.bannerMessage %></h3>
				<% } %>
			</div>
		</div>
		<div class="hero-foot">
			<nav class="tabs is-boxed is-fullwidth">
				<div class="container">
					<ul>
						<li>
						<a class="is-tab section-shortcut-link" href="#about">
							About
						</a>
						</li>
						<li>
						<a class="nav-item is-tab section-shortcut-link" href="#media">
							Media
						</a>
						</li>
						<li>
						<a class="nav-item is-tab section-shortcut-link" href="#stats">
							Stats
						</a>
						</li>
						<li>
						<a class="nav-item is-tab section-shortcut-link" href="#features">
							Features
						</a>
						</li>
						<li>
						<a class="nav-item is-tab section-shortcut-link" href="#customizability">
							Customizability
						</a>
						</li>
						<li>
						<a class="nav-item is-tab section-shortcut-link" href="#servers">
							Servers
						</a>
						</li>
						<li>
						<a class="nav-item is-tab section-shortcut-link" href="#team">
							Team
						</a>
						</li>
						<li>
						<a class="nav-item is-tab section-shortcut-link" href="#links">
							More
						</a>
						</li>
					</ul>
				</div>
			</nav>
		</div>
	</section>

	<section id="about" class="hero is-light">
		<div class="hero-body">
			<div class="container">
				<nav class="columns">
					<div class="column has-text-centered">
						<span class="icon is-large">
							<i class="fa fa-star fa-3x"></i>
						</span>
						<p class="subtitle is-4"><strong>Awesome</strong> features</p>
					</div>
					<div class="column has-text-centered">
						<span class="icon is-large">
							<i class="fa fa-cog fa-3x"></i>
						</span>
						<p class="subtitle is-4">Easy to <strong>configure</strong></p>
					</div>
					<div class="column has-text-centered">
						<span class="icon is-large">
							<i class="fa fa-heart fa-3x"></i>
						</span>
						<p class="subtitle is-4"><strong>Free</strong> and open-source</p>
					</div>
				</nav>
			</div>
		</div>
	</section>

	<section id="media" class="hero is-medium">
		<div class="hero-body">
			<div class="container">
				<nav class="columns is-vcentered">
					<div class="column is-8 is-offset-2">
						<nav class="columns is-vcentered is-multiline">
							<div class="column is-one-third has-text-centered">
								<div class="notification is-danger">
									<span class="icon is-large">
										<i class="fa fa-youtube-play fa-3x"></i>
									</span>
									<p class="subtitle is-4">YouTube</p>
									<p class="title is-4">videos</p>
								</div>
							</div>
							<div class="column is-one-third has-text-centered">
								<div class="notification is-warning">
									<span class="icon is-large">
										<i class="fa fa-google fa-3x"></i>
									</span>
									<p class="subtitle is-4">Web results</p>
									<p class="title is-4">from Google</p>
								</div>
							</div>
							<div class="column is-one-third has-text-centered">
								<div class="notification is-black">
									<span class="icon is-large">
										<i class="fa fa-reddit-alien fa-3x"></i>
									</span>
									<p class="title is-4">Reddit</p>
									<p class="subtitle is-4">browser</p>
								</div>
							</div>
							<div class="column is-12">
								<img src="/static/img/media.png" style="border-radius: 3px;">
							</div>
							<div class="column is-one-third has-text-centered">
								<div class="notification is-primary">
									<span class="icon is-large">
										<i class="fa fa-rss fa-3x"></i>
									</span>
									<p class="subtitle is-4">Custom</p>
									<p class="title is-4">RSS Feeds</p>
								</div>
							</div>
							<div class="column is-one-third has-text-centered">
								<div class="notification is-success">
									<span class="icon is-large">
										<i class="fa fa-mouse-pointer fa-3x"></i>
									</span>
									<p class="subtitle is-4">Easily create</p>
									<p class="title is-4">memes</p>
								</div>
							</div>
							<div class="column is-one-third has-text-centered">
								<div class="notification is-info">
									<span class="icon is-large">
										<i class="fa fa-picture-o fa-3x"></i>
									</span>
									<p class="title is-4">GIF + Image</p>
									<p class="subtitle is-4">search</p>
								</div>
							</div>
						</nav>
					</div>
				</nav>
			</div>
		</div>
	</section>

	<section id="stats" class="hero is-small is-black is-bold">
		<div class="hero-body">
			<div class="container">
				<nav class="level is-mobile">
					<div class="level-item has-text-centered">
						<div>
							<p class="heading">Server<%= pageData.rawServerCount === 1 ? "" : "s" %></p>
							<p class="subtitle is-2"><%= pageData.rawServerCount %></p>
						</div>
					</div>
					<div class="level-item has-text-centered">
						<div>
							<p class="heading">User<%= pageData.rawUserCount === 1 ? "" : "s" %></p>
							<p class="subtitle is-2"><%= pageData.rawUserCount %></p>
						</div>
					</div>
					<div class="level-item has-text-centered" title="<%= pageData.rawUptime %>">
						<div>
							<p class="heading">Uptime</p>
							<p class="subtitle is-2"><%= pageData.roundedUptime %></p>
						</div>
					</div>
				</nav>
			</div>
		</div>
	</section>

	<section id="features" class="hero is-medium is-dark is-bold">
		<div class="hero-body">
			<div class="container">
				<div class="tile is-ancestor">
					<div class="tile is-vertical is-8">
						<div class="tile is-parent">
							<div class="tile is-child">
								<p class="title is-2">Increase <strong>activity</strong> on <strong>your</strong> server</p>
								<p class="subtitle is-4">GAwesomeBot provides tons of <strong>in-chat tools</strong>.</p>
								<p>
									Whether your server has 5 members or 5000, you can rely on GAwesomeBot to make it enjoyable while doing a great job of moderating annoying people. We've included plenty of powerful, customizable commands as well as a robust extension system, making GAwesomeBot the only bot you'll need for an awesome Discord experience.
								</p>
							</div>
						</div>
						<div class="tile">
							<div class="tile is-parent is-vertical">
								<div class="tile is-child has-text-centered">
									<span class="icon is-large">
										<i class="fa fa-comments fa-2x"></i>
									</span>
									<p class="title is-4">In-chat <b>polls</b></p>
								</div>
								<div class="tile is-child has-text-centered">
									<span class="icon is-large">
										<i class="fa fa-star fa-2x"></i>
									</span>
									<p class="title is-4"><b>GAwesomePoints</b></p>
								</div>
								<div class="tile is-child has-text-centered">
									<span class="icon is-large">
										<i class="fa fa-gavel fa-2x"></i>
									</span>
									<p class="title is-4"><b>Kick</b> + <b>ban</b></p>
								</div>
							</div>
							<div class="tile is-parent is-vertical">
								<div class="tile is-child has-text-centered">
									<span class="icon is-large">
										<i class="fa fa-question fa-2x"></i>
									</span>
									<p class="title is-4"><b>Trivia</b> game</p>
								</div>
								<div class="tile is-child has-text-centered">
									<span class="icon is-large">
										<i class="fa fa-wikipedia-w fa-2x"></i>
									</span>
									<p class="title is-4"><b>Wikipedia</b></p>
								</div>
								<div class="tile is-child has-text-centered">
									<span class="icon is-large">
										<i class="fa fa-table fa-2x"></i>
									</span>
									<p class="title is-4"><b>ModLog</b></p>
								</div>
							</div>
							<div class="tile is-parent is-vertical">
								<div class="tile is-child has-text-centered">
									<span class="icon is-large">
										<i class="fa fa-key fa-2x"></i>
									</span>
									<p class="title is-4"><b>Giveaways</b></p>
								</div>
								<div class="tile is-child has-text-centered">
									<span class="icon is-large">
										<i class="fa fa-book fa-2x"></i>
									</span>
									<p class="title is-4"><b>Urban</b> Dictionary</p>
								</div>
								<div class="tile is-child has-text-centered">
									<span class="icon is-large">
										<i class="fa fa-check-square-o fa-2x"></i>
									</span>
									<p class="title is-4"><b>To-do</b> list</p>
								</div>
							</div>
							<div class="tile is-parent is-vertical">
								<div class="tile is-child has-text-centered">
									<span class="icon is-large">
										<i class="fa fa-trophy fa-2x"></i>
									</span>
									<p class="title is-4">Member <b>ranks</b></p>
								</div>
								<div class="tile is-child has-text-centered">
									<span class="icon is-large">
										<i class="fa fa-sun-o fa-2x"></i>
									</span>
									<p class="title is-4"><b>Weather</b> + <b>Time</b></p>
								</div>
								<div class="tile is-child has-text-centered">
									<span class="icon is-large">
										<i class="fa fa-sort fa-2x"></i>
									</span>
									<p class="title is-4"><b>Convert</b> units</p>
								</div>
							</div>
						</div>
					</div>
					<div class="tile is-parent">
						<div class="tile is-child">
							<img class="image" src="/static/img/demo-activity.gif" style="border-radius: 3px;">
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="customizability">
		<div class="hero-body">
			<div class="container">
				<nav class="columns">
					<div class="column has-text-centered">
						<h2 class="title is-2">
							<strong>Configure</strong> everything in the comprehensive <strong>admin console</strong>.
						</h2>
					</div>
					<div class="column has-text-centered">
						<h2 class="title is-2">
							Build <strong>powerful extensions</strong> with JavaScript and share them.
						</h2>
					</div>
				</nav>
				<br><br>
				<div class="has-text-centered">
					<img src="/static/img/admin-console.png" style="border-radius: 3px;">
				</div>
			</div>
		</div>
	</section>

	<section id="servers" class="hero is-small is-primary">
		<div class="hero-body">
			<div class="container has-text-centered">
				<h2 class="subtitle is-2">
					<% if (pageData.roundedServerCount === 0) { pageData.roundedServerCount = pageData.rawServerCount } %>
					There's a reason over <strong><%= pageData.roundedServerCount %></strong> servers trust GAwesomeBot.
				</h2>
				<h3 class="title is-4">
					It's fun, easy-to-use, and feature-packed.
					<a href="/activity/servers">
						Browse servers &raquo;
					</a>
				</h3>
			</div>
		</div>
	</section>

	<section id="team">
		<div class="hero-body">
			<div class="container">
				<div class="has-text-centered">
					<h2 class="title is-2">
						The <strong>Developers</strong>
					</h2>
					<h4 class="subtitle is-4">
						These guys pull the ropes behind the scenes.
					</h4>
					<div class="columns is-mobile">
						<div class="column is-one-third">
							<div class="card" style="text-align: left;">
								<div class="card-image">
									<figure class="image is-square">
										<img class="developer-card-icon" src="/static/img/gilbert.png" alt="">
									</figure>
								</div>
								<div class="card-content">
									<div class="media">
										<div class="media-content">
											<p class="title is-3 developer-card-name">Gilbert Gobbels</p>
											<p class="subtitle is-5 developer-card-role">Project Lead, Developer</p>
										</div>
									</div>
									<div class="content">
										The Almighty Fish <span class="icon">
											<i class="fa fa-cog"></i>
										</span>
										<br>
										<a href="https://github.com/GilbertGobbels">GitHub</a>
										&nbsp;
										<a href="https://twitter.com/GG142_">Twitter</a>
									</div>
								</div>
							</div>
						</div>
						<div class="column is-one-third">
							<div class="card" style="text-align: left;">
								<div class="card-image">
									<figure class="image is-square">
										<img class="developer-card-icon" src="/static/img/vlad.png" alt="">
									</figure>
								</div>
								<div class="card-content">
									<div class="media">
										<div class="media-content">
											<p class="title is-3 developer-card-name">King - Vlad</p>
											<p class="subtitle is-5 developer-card-role">Developer, Support</p>
										</div>
									</div>

									<div class="content">
										Command Wizard <span class="icon">
											<i class="fa fa-file-text"></i>
										</span>
										<br>
										<a href="https://github.com/KingDGrizzle">GitHub</a>
									</div>
								</div>
							</div>
						</div>
						<div class="column is-one-third">
							<div class="card" style="text-align: left;">
								<div class="card-image">
									<figure class="image is-square">
										<img class="developer-card-icon" src="/static/img/hilbert.png" alt="">
									</figure>
								</div>
								<div class="card-content">
									<div class="media">
										<div class="media-content">
											<p class="title is-3 developer-card-name" ondblclick="if (this.innerHTML=='HilbertGilbertson') {this.innerHTML = 'GilbertHilbertson'} else {this.innerHTML = 'HilbertGilbertson'}">HilbertGilbertson</p>
											<p class="subtitle is-5 developer-card-role">Contributor, Support, Wiki</p>
										</div>
									</div>

									<div class="content">
										I refuse to be defined by a quote <span class="icon">
											<i class="fa fa-question-circle"></i>
										</span>
										<br>
										<a href="https://github.com/HilbertGilbertson">GitHub</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="links" class="hero is-medium is-black">
		<div class="hero-body">
			<div class="container">
				<div class="has-text-centered">
					<p class="hero-buttons">
						<a class="button is-primary is-large" href="/add" style="background-color: #009688;">
							Convinced? Get started now
						</a>
					</p>
					<p class="hero-buttons">
						<a class="button is-dark is-medium" href="https://discord.gg/gDtzaS2" style="background-color: #7289da;">
							Discord
						</a>
						<a class="button is-light is-medium" href="https://github.com/GilbertGobbels/GAwesomeBot" style="background-color: #fafafa;">
							GitHub
						</a>
						<a class="button is-info is-medium" href="https://twitter.com/GAwesomeBot" style="background-color: #1da1f2;">
							Twitter
						</a>
					</p>
				</div>
				<br>
			</div>
		</div>
	</section>

	<% include ../partials/footer %>
	<% include ../partials/scroll-top-button %>
</body>
</html>
