<!DOCTYPE html>
<html lang="en">
<head>
	<title>Homepage - <%= serverData.name %> Maintainer Console</title>
	<% include ../partials/head %>

	<script>
	function updatePreview(html) {
		document.getElementById('message-preview').innerHTML = html;
	}
	</script>
</head>
<body onload="GAwesomeUtil.SFS();">
	<% include ../partials/dashboard-header %>
	<% include ../partials/dashboard-socket-updates %>

	<section class="section is-white">
		<div class="container">
			<div class="columns">
				<div id="menu" class="column is-one-quarter">
					<% include ../partials/maintainer-menu %>
				</div>
				<div class="column">
					<h1 class="title">
						Homepage
					</h1>
					<article class="message is-primary">
						<div class="message-body">
							<div class="content">
								<p>
									You can set a <strong>short message</strong> to be displayed in the fullscreen banner on the <a href="/">homepage</a>. This is useful for big announcements or server maintenance warnings. Make sure to use the appropriate <a href="http://bulma.io/documentation/elements/title/">Bulma styling</a>.
								</p>
								<p>
									You can also set the filename to use as the background image for the header displayed on all GAwesomeBot website pages.
								</p>
							</div>
						</div>
					</article>
					<form id="form" onsubmit="GAwesomeUtil.submitForm(); return false;">
						<div class="columns">
							<div class="column is-half">
								<h4 class="subtitle is-4">
									HTML Content
								</h4>
								<div class="field">
									<div class="control">
										<textarea id="message-html" name="homepageMessageHTML" class="textarea is-primary" placeholder="HTML for homepage message" onchange="updatePreview(this.value);" onkeyup="updatePreview(this.value);"><%- configData.homepageMessageHTML %></textarea>
									</div>
								</div>
							</div>
							<div class="column is-half">
								<h4 class="subtitle is-4">
									Preview
								</h4>
								<div class="box hero">
									<div class="hero-body has-text-centered">
										<h3 id="message-preview" class="title is-5"><%-configData.homepageMessageHTML%></h3>
									</div>
								</div>
							</div>
						</div>
						<h4 class="subtitle is-4">
							Header Image
						</h4>
						<div class="field">
							<label class="label">Filename</label>
							<div class="control">
								<input name="header_image" class="input is-primary" type="text" value="<%= configData.headerImage %>">
								<span class="help">File must be located in <code><%= pageData.dirname %></code></span>
							</div>
						</div>
						<% var formButtonsUnsaved = false; %>
						<% include ../partials/form-buttons %>
						<% include ../partials/form-buttons-bar %>
					</form>
				</div>
			</div>
		</div>
	</section>

	<% include ../partials/footer %>
	<% include ../partials/scroll-top-button %>
</body>
</html>
