<!DOCTYPE html>
<html lang="en">
<head>
	<title>Maintainers - <%= serverData.name %> Maintainer Console</title>
	<% include ../partials/head %>
	<script>
	function newMaintainer() {
		let newMaintainerUser = $("#new-maintainer-user");
		if(newMaintainerUser.val()) {
			newMaintainerUser.removeClass("is-danger");
		} else {
			newMaintainerUser.addClass("is-danger");
		}

		if(newMaintainerUser.val() && <%= isSudoMaintainer %>) {
			GAwesomeData.HUM = true;
			$.ajax({
				type: "POST",
				url: "<%= currentPage %>",
				data: {
				  "new-user": newMaintainerUser.val(),
				  "isSudo": $("#role-select").val() === "sudo",
				},
				success: function() {
				  Turbolinks.visit('');
				}
			});
		}
	}
	</script>
</head>
<body onload="GAwesomeUtil.SFS();">
	<% include ../partials/dashboard-header %>
	<% include ../partials/dashboard-socket-updates %>

	<section class="section is-white">
		<div class="container">
			<div class="columns">
				<div id="menu" class="column is-one-quarter">
					<% include ../partials/maintainer-menu %>
				</div>
				<div class="column">
					<h1 class="title">
						Bot Maintainers
					</h1>
					<article class="message is-primary">
						<div class="message-body">
							<div class="content">
								These users are just like you! <strong>Bot Maintainers</strong> are users which have <strong>extra powers</strong> over your bot to maintain it and offer support to guilds.
								Here's a rundown of the permissions the three Maintainer roles have:
								<ul>
									<li>
										<strong>Maintainers:</strong>
										<br>
										Can access the Maintainer Console
										<br>
										Have a "Maintainer" badge on their profile
										<br>
										Can run all commands on all guilds
										<br>
										Have Additional Permissions configured as "All Maintainers"
									</li>
									<li>
										<strong>Sudo Maintainers:</strong>
										<br>
										Can do everything a Maintainer can
										<br>
										Have a "Sudo Maintainer" badge on their profile
										<br>
										Can add/remove (Sudo )Maintainers
										<br>
										Have Additional Permissions configured as "Only Sudo Maintainers"
									</li>
									<li>
										<strong>Server Hosts:</strong>
										<br>
										Any Operating System user who has write access to the folder where you installed GAB has the ability to modify your bot without restrictions; we say these users together act as "The Host".
										You can configure Additional Permissions to be locked away from any Maintainer, after which the abilities linked to said Permission can only be exercised by The Host.
									</li>
								</ul>
								Additional Permissions can be configured down below.
							</div>
						</div>
					</article>
					<form id="form1" action="<%= currentPage %>" method="post">
						<div class="field" style="overflow-x: scroll;">
							<% if (configData.maintainers.length > 0) { %>
							<table class="table is-fullwidth">
								<thead>
								<tr>
									<th></th>
									<th>Username</th>
									<th>ID</th>
									<th></th>
								</tr>
								</thead>
								<tbody>
								<% configData.maintainers.forEach(maintainer => { %>
								<tr>
									<td>
										<img class="image is-24x24" src="<%= maintainer.avatar %>" alt="<%= maintainer.id %>">
									</td>
									<td>
                                        <%= maintainer.name %>
                                        <% if (maintainer.isSudoMaintainer) { %>
											&nbsp;
											<span class="tag">Sudo Maintainer</span>
                                        <% } %>
									</td>
									<td>
										<%= maintainer.id %>
									</td>
									<td>
										<div class="field is-grouped">
											<div class="control">
												<button class="button is-small is-danger" name="maintainer-removed" value="<%= maintainer.id %>" onclick="GAwesomeData.HUM = true;"<% if (!isSudoMaintainer || authUser.id === maintainer.id) { %> disabled<% } %>>
													<span>Remove</span>
													<span class="icon is-small">
														<i class="fa fa-times"></i>
													</span>
												</button>
											</div>
											<div class="control">
												<button class="button is-small <% if (maintainer.isSudoMaintainer) { %>is-warning<% } else { %>is-primary<% } %>" name="maintainer-sudo" value="<%= maintainer.id %>"
														onclick="GAwesomeData.HUM = true; return confirm('Are you sure<% if (maintainer.isSudoMaintainer) { %> you want to revoke Sudo Powers from <%= maintainer.name%>?<% } else { %> you want to grant <%= maintainer.name%> Sudo Powers?<% } %>');"<% if(!
																isSudoMaintainer || authUser.id === maintainer.id) { %> disabled<% } %>>
													<% if (maintainer.isSudoMaintainer) { %>
														<span>Revoke Sudo</span>
													<% } else { %>
														<span>Grant Sudo</span>
													<% } %>
													<span class="icon is-small">
														<i class="fa fa-star"></i>
													</span>
												</button>
											</div>
										</div>
									</td>
								</tr>
								<% }); %>
								</tbody>
							</table>
							<% } else { %>
							<article class="message is-embedded-message">
								<div class="message-header">
									<p>
										<span class="icon">
											<i class="fa fa-meh-o"></i>
										</span>
										Nothing to see here
									</p>
								</div>
								<div class="message-body">
									There are no bot maintainers. How is this even possible?!
								</div>
							</article>
							<br>
							<% } %>
						</div>
						<% if (isSudoMaintainer) { %>
						<div class="field is-horizontal">
							<div class="field-body">
								<div class="field is-grouped">
									<div class="control is-expanded">
										<input id="new-maintainer-user" class="input is-primary user-autocomplete" type="text" placeholder="Username or ID" onkeypress="return event.keyCode !== 13;">
									</div>
									<div class="control">
										<div class="select is-primary">
											<select id="role-select">
												<option value="standard">Standard Maintainer</option>
												<option value="sudo">Sudo Maintainer</option>
											</select>
										</div>
									</div>
									<div class="control">
										<a class="button is-primary" onclick="newMaintainer();">
											<span class="icon">
										        <i class="fa fa-plus"></i>
										    </span>
										    <span>Add</span>
										</a>
									</div>
								</div>
							</div>
						</div>
						<% } %>
					</form>
					<br>
					<form id="form" onsubmit="GAwesomeUtil.submitForm(); return false;">
						<input name="additional-perms" value="true" style="display: none;">
						<h4 class="subtitle is-4">
							Additional Permissions
						</h4>
						<div class="content">
							<dl>
								<div class="field">
									<dt>
										Eval &nbsp;
										<div class="select is-primary is-small">
											<select name="perm-eval"<%= (configData.perms.eval === 0 && !isHost)  || !isSudoMaintainer ? " disabled" : ""%>>
												<option value="maintainer"<%= configData.perms.eval === 1 ? " selected" : ""%>>All Maintainers</option>
												<option value="sudo"<%= configData.perms.eval === 2 ? " selected" : ""%>>Only Sudo Maintainers</option>
												<option value="host"<%= configData.perms.eval === 0 ? " selected" : ""%>>Only The Host</option>
											</select>
										</div>
									</dt>
									<dd>&bull; Can run the <code>eval</code> command</dd>
									<dd>&bull; Can access the Evaluate section in the Maintainer Console</dd>
									<dd class="is-danger-colored" title="Users with the Eval permission can evaluate code in GAB without restrictions, and thus have full control.">&bull; Can elevate their permissions</dd>
								</div>
								<div class="field">
									<dt>
										Sudo Mode &nbsp;
										<div class="select is-primary is-small">
											<select name="perm-sudo"<%= (configData.perms.sudo === 0 && !isHost)  || !isSudoMaintainer ? " disabled" : ""%>>
												<option value="maintainer"<%= configData.perms.sudo === 1 ? " selected" : ""%>>All Maintainers</option>
												<option value="sudo"<%= configData.perms.sudo === 2 ? " selected" : ""%>>Only Sudo Maintainers</option>
												<option value="host"<%= configData.perms.sudo === 0 ? " selected" : ""%>>Only The Host</option>
											</select>
										</div>
									</dt>
									<dd>&bull; Can enter "Sudo Mode", and act as a Server Admin in every guild</dd>
								</div>
								<div class="field">
									<dt>
										Management &nbsp;
										<div class="select is-primary is-small">
											<select name="perm-management"<%= (configData.perms.management === 0 && !isHost)  || !isSudoMaintainer ? " disabled" : ""%>>
												<option value="maintainer"<%= configData.perms.management === 1 ? " selected" : ""%>>All Maintainers</option>
												<option value="sudo"<%= configData.perms.management === 2 ? " selected" : ""%>>Only Sudo Maintainers</option>
												<option value="host"<%= configData.perms.management === 0 ? " selected" : ""%>>Only The Host</option>
											</select>
										</div>
									</dt>
									<dd>&bull; Can enter the Management sections in the Maintainer Console</dd>
								</div>
								<div class="field">
									<dt>
										Administration &nbsp;
										<div class="select is-primary is-small">
											<select name="perm-administration"<%= (configData.perms.administration === 0 && !isHost) || !isSudoMaintainer ? " disabled" : ""%>>
												<option value="maintainer"<%= configData.perms.administration === 1 ? " selected" : ""%>>All Maintainers</option>
												<option value="sudo"<%= configData.perms.administration === 2 ? " selected" : ""%>>Only Sudo Maintainers</option>
												<option value="host"<%= configData.perms.administration === 0 ? " selected" : ""%>>Only The Host</option>
											</select>
										</div>
									</dt>
									<dd>&bull; Can enter the Global Options sections in the Maintainer Console</dd>
									<dd>&bull; Can run any Maintainer Commands that modify the Bot User, such as <code>username</code></dd>
									<dd>&bull; Can reload any command using the <code>reload</code> command</dd>
								</div>
								<div class="field">
									<dt>
										Shutdown &nbsp;
										<div class="select is-primary is-small">
											<select name="perm-shutdown"<%= (configData.perms.shutdown === 0 && !isHost) || !isSudoMaintainer ? " disabled" : ""%>>
												<option value="maintainer"<%= configData.perms.shutdown === 1 ? " selected" : ""%>>All Maintainers</option>
												<option value="sudo"<%= configData.perms.shutdown === 2 ? " selected" : ""%>>Only Sudo Maintainers</option>
												<option value="host"<%= configData.perms.shutdown === 0 ? " selected" : ""%>>Only The Host</option>
											</select>
										</div>
									</dt>
									<dd>&bull; Can run the <code>shutdown</code> and <code>restart</code> commands</dd>
									<dd>&bull; Can manage all Shards and the Master</dd>
								</div>
							</dl>
						</div>
						<br>
                        <% var formButtonsUnsaved = false; %>
                        <% include ../partials/form-buttons %>
                        <% include ../partials/form-buttons-bar %>
					</form>
				</div>
			</div>
		</div>
		<script>GAwesomeUtil.setUserAutocomplete();</script>
	</section>

	<% include ../partials/footer %>
	<% include ../partials/scroll-top-button %>
</body>
</html>
