<!DOCTYPE html>
<html>
<head>
	<title>Server List - <%= serverData.name %> Maintainer Console</title>
	<% include ../partials/head %>

	<link rel="stylesheet" href="/static/css/auto-complete.css">
	<script src="/static/js/auto-complete.min.js"></script>
	<script>
	function sendMessage() {
		var serverMessage = $("#server-message");
		if(serverMessage.val()) {
			serverMessage.removeClass("is-danger");
		} else {
			serverMessage.addClass("is-danger");
		}

		if(serverMessage.val()) {
			$("#form").submit();
		}
	}
	</script>
</head>
<body>
	<% include ../partials/dashboard-header %>

	<section class="section is-white">
		<div class="container">
			<div class="columns">
				<div id="menu" class="column is-one-quarter">
					<% include ../partials/maintainer-menu %>
				</div>
				<div class="column">
					<h1 class="title">
						Server List
					</h1>
					<div class="container">
						<article class="message is-primary">
							<div class="message-body">
								<div class="content">
									This section contains <strong>actions</strong> for every server the bot is on, namely sending a message to a channel and leaving the server. For information about the servers, go to the <a href="/activity">activity page</a>.
								</div>
							</div>
						</article>
					</div>
					<br>
					<div class="container">
						<form id="form" action="/dashboard/servers/server-list" method="get">
							<input type="hidden" name="svrid" value="maintainer" />
							<p class="control has-addons">
								<input id="server-search" name="q" class="input is-expanded" type="text" placeholder="Server name" value="<%= activeSearchQuery %>">
								<button class="button is-primary">
									<span class="icon is-small">
										<i class="fa fa-search"></i>
									</span>
									<span>Search</span>
								</button>
							</p>
							<script>
							$.getJSON("/serverlist", function(data) {
								new autoComplete({
								    selector: "#server-search",
								    minChars: 2,
								    source: function(query, res) {
								    	query = query.toLowerCase();
								       	res(data.filter(function(a) {
								       		return a.toLowerCase().indexOf(query)>-1;
								       	}));
								    }
								});
							});
							</script>
							<% if(data) { %>
								<div class="control is-grouped">
									<p class="control">
										<span class="select">
											<select name="i" onchange="$('#form').submit()">
												<% for(var i=0; i<data.length; i++) { %>
													<option value="<%= i %>"<%= selectedServer==i ? " selected": "" %>><%= data[i].name %></option>
												<% } %>
											</select>
										</span>
									</p>
									<% if(selectedServer) { %>
										<p class="control">
											<span class="select">
												<select name="chid">
													<% for(var i=0; i<data[selectedServer].channelData.length; i++) { %>
														<option value="<%= data[selectedServer].channelData[i].id %>"><%= data[selectedServer].channelData[i].name %></option>
													<% } %>
												</select>
											</span>
										</p>
										<p class="control">
											<a class="button is-primary" onclick="sendMessage();">
												<span class="icon is-small">
											        <i class="fa fa-paper-plane"></i>
											    </span>
											    <span>Send</span>
											</a>
										</p>
										<p class="control">
											<a class="button is-info" href="/activity/servers?q=<%= data[selectedServer].name %>">
												<span class="icon is-small">
											        <i class="fa fa-info"></i>
											    </span>
											    <span>Info</span>
											</a>
										</p>
										<p class="control">
											<button name="leave" class="button is-danger">
												<span class="icon is-small">
											        <i class="fa fa-times"></i>
											    </span>
											    <span>Leave Server</span>
											</button>
										</p>
									<% } %>
								</div>
								<% if(selectedServer) { %>
									<p class="control">
										<textarea id="server-message" name="message" class="textarea" placeholder="Message to send, in markdown" minlength="1" maxlength="2000"></textarea>
									</p>
								<% } %>
							<% } %>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>

	<% include ../partials/footer %>
	<% include ../partials/scroll-top-button %>
</body>
</html>
