<!DOCTYPE html>
<html>
<head>
	<title>Blocklist - <%= serverData.name %> Maintainer Console</title>
	<% include ../partials/head %>

	<link rel="stylesheet" href="/static/css/auto-complete.css">
	<script src="/static/js/auto-complete.min.js"></script>
	<script>
	function newBlock() {
		var newBlockUser = $("#new-block-user");
		if(newBlockUser.val()) {
			newBlockUser.removeClass("is-danger");
		} else {
			newBlockUser.addClass("is-danger");
		}

		if(newBlockUser.val()) {
			hide_update_modal = true;
			$.ajax({
				type: "POST",
				url: "<%= currentPage %>?svrid=maintainer",
				data: {
					"new-user": newBlockUser.val()
				},
				success: function() {
					$("#form").submit();
				}
			});
		}
	}
	</script>
</head>
<body onload="setUserAutocomplete();">
	<% include ../partials/dashboard-header %>
	<% include ../partials/dashboard-socket-updates %>

	<section class="section is-white">
		<div class="container">
			<div class="columns">
				<div id="menu" class="column is-one-quarter">
					<% include ../partials/maintainer-menu %>
				</div>
				<div class="column">
					<h1 class="title">
						Global Blocklist
					</h1>
					<div class="container">
						<article class="message is-primary">
							<div class="message-body">
								<div class="content">
									These users are <strong>blocked everywhere</strong>, meaning they can't use the bot in PM and in public chat. It's best to only use this for horrible trolls or spammers.
								</div>
							</div>
						</article>
					</div>
					<br>
					<div class="container">
						<form id="form" action="<%= currentPage %>?svrid=maintainer" method="post">
							<div style="overflow-x: scroll;">
								<% if(config.global_blocklist.length>0) { %>
									<table class="table">
										<thead>
											<tr>
												<th></th>
												<th>Username</th>
												<th>ID</th>
												<th></th>
											</tr>
										</thead>
										<tbody>
											<% for(var i=0; i<config.global_blocklist.length; i++) { %>
												<tr>
													<td>
														<img class="image is-24x24" src="<%= config.global_blocklist[i].avatar %>" alt="<%= config.global_blocklist[i].id %>">
													</td>
													<td>
														<%= config.global_blocklist[i].name %>
													</td>
													<td>
														<%= config.global_blocklist[i].id %>
													</td>
													<td>
														<button class="button is-small is-danger" name="block-<%= i %>-removed" onclick="hide_update_modal = true;">
															<span>Remove</span>
															<span class="icon is-small">
																<i class="fa fa-times"></i>
															</span>
														</button>
													</td>
												</tr>
											<% } %>
										</tbody>
									</table>
								<% } else { %>
									<article class="message">
										<div class="message-header">
											<span class="icon">
												<i class="fa fa-meh-o"></i>
											</span>
											<span>Nothing to see here</span>
										</div>
										<div class="message-body">
											There are no globally blocked users. Type the name of a user below to add one.
										</div>
									</article>
									<br>
								<% } %>
							</div>
							<div class="control is-horizontal">
								<div class="control is-grouped">
									<p class="control is-expanded">
										<input id="new-block-user" class="input user-autocomplete" type="text" placeholder="Username" onkeypress="return event.keyCode != 13;">
									</p>
									<p class="control">
										<a class="button is-primary" onclick="newBlock();">
											<span class="icon">
										        <i class="fa fa-plus"></i>
										    </span>
										    <span>Add</span>
										</a>
									</p>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>

	<% include ../partials/footer %>
	<% include ../partials/scroll-top-button %>
</body>
</html>
