<!DOCTYPE html>
<html>
<head>
	<title>Homepage - <%= serverData.name %> Maintainer Console</title>
	<% include ../partials/head %>
	<script src="/static/js/form-change-listener.js"></script>

	<script>
	function updatePreview(html) {
		document.getElementById('message-preview').innerHTML = html;
	}
	</script>
</head>
<body onload="saveFormState();updatePreview(document.getElementById('message-html').value);">
	<% include ../partials/dashboard-header %>
	<% include ../partials/dashboard-socket-updates %>

	<section class="section is-white">
		<div class="container">
			<div class="columns">
				<div id="menu" class="column is-one-quarter">
					<% include ../partials/maintainer-menu %>
				</div>
				<div class="column">
					<h1 class="title">
						Homepage
					</h1>
					<div class="container">
						<article class="message is-primary">
							<div class="message-body">
								<div class="content">
									<p>
										You can set a <strong>short message</strong> to be displayed in the fullscreen banner on the <a href="/">homepage</a>. This is useful for big announcements or server maintenance warnings. Make sure to use the appropriate <a href="http://bulma.io/documentation/elements/title/">Bulma styling</a>.
									</p>
									<p>
										You can also set the filename to use as the background image for the header displayed on all AwesomeBot website pages.
									</p>
								</div>
							</div>
						</article>
					</div>
					<br>
					<div class="container">
						<form id="form" action="<%= currentPage %>?svrid=maintainer" method="post">
							<div class="columns">
								<div class="column is-half">
									<h4 class="subtitle is-4">
										HTML Content
									</h4>
									<p class="control">
										<textarea id="message-html" name="homepage_message_html" class="textarea" placeholder="HTML for homepage message" onchange="updatePreview(this.value);" onkeyup="updatePreview(this.value);"><%- config.homepage_message_html %></textarea>
									</p>
								</div>
								<div class="column is-half">
									<h4 class="subtitle is-4">
										Preview
									</h4>
									<div class="box hero">
										<div class="hero-body has-text-centered">
											<h3 id="message-preview" class="title is-5"></h3>
										</div>
									</div>
								</div>
							</div>
							<h4 class="subtitle is-4">
								Header Image
							</h4>
							<label class="label">Filename</label>
							<p class="control">
								<input name="header_image" class="input" type="text" value="<%= config.header_image %>">
								<span class="help">File must be located in <code><%= dirname %>/public/static/img/</code></span>
							</p>
							<% var formButtonsUnsaved = false; %>
							<% include ../partials/form-buttons %>
							<% include ../partials/form-buttons-bar %>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>

	<% include ../partials/footer %>
	<% include ../partials/scroll-top-button %>
</body>
</html>
