<!DOCTYPE html>
<html>
<head>
	<title><%= serverData.name %> Maintainer Console</title>
	<% include ../partials/head %>
	<% if (!utd && !disabled) { %>
	<link rel="stylesheet" href="/static/css/codemirror.css">
	<link rel="stylesheet" href="/static/css/codemirror-monokai.css">
	<script src="/static/js/codemirror.js"></script>
	<script src="/static/js/socket.io-1.4.5.js"></script>
	<script src="/static/js/update.js"></script>
	<% } %>
</head>
<body>
	<% include ../partials/dashboard-header %>
	<div id="config-modal" class="modal">
	<div class="modal-background"></div>
	<div class="modal-content">
		<div class="modal-container">
			<div class="modal-content">
				<textarea id="modal-code-area"></textarea>
			</div>
		</div>
	</div>
	<button onClick="closeCodeModal" class="modal-close"></button>
</div>
	
	<section class="section is-white">
		<div class="container">
			<div class="columns">
				<div id="menu" class="column is-one-quarter">
					<% include ../partials/maintainer-menu %>
				</div>
				<div class="column">
          <h1 class="title">
						Bot Version
					</h1>                
          <br>
                <div class="container">
					      	<article class="message is-primary">
							      <div class="message-body">
								      <div class="content">
									      This nifty little program enables you to make sure your bot is <strong>up-to-date</strong> at all times, to see your bot's <strong>version</strong> and to <strong>update</strong> your bot to the latest files available.
								      </div>
							      </div>
						      </article>
					      </div>
          <br>
          <% if (!disabled && utd) { %>
					  <section class="hero is-bold is-success" style="border-radius: 3px;">
						  <div class="hero-body">
							  <div class="container has-text-centered">
                  <h1 class="title is-1">
                    Up-to-date
                  </h1>
                  <br>
                 <h5 class="subtitle is-5">
                    Running <strong><%= JSON.parse(versionn).config.name %></strong> on branch <strong><%= branch %></strong>
                  </h5>
							  </div>
						  </div>
					  </section>
          <% } else if (disabled) { %>
            <section class="hero is-bold is-warning" style="border-radius: 3px;">
						  <div class="hero-body">
							  <div class="container has-text-centered">
                  <h1 class="title is-1">
                    Updates Disabled
                  </h1>
                  <br>
                 <h5 class="subtitle is-5">
                   <strong><%= version %> on <%= branch %></strong> was not recognized as an offical version/branch combination.
                   Updating has been disabled.
                  </h5>
							  </div>
						  </div>
					  </section>
          <% } else if (!utd) { %>
            <section id="hero-container" class="hero is-bold is-info" style="border-radius: 3px;">
						  <div class="hero-body has-text-centered">
							  <div id="content-container" class="container is-fluid has-text-centered">
                  <h1 class="title is-1">
                    Updates Available!
                  </h1>
                  <br>
                 <h5 class="subtitle is-5">
                  New version <strong><%= JSON.parse(versionn).config.name %></strong> is available! Running on branch <strong><%= branch %></strong>.
                 </h5>
									<div id="new-version-info" class="has-text-centered" style="display: none;">
										<div class="columns">
											<div class="column is-half">
												<span class="icon is-large">
													<i class="fa fa-code"></i>
												</span>
												<h6 class="subtitle is-6">
													Version Name
												</h6>
												<h4 class="title is-4">
													<strong><%= JSON.parse(versionn).config.name%></strong>
												</h4>
											</div>
											<div class="column is-half">
												<span class="icon is-large">
													<i class="fa fa-magic"></i>
												</span>
												<h6 class="subtitle is-6">
													Description
												</h6>
												<h4 class="title is-4">
													<strong><%= JSON.parse(versionn).config.description%></strong>
												</h4>
											</div>
										</div>
										<br>
										<div class="has-text-centered">
											<span class="icon is-large">
												<i class="fa fa-file-code-o"></i>
											</span>
											<h6 class="subtitle is-6" style="margin-bottom: 0px;">
												Changelog
											</h6>
											<br>
										</div>
										<div style="margin-right: 50px; margin-left: 50px;" class="box">
  										<div class="content has-text-left">
												<%- JSON.parse(versionn).config.changelog %>
  										</div>
										</div>
									</div>
									<br>
							  </div>
                  <button id="moreinfo-button" class="button is-large is-primary">
                    More Info
                  </button>
						  </div>
					  </section>
          <% } %>
				</div>
			</div>
		</div>
	</section>
	</div>
	<% include ../partials/footer %>
	<% include ../partials/scroll-top-button %>
</body>
</html>
