<!DOCTYPE html>
<html>
<head>
	<title>Maintainers - <%= serverData.name %> Maintainer Console</title>
	<% include ../partials/head %>

	<link rel="stylesheet" href="/static/css/auto-complete.css">
	<script src="/static/js/auto-complete.min.js"></script>
	<script>
	function newMaintainer() {
		var newMaintainerUser = $("#new-maintainer-user");
		if(newMaintainerUser.val()) {
			newMaintainerUser.removeClass("is-danger");
		} else {
			newMaintainerUser.addClass("is-danger");
		}

		if(newMaintainerUser.val()) {
			hide_update_modal = true;
			$.ajax({
				type: "POST",
				url: "<%= currentPage %>?svrid=maintainer",
				data: {
					"new-user": newMaintainerUser.val()
				},
				success: function() {
					$("#form").submit();
				}
			});
		}
	}
	</script>
</head>
<body onload="setUserAutocomplete();">
	<% include ../partials/dashboard-header %>
	<% include ../partials/dashboard-socket-updates %>

	<section class="section is-white">
		<div class="container">
			<div class="columns">
				<div id="menu" class="column is-one-quarter">
					<% include ../partials/maintainer-menu %>
				</div>
				<div class="column">
					<h1 class="title">
						Bot Maintainers
					</h1>
					<div class="container">
						<article class="message is-primary">
							<div class="message-body">
								<div class="content">
									These users are just like you! They can access this maintainer console and fully control the bot. <i>Please</i> ask BitQuote before adding or removing bot maintainers.
								</div>
							</div>
						</article>
					</div>
					<br>
					<div class="container">
						<form id="form" action="<%= currentPage %>?svrid=maintainer" method="post">
							<div style="overflow-x: scroll;">
								<% if(config.maintainers.length>0) { %>
									<table class="table">
										<thead>
											<tr>
												<th></th>
												<th>Username</th>
												<th>ID</th>
												<% if(showRemove) { %>
													<th></th>
												<% } %>
											</tr>
										</thead>
										<tbody>
											<% for(var i=0; i<config.maintainers.length; i++) { %>
												<tr>
													<td>
														<img class="image is-24x24" src="<%= config.maintainers[i].avatar %>" alt="<%= config.maintainers[i].id %>">
													</td>
													<td>
														<%= config.maintainers[i].name %>
													</td>
													<td>
														<%= config.maintainers[i].id %>
													</td>
													<% if(showRemove) { %>
														<td>
															<button class="button is-small is-danger" name="maintainer-<%= i %>-removed" onclick="hide_update_modal = true;">
																<span>Remove</span>
																<span class="icon is-small">
																	<i class="fa fa-times"></i>
																</span>
															</button>
														</td>
													<% } %>
												</tr>
											<% } %>
										</tbody>
									</table>
								<% } else { %>
									<article class="message">
										<div class="message-header">
											<span class="icon">
												<i class="fa fa-meh-o"></i>
											</span>
											<span>Nothing to see here</span>
										</div>
										<div class="message-body">
											There are no bot maintainers. How is this even possible?!
										</div>
									</article>
									<br>
								<% } %>
							</div>
							<div class="control is-horizontal">
								<div class="control is-grouped">
									<p class="control is-expanded">
										<input id="new-maintainer-user" class="input user-autocomplete" type="text" placeholder="Username" onkeypress="return event.keyCode != 13;">
									</p>
									<p class="control">
										<a class="button is-primary" onclick="newMaintainer();">
											<span class="icon">
										        <i class="fa fa-plus"></i>
										    </span>
										    <span>Add</span>
										</a>
									</p>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>

	<% include ../partials/footer %>
	<% include ../partials/scroll-top-button %>
</body>
</html>
