<!DOCTYPE html>
<html lang="en">
<head>
	<title><%= serverData.name %> Maintainer Console</title>
	<% include ../partials/head %>
	<% if (!pageData.utd && !pageData.disabled) { %>
	<script src="/static/js/update.js"></script>
	<% } %>
</head>
<body>
	<% include ../partials/dashboard-header %>

	<section class="section is-white">
		<div class="container">
			<div class="columns">
				<div id="menu" class="column is-one-quarter">
					<% include ../partials/maintainer-menu %>
				</div>
				<div class="column">
          			<h1 class="title">
						GAB Version
					</h1>
					<article class="message is-primary">
						<div class="message-body">
							<div class="content">
								In this section, you can <strong>update</strong> <%= serverData.name %> to the latest GAwesomeBot patches available.
							</div>
						</div>
					</article>
					<%# <h4 class="subtitle is-4">
						Version Configuration
					</h4>
					<div class="box is-paddingless generic-feature">
						<div class="generic-feature-box">
							<div class="generic-feature-box-slider">
								<div class="field">
									<input id="isEnabled" type="checkbox" name="isEnabled" class="switch is-medium is-success is-rounded">
									<label for="isEnabled" style="padding-left: 3.75rem;"></label>
								</div>
							</div>
							<div class="generic-feature-box-description">
								<b>Enable GAwesomeBot Versioning Control</b>
							</div>
							<div class="generic-feature-box-addon">
								<div class="field has-addons">
									<div class="control">
										<span class="select is-primary is-small">
											<select name="branch" id="branch-selector" disabled onchange="$(this).attr('disabled', true); $('#branch-selector-btn').attr('disabled', false);">
												<option value="stable">Stable</option>
												<option value="experimental">Experimental</option>
												<option value="development">Development</option>
											</select>
										</span>
									</div>
									<div class="control">
										<button id="branch-selector-btn" class="button is-warning is-small" onclick="GAwesomeUtil.dashboard.switchBranch(this);">
											Switch Branch
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>
					%>
					<h4 class="subtitle is-4">
						Version Manager
					</h4>
					<% if (!pageData.disabled) { %>
					<div class="box is-paddingless generic-feature">
						<div class="generic-feature-box-group">
							<div class="generic-feature-box version-box">
								<div class="generic-feature-box-description modal-button" data-target="#installed-version-modal">
									<h4 class="subtitle is-4">
										<% if (pageData.utd) { %>
										<span class="icon" title="Your GAB is up-to-date.">
											<i class="fa fa-check-circle"></i>
										</span>
										<% } %>
										<%= pageData.installedVersion.metadata.name %>
									</h4>
									<span class="help"><%= pageData.installedVersion.metadata.description %></span>
								</div>
							</div>
							<% if (!pageData.utd && pageData.latestVersion) { %>
							<div class="version-update-indicator">
								<span class="icon is-medium">
									<i class="fa fa-arrow-left fa-2x"></i>
								</span>
							</div>
							<div class="generic-feature-box version-box">
								<div class="generic-feature-box-description modal-button" data-target="#latest-version-modal">
									<h4 class="subtitle is-4">
										<% if (!pageData.isDownloaded) { %>
										<span class="icon" id="version-cloud-icon" title="This version has not been downloaded.">
											<i class="fa fa-cloud-download"></i>
										</span>
										<% } %>
										<%= pageData.latestVersion.metadata.name %>
									</h4>
									<span class="help"><%= pageData.latestVersion.metadata.description %></span>
									<progress class="progress is-appended is-primary is-small" max="100"></progress>
								</div>
								<div class="generic-feature-box-addon">
									<div id="update-btn" class="button is-primary is-outlined" data-branch="<%= pageData.latestVersion.branch %>" data-tag="<%= pageData.latestVersion.tag %>" data-op="<%= pageData.isDownloaded ? "install" : "download"%>"><%= pageData.isDownloaded ? "Install" : "Download"%></div>
								</div>
							</div>
							<% } %>
						</div>
						<div id="version-installer" class="generic-feature-addon" style="display: none;">
							<h4 class="title is-4">Installation Logs</h4>
							<article id="update-warning" class="message is-warning">
								<div class="message-header">
									Do not close this window!
								</div>
								<div class="message-body">
									<div class="content">
										While GAB is updating, do not close this window! Doing so may lead to your instance becoming corrupted.
									</div>
								</div>
							</article>
							<hr>
							<div id="installer-logs"></div>
						</div>
					</div>
					<% } else { %>
					<div class="box is-paddingless generic-feature">
						<div class="generic-feature-box version-box">
							<div class="generic-feature-box-description">
								<h4 class="subtitle is-4">
									<span class="icon" title="This version is unknown.">
										<i class="fa fa-times-circle"></i>
									</span>
									<%= configData.version %>
								</h4>
								<span class="help is-danger-colored">Version <%= configData.version %> is not an official version on branch <%= configData.branch %>.</span>
							</div>
						</div>
					</div>
					<% } %>
				</div>
			</div>
		</div>
	</section>
	<% if (!pageData.disabled) { %>
		<div id="installed-version-modal" class="modal">
			<div class="modal-background"></div>
			<div class="modal-container">
				<div class="modal-content">
					<div class="box">
						<div class="content">
							<h3 class="title">Changelog for installed version <b><%= pageData.installedVersion.metadata.name %></b></h3>
							<hr>
							<%- pageData.installedVersion.metadata.changelog %>
						</div>
					</div>
				</div>
			</div>
			<button class="modal-close is-large"></button>
		</div>
		<% if (!pageData.utd && pageData.latestVersion) { %>
			<div id="latest-version-modal" class="modal">
				<div class="modal-background"></div>
				<div class="modal-container">
					<div class="modal-content">
						<div class="box">
							<div class="content">
								<h3 class="title">Changelog for latest version <b><%= pageData.latestVersion.metadata.name %></b></h3>
								<hr>
								<%- pageData.latestVersion.metadata.changelog %>
							</div>
						</div>
					</div>
				</div>
				<button class="modal-close is-large"></button>
			</div>
		<% } %>
	<% } %>
	<% include ../partials/footer %>
	<% include ../partials/scroll-top-button %>
</body>
</html>
