<!DOCTYPE html>
<html lang="en">
<head>
	<title>Wiki Contributors - <%= serverData.name %> Maintainer Console</title>
	<% include ../partials/head %>
	<script>
	function newWikiContributors() {
		var newContributorUser = $("#new-contributor-user");
		if(newContributorUser.val()) {
			newContributorUser.removeClass("is-danger");
		} else {
			newContributorUser.addClass("is-danger");
		}

		if(newContributorUser.val()) {
			GAwesomeData.HUM = true;
			$.ajax({
				type: "POST",
				url: "<%= currentPage %>",
				data: {
					"new-user": newContributorUser.val()
				},
				success: function() {
					$("#form").submit();
				}
			});
		}
	}
	</script>
</head>
<body>
	<% include ../partials/dashboard-header %>
	<% include ../partials/dashboard-socket-updates %>

	<section class="section is-white">
		<div class="container">
			<div class="columns">
				<div id="menu" class="column is-one-quarter">
					<% include ../partials/maintainer-menu %>
				</div>
				<div class="column">
					<h1 class="title">
						Wiki Contributors
					</h1>
					<article class="message is-primary">
						<div class="message-body">
							<div class="content">
								These users are who can contribute to the <a href="/wiki">GAwesomeBot Wiki</a>. This includes <strong>creating, editing, and deleting</strong> pages.
							</div>
						</div>
					</article>
					<form id="form" action="<%= currentPage %>" method="post">
						<div class="field" style="overflow-x: scroll;">
							<% if(configData.wiki_contributors.length>0) { %>
									<table class="table is-fullwidth">
										<thead>
											<tr>
												<th></th>
												<th>Username</th>
												<th>ID</th>
												<% if(pageData.showRemove) { %>
													<th></th>
												<% } %>
											</tr>
										</thead>
										<tbody>
											<% for(var i=0; i<configData.wiki_contributors.length; i++) { %>
												<tr>
													<td>
														<img class="image is-24x24" src="<%= configData.wiki_contributors[i].avatar %>" alt="<%= configData.wiki_contributors[i].id %>">
													</td>
													<td>
														<%= configData.wiki_contributors[i].name %>
														<% if(configData.wiki_contributors[i].isSudoMaintainer) { %>
															&nbsp;
															<span class="tag">Sudo Maintainer</span>
														<% } else if (configData.wiki_contributors[i].isMaintainer) { %>
															&nbsp;
															<span class="tag">Maintainer</span>
														<% } %>
													</td>
													<td>
														<%= configData.wiki_contributors[i].id %>
													</td>
													<td>
														<button class="button is-small is-danger" name="contributor-removed" value="<%= configData.wiki_contributors[i].id %>" onclick="GAwesomeData.HUM = true;"<% if(pageData.showRemove && configData.wiki_contributors[i].isMaintainer) { %> disabled<% } %>>
															<span>Remove</span>
															<span class="icon is-small">
																<i class="fa fa-times"></i>
															</span>
														</button>
													</td>
												</tr>
											<% } %>
										</tbody>
									</table>
								<% } else { %>
									<article class="message is-embedded-message">
										<div class="message-header">
											<p>
												<span class="icon">
													<i class="fa fa-meh-o"></i>
												</span>
												Nothing to see here
											</p>
										</div>
										<div class="message-body">
											There are no wiki contributors. How is this even possible?!
										</div>
									</article>
									<br>
								<% } %>
							</div>
						<div class="field is-horizontal">
							<div class="field-body">
								<div class="field is-grouped">
									<div class="control is-expanded">
										<input id="new-contributor-user" class="input is-primary user-autocomplete" type="text" placeholder="Username or ID" onkeypress="return event.keyCode !== 13;">
									</div>
									<div class="control">
										<a class="button is-primary" onclick="newWikiContributors();">
											<span class="icon">
										        <i class="fa fa-plus"></i>
										    </span>
										    <span>Add</span>
										</a>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<script>GAwesomeUtil.setUserAutocomplete();</script>
	</section>

	<% include ../partials/footer %>
	<% include ../partials/scroll-top-button %>
</body>
</html>
