<!DOCTYPE html>
<html lang="en">
<head>
    <title>Shards - <%= serverData.name %> Maintainer Console</title>
    <% include ../partials/head %>
    <script>
        let isPerformingAction = false;
        function shutdown() {
          swal("Are you sure?", "GAwesomeBot will not be able to respond to Discord events while off.", {
            dangerMode: true,
            buttons: [true, {
              text: "Shutdown",
              closeModal: false,
            }],
          }).then(res => {
            if (isPerformingAction || !res) return;
            isPerformingAction = true;
            $("#shutdown").html("<span class=\"icon\"><i class=\"fa fa-power-off\"></i></span>Shutting down...");
            $.post("/dashboard/maintainer/management/shards", { shutdown: "master" }).done(() => {
              $("#shutdown").html("<span class=\"icon\"><i class=\"fa fa-power-off\"></i></span>Shutting down... Goodbye!");
              swal.stopLoading();
              swal("Success!", "You will be redirected shortly.", "success");
              const redirect = () => window.location.replace("https://gawesomebot.com");
              setTimeout(redirect, 2000);
            });
          });
        }
        function restart() {
        	swal("Are you sure?", "This will restart all shards, but keep the master alive.", {
        		dangerMode: true,
                buttons: [true, {
        			text: "Restart",
                    closeModal: false,
                }],
            }).then(res => {
        	    if (isPerformingAction || !res) return;
        	    isPerformingAction = true;
                $("#restart").html("<span class=\"icon\"><i class=\"fa fa-refresh\"></i></span>Restarting...");
        		$.post("/dashboard/maintainer/management/shards", { restart: "master" }).done(() => {
        			$("#restart").html("<span class=\"icon\"><i class=\"fa fa-refresh\"></i></span>Restarting... Be right back!");
        			swal.stopLoading();
        			swal("Success!", "You will be redirected shortly.", "success");
        			const redirect = () => Turbolinks.visit("");
        			setTimeout(redirect, 5000);
        		});
            });
        }
        function freezeShard(id) {
            swal("Are you sure?", "You will not be able to unfreeze this shard until it is restarted.", {
                dangerMode: true,
                buttons: [true, {
                    text: "Freeze",
                    closeModal: false,
                }],
            }).then(res => {
        	    if (isPerformingAction || !res) return;
                isPerformingAction = true;
                $(`#freeze-${id}`).html("Freezing...");
                $.post("/dashboard/maintainer/management/shards", { "freeze-shard": id }).done(() => {
                	$(`#freeze-${id}`).parent().html(`<a id="restart-${id}" class="card-footer-item card-footer-item-danger" href="javascript:restartShard(${id})">Restart</a>`);
                	$(`#shard-header-${id}`).append(" (Frozen)");
                	swal.stopLoading();
                	swal("Success!", "This shard has been frozen successfully.", "success");
                	isPerformingAction = false;
                });
            });
        }
        function resetShard(id) {
            swal("Are you sure?", "This shard will reinitialize without restarting, which can cause conflicts and unexpected behavior.", {
                dangerMode: true,
                buttons: [true, {
                    text: "Reset",
                    closeModal: false,
                }],
            }).then(res => {
                if (isPerformingAction || !res) return;
                isPerformingAction = true;
                $(`#reset-${id}`).html("Resetting...");
                $.post("/dashboard/maintainer/management/shards", { "reset-shard": id }).done(() => {
                	$(`#reset-${id}`).html("Reset");
                	swal("Success!", "This shard is now being reinitialized.", "success");
                	isPerformingAction = false;
                });
            });
        }
        function restartShard(id) {
            swal("Are you sure?", "This shard will not be able to respond to Discord events while restarting. Restarting a single shard can have unintended effects.", {
                dangerMode: true,
                buttons: [true, {
                    text: "Restart",
                    closeModal: false,
                }],
            }).then(res => {
                if (isPerformingAction || !res) return;
                isPerformingAction = true;
                $(`#restart-${id}`).html("Restarting...");
                $.post("/dashboard/maintainer/management/shards", { "restart-shard": id }).done(() => {
                	$(`#restart-${id}`).parent().html(`<div class="card-footer-item" style="cursor: default; user-select: none;">See you soon!</div>`);
                	swal.stopLoading();
                	swal("Success!", "This shard is now restarting.", "success");
                	isPerformingAction = false;
                });
            });
        }

        function dismissWarning(warn, id) {
        	$.post("/dashboard/maintainer/management/shards", { dismiss: warn }).done(() => {
        		$(`#warning-${id}`).remove();
        		let warnCounter = $("#warning-count");
        		warnCounter.text(Number(warnCounter.text()) - 1);
        		if (warnCounter.text() === "0") $("#warning-list").remove();
            });
        }
    </script>
</head>
<body>
<% include ../partials/dashboard-header %>

<section class="section is-white">
    <div class="container">
        <div class="columns">
            <div id="menu" class="column is-one-quarter">
                <% include ../partials/maintainer-menu %>
            </div>
            <div class="column">
                <h1 class="title">
                    Shards
                </h1>
                <article class="message is-primary">
                    <div class="message-body">
                        <div class="content">
                            These shards represent workers (also known as Child Processes) that handle the work load for a section of guilds and users.
                            <br>
                            You can <strong>freeze</strong> shards, causing them to ignore incoming Discord events, <strong>reset</strong> shards to perform their boot tasks again, or <strong>restart</strong> shards, fully restarting their worker.
                            <br>
                            <strong>Adding</strong> and/or <strong>removing</strong> shards can only be done by modifying the <code>shardTotal</code> value in config.js and then restarting the master process.
                        </div>
                    </div>
                </article>
                <div class="card">
                    <header class="card-header">
                        <p class="card-header-title">
                            The Master
                        </p>
                    </header>
                    <div class="card-content">
                        <div class="level">
                            <div class="level-item has-text-centered">
                                <div>
                                    <p class="heading">Registered Users</p>
                                    <p class="title"><%= configData.data.master.users %></p>
                                </div>
                            </div>
                            <div class="level-item has-text-centered">
                                <div>
                                    <p class="heading">Guild Configurations</p>
                                    <p class="title"><%= configData.data.master.guilds %></p>
                                </div>
                            </div>
                            <div class="level-item has-text-centered">
                                <div>
                                    <p class="heading">DB Query Latency</p>
                                    <p class="title"><%= configData.data.master.ping %></p>
                                </div>
                            </div>
                        </div>
                        <div class="content">
                            <span class="icon">
                                <i class="fa fa-server"></i>
                            </span>
                            Using <strong><%= configData.data.master.rss %>MB</strong> of RAM
                            <br>
                            <span class="icon">
                                <i class="fa fa-clock-o"></i>
                            </span>
                            Process has been alive for <strong><%= configData.data.master.uptime %> hours</strong>
                            <br>
                            <span class="icon">
                                <i class="fa fa-<%= configData.data.master.platformIcon %>"></i>
                            </span>
                            Running on <strong><%= configData.data.master.platform %></strong> with PID <strong><%= configData.data.master.PID %></strong>
                            <% if (configData.data.master.warns.length > 0) { %>
                            <br>
                            <div id="warning-list">
                                <span class="icon">
                                    <i class="fa fa-exclamation-triangle"></i>
                                </span>
                                Found <strong id="warning-count"><%= configData.data.master.warns.length %></strong> configuration warnings:
                                <% configData.data.master.warns.forEach(warn => { %>
                                    <dd id="warning-<%= configData.data.master.warns.indexOf(warn) %>">
                                        <% if (accessPrivileges.includes("shutdown")) { %>
                                            <button class="button is-small is-white" onclick="dismissWarning(`<%= warn %>`, <%= configData.data.master.warns.indexOf(warn) %>); return false;" title="Dismiss warning">
                                                <span class="icon is-small">
                                                    <i class="fa fa-times"></i>
                                                </span>
                                            </button>
                                        <% } %>
                                        <%= warn %>
                                    </dd>
                                <% }) %>
                            </div>
                            <% } %>
                        </div>
                    </div>
                    <footer class="card-footer">
                        <% if (accessPrivileges.includes("shutdown")) { %>
                        <a id="shutdown" class="card-footer-item card-footer-item-danger" href="javascript:shutdown()">
                            <span class="icon">
                                <i class="fa fa-power-off"></i>
                            </span>
                            Shutdown
                        </a>
                        <a id="restart" class="card-footer-item card-footer-item-danger" href="javascript:restart()">
                            <span class="icon">
                                <i class="fa fa-refresh"></i>
                            </span>
                            Restart
                        </a>
                        <% } else { %>
                        <div class="card-footer-item" style="opacity: 0.5; cursor: not-allowed; user-select: none;">
                            You are not authorized to manage the master.
                        </div>
                        <% } %>
                    </footer>
                </div>
                <br>
                <div class="columns">
                    <% for (let i = 0; i < configData.shardTotal; i++) { %>
                    <div class="column is-quarter">
                        <div class="card">
                            <header class="card-header">
                                <p id="shard-header-<%= configData.data.shards[i].ID %>" class="card-header-title">
                                    Shard <%= configData.data.shards[i].ID %><%= configData.data.shards[i].ID === pageData.currentShard ? " (Current)" : "" %><%= configData.data.shards[i].isFrozen ? " (Frozen)" : "" %>
                                </p>
                            </header>
                            <div class="card-content">
                                <% if (!configData.data.shards[i].isFrozen) { %>
                                <div class="level">
                                    <div class="level-item has-text-centered">
                                        <div>
                                            <p class="heading">Users</p>
                                            <p class="title"><%= configData.data.shards[i].users %></p>
                                        </div>
                                    </div>
                                    <div class="level-item has-text-centered">
                                        <div>
                                            <p class="heading">Guilds</p>
                                            <p class="title"><%= configData.data.shards[i].guilds %></p>
                                        </div>
                                    </div>
                                    <div class="level-item has-text-centered">
                                        <div>
                                            <p class="heading">Ping</p>
                                            <p class="title"><%= configData.data.shards[i].ping %></p>
                                        </div>
                                    </div>
                                </div>
                                <% } %>
                                <div class="content">
                                    <span class="icon">
                                        <i class="fa fa-server"></i>
                                    </span>
                                    Using <strong><%= configData.data.shards[i].rss %>MB</strong> of RAM
                                    <br>
                                    <span class="icon">
                                        <i class="fa fa-clock-o"></i>
                                    </span>
                                    Shard has been alive for <strong><%= configData.data.shards[i].uptime %> hours</strong>
                                    <br>
                                    <span class="icon">
                                        <i class="fa fa-terminal"></i>
                                    </span>
                                    Shard is running with PID <strong><%= configData.data.shards[i].PID %></strong>
                                </div>
                            </div>
                            <footer class="card-footer">
                                <div class="card-footer-item">
                                    <span class="has-text-<%= configData.data.shards[i].worker.status ? "success" : "danger" %>">
                                        <span class="icon">
                                            <i class="fa fa-circle-o"></i>
                                        </span>
                                        <% if (configData.data.shards[i].worker.status) { %>
                                        Extension Worker Online with PID <%= configData.data.shards[i].worker.PID %>
                                        <% } else { %>
                                        Extension Worker Offline
                                        <% } %>
                                    </span>
                                </div>
                            </footer>
                            <footer class="card-footer">
                                <% if (accessPrivileges.includes("shutdown")) { %>
                                <% if (!configData.data.shards[i].isFrozen) { %><a id="freeze-<%= configData.data.shards[i].ID %>" class="card-footer-item" href="javascript:freezeShard(<%= configData.data.shards[i].ID %>)">Freeze</a><% } %>
                                <% if (!configData.data.shards[i].isFrozen) { %><a id="reset-<%= configData.data.shards[i].ID %>" class="card-footer-item" href="javascript:resetShard(<%= configData.data.shards[i].ID %>)">Reset</a><% } %>
                                <a id="restart-<%= configData.data.shards[i].ID %>" class="card-footer-item card-footer-item-danger" href="javascript:restartShard(<%= configData.data.shards[i].ID %>)">Restart</a>
                                <% } else { %>
                                <div class="card-footer-item" style="opacity: 0.5; cursor: not-allowed; user-select: none;">
                                    You are not authorized to manage this shard.
                                </div>
                                <% } %>
                            </footer>
                        </div>
                    </div>
                    <% if (i % 2 === 1 && i !== configData.data.shards.length - 1 && i !== 0) { %>
                        </div>
                        <div class="columns">
                    <% } %>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</section>

<% include ../partials/footer %>
<% include ../partials/scroll-top-button %>
</body>
</html>
