<!DOCTYPE html>
<html>
<head>
	<title>Bot User - <%= serverData.name %> Maintainer Console</title>
	<% include ../partials/head %>
	<script src="/static/js/form-change-listener.js"></script>
</head>
<body onload="saveFormState();">
	<% include ../partials/dashboard-header %>
	<% include ../partials/dashboard-socket-updates %>

	<section class="section is-white">
		<div class="container">
			<div class="columns">
				<div id="menu" class="column is-one-quarter">
					<% include ../partials/maintainer-menu %>
				</div>
				<div class="column">
					<h1 class="title">
						Bot User
					</h1>
					<div class="container">
						<article class="message is-primary">
							<div class="message-body">
								<div class="content">
									This is where you can set details about the bot's <strong>Discord user</strong>, such as username, status, and avatar.
								</div>
							</div>
						</article>
					</div>
					<br>
					<div class="container">
						<form id="form" action="<%= currentPage %>?svrid=maintainer" method="post">
							<div class="columns">
								<div class="column is-one-third">
									<img src="<%= bot_user.avatar || 'http://placehold.it/400x400' %>" alt="<%= serverData.id %>" style="width: 100%;">
									<p class="control has-icon">
										<input name="avatar" class="input" type="text" placeholder="New avatar URL">
										<span class="help">HTTP(S) URL to use as the source for <%= serverData.name %>'s new avatar.</span>
										<i class="fa fa-file-image-o"></i>
									</p>
								</div>
								<div class="column">
									<label class="label">Username</label>
									<p class="control has-icon">
										<i class="fa fa-user"></i>
										<input name="username" class="input" type="text" value="<%= serverData.name %>" minlength="1">
										<span class="help">The bot's name on all servers and in PM.</span>
									</p>
									<label class="label">Status</label>
									<p class="control">
										<span class="select">
											<select name="status">
												<option value="online"<%= bot_user.status=="online" ? " selected" : "" %>>Online</option>
												<option value="idle"<%= bot_user.status=="idle" ? " selected" : "" %>>Idle</option>
												<option value="dnd"<%= bot_user.status=="dnd" ? " selected" : ""%>>Do Not Disturb</option>
												<option value="offline"<%= bot_user.status=="offline" ? " selected" : "" %>>Invisible</option>
											</select>
										</span>
										<span class="help">The availability status of the bot, shown in the colored bubble next to the avatar.</span>
									</p>
									<label class="label">Game</label>
									<p class="control has-icon has-addons">
										<i class="fa fa-gamepad"></i>
										<input name="game" class="input" type="text" value="<%= bot_user.game %>" style="width: 100%;">
										<% if(!bot_user.game_default) { %>
											<button name="game-default" class="button">
												Default
											</button>
										<% } %>
									</p>
									<span class="help">The game the bot appears to be playing, shown under the username.</span>
								</div>
							</div>
							<% var formButtonsUnsaved = false; %>
							<% include ../partials/form-buttons %>
							<% include ../partials/form-buttons-bar %>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>

	<% include ../partials/footer %>
	<% include ../partials/scroll-top-button %>
</body>
</html>
