<!DOCTYPE html>
<html lang="en">
<head>
	<title>Server List - <%= serverData.name %> Maintainer Console</title>
	<% include ../partials/head %>
	<script>
	function sendMessage() {
		var serverMessage = $("#server-message");
		if(serverMessage.val()) {
			serverMessage.removeClass("is-danger");
		} else {
			serverMessage.addClass("is-danger");
		}

		if(serverMessage.val()) {
			$("#sendMessage").toggleClass("is-loading");
			$.get(location.pathname + "?" + $("#form").serialize(), () => {
				$("#sendMessage").toggleClass("is-loading")
			});
		}
	}
	</script>
</head>
<body>
	<% include ../partials/dashboard-header %>

	<section class="section is-white">
		<div class="container">
			<div class="columns">
				<div id="menu" class="column is-one-quarter">
					<% include ../partials/maintainer-menu %>
				</div>
				<div class="column">
					<h1 class="title">
						Server List
					</h1>
					<article class="message is-primary">
						<div class="message-body">
							<div class="content">
								This section contains <strong>actions</strong> for every server the bot is on, namely sending a message to a channel, leaving the server, or preventing it from adding GAB again. For information about the servers, go to the <a href="/activity">activity page</a>.
							</div>
						</div>
					</article>
					<form id="form" action="/dashboard/maintainer/servers/server-list" method="get" onsubmit="GAwesomeUtil.SFS();">
						<input type="hidden" name="svrid" value="maintainer" />
						<div class="field has-addons">
							<div class="control is-expanded">
								<input id="server-search" name="q" class="input is-primary is-expanded" type="text" placeholder="Server name" value="<%= pageData.activeSearchQuery %>">
							</div>
							<div class="control">
								<button class="button is-primary">
									<span class="icon is-small">
										<i class="fa fa-search"></i>
									</span>
									<span>Search</span>
								</button>
							</div>
						</div>
						<script>
						  $.getJSON("/api/list/servers", function(data) {
							new AutoComplete({
							  selector: "#server-search",
							  minChars: 2,
							  source: function(query, res) {
								query = query.toLowerCase();
								res(data.filter(function(a) {
								  return a.toLowerCase().indexOf(query)>-1;
								}));
							  }
							});
						  });
						</script>
						<% if (configData && configData.length > 0) { %>
							<div class="field is-grouped">
								<p class="control">
									<span class="select is-primary">
										<select name="i" onchange="$('#form').submit()">
											<% for (var i = 0; i < configData.length; i++) { %>
											<option value="<%= i %>"<%= pageData.selectedServer==i ? " selected": "" %>><%= configData[i].name %></option>
											<% } %>
										</select>
									</span>
								</p>
								<% if (pageData.selectedServer) { %>
								<p class="control">
									<span class="select is-primary">
										<select name="chid">
											<% for(var i = 0; i < configData[pageData.selectedServer].channelData.length; i++) { %>
											<option value="<%= configData[pageData.selectedServer].channelData[i].id %>"><%= configData[pageData.selectedServer].channelData[i].name %></option>
											<% } %>
										</select>
									</span>
								</p>
								<p class="control">
									<a class="button is-primary" onclick="sendMessage();" id="sendMessage">
										<span class="icon is-small">
											<i class="fa fa-paper-plane"></i>
										</span>
										<span>Send</span>
									</a>
								</p>
								<p class="control">
									<a class="button is-info" href="/activity/servers?q=<%= configData[pageData.selectedServer].name %>" target="_blank">
										<span class="icon is-small">
											<i class="fa fa-info"></i>
										</span>
										<span>Info</span>
									</a>
								</p>
								<p class="control">
									<button name="leave" class="button is-warning">
										<span class="icon is-small">
											<i class="fa fa-times"></i>
										</span>
										<span>Leave Server</span>
									</button>
								</p>
								<p class="control">
									<button name="block" class="button is-danger">
										<span class="icon is-small">
											<i class="fa fa-exclamation"></i>
										</span>
										<span>Block Server</span>
									</button>
								</p>
								<% } %>
							</div>
						<% if (pageData.selectedServer) { %>
						<p class="control">
							<textarea id="server-message" name="message" class="textarea is-primary" placeholder="Message to send, in markdown" minlength="1" maxlength="2000"></textarea>
						</p>
						<% } %>
						<% } %>
					</form>
				</div>
			</div>
		</div>
	</section>

	<% include ../partials/footer %>
	<% include ../partials/scroll-top-button %>
</body>
</html>
