<!DOCTYPE html>
<html lang="en">
<head>
	<title><%= serverData.name %> Maintainer Console</title>
	<% include ../partials/head %>
</head>
<body>
	<% include ../partials/dashboard-header %>

	<section class="section is-white">
		<div class="container">
			<div class="columns">
				<div id="menu" class="column is-one-quarter">
					<% include ../partials/maintainer-menu %>
				</div>
				<div class="column">
					<article class="message is-primary">
						<div class="message-header">
							<p>Welcome to the GAwesomeBot <strong>maintainer console</strong>!</p>
						</div>
						<div class="message-body">
							Maintainers can configure GAwesomeBot across <strong>all servers</strong> from here, including the message in the homepage banner, commands disabled by default, and the global blocklist. The list of options is shown in the menu on the left. This page shows an <strong>overview</strong> of the bot's activity.
						</div>
					</article>
					<div class="columns">
						<div class="column">
							<a class="box notification is-white" href="/activity">
								<div class="heading">
									<span class="icon is-small">
										<i class="fa fa-server"></i>
									</span>
									Server<%= pageData.serverCount === 1 ? "" : "s" %>
								</div>
								<div class="title">
                                    <%= pageData.serverCount %>
								</div>
								<div class="heading">
									<span class="icon is-small">
										<i class="fa fa-user"></i>
									</span>
									User<%= pageData.userCount === 1 ? "" : "s" %>
								</div>
								<div class="title">
                                    <%= pageData.userCount %>
								</div>
							</a>
						</div>
						<div class="column">
							<a class="box notification is-white" onclick="$('.traffic-chart-container').slideToggle();">
								<div class="heading">
									<span class="icon is-small">
										<i class="fa fa-comments-o"></i>
									</span>
									Message<%= pageData.totalMessageCount === 1 ? "" : "s" %> today
								</div>
								<div class="title">
                                    <%= pageData.totalMessageCount %>
								</div>
								<div class="heading">
									<span class="icon is-small">
										<i class="fa fa-file"></i>
									</span>
									Views the past hour
								</div>
								<div class="title">
                                    <%= pageData.trafficData.hour %>
								</div>
							</a>
						</div>
						<div class="column">
							<a class="box notification is-white" href="/dashboard/maintainer/management/shards">
								<div class="heading">
									<span class="icon is-small">
										<i class="fa fa-puzzle-piece"></i>
									</span>
									Current Shard
								</div>
								<div class="title">
                                    <%= parseInt(pageData.currentShard) + 1 %>/<%= configData.shardCount %>
								</div>
								<div class="heading">
									<span class="icon is-small">
										<i class="fa fa-clock-o"></i>
									</span>
									Shard uptime
								</div>
								<div class="title">
                                    <%= pageData.roundedUptime %>
								</div>
							</a>
						</div>
						<div class="column">
							<a class="box notification <% if (configData.disabled) { %>is-dark<% } else if (!configData.utd) { %>is-info<% } else { %>is-white<% } %>"<% if (accessPrivileges.includes("management")) { %> href="/dashboard/maintainer/management/version"<% } %>>
								<div class="heading">
									<span class="icon is-small">
										<i class="fa fa-code-fork"></i>
									</span>
									Installed Version
								</div>
								<div class="title">
                                    <%= configData.version %>
								</div>
								<div class="heading">
									<span class="icon is-small">
										<i class="fa fa-arrow-circle-up"></i>
									</span>
									Latest Version
								</div>
								<div class="title">
                                    <% if (configData.disabled) { %> <%= configData.version %> <% } else { %> <%= configData.currentVersion %> <% } %>
								</div>
							</a>
						</div>
					</div>
					<div class="traffic-chart-container">
						<h4 class="title is-4">Web Interface Traffic</h4>
						<div class="box">
							<h4 class="subtitle">Today</h4>
							<div id="traffic-chart-day" class="traffic-chart" style=""></div>
						</div>
						<div class="box">
							<h4 class="subtitle">Last Week</h4>
							<div id="traffic-chart-week" class="traffic-chart" style="margin-top: 15px;"></div>
						</div>
						<div class="box">
							<h4 class="subtitle">Last Month</h4>
							<div id="traffic-chart-month" class="traffic-chart" style="margin-top: 15px;"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<% include ../partials/footer %>
	<% include ../partials/scroll-top-button %>
	<script>
	  function parseDate(ts){
		return new Date(ts).toDateString();
	  }
	  new Morris.Line({
		element: "traffic-chart-month",
		lineColors: ["#00d1b2", "#ffdd57", "#3273dc"],
		data: <%- JSON.stringify(Object.values(pageData.trafficData.days)) %>,
		xkey: "_id",
		ykeys: ["pageViews", "authViews", "uniqueUsers"],
		labels: ["Total Page Views", "Authenticated Views", "Unique Visitors"],
		dateFormat: parseDate,
	  });
	  new Morris.Line({
		element: "traffic-chart-week",
		lineColors: ["#00d1b2", "#ffdd57", "#3273dc"],
		data: <%- JSON.stringify(pageData.trafficData.week) %>,
		xkey: "_id",
		ykeys: ["pageViews", "authViews", "uniqueUsers"],
		labels: ["Total Page Views", "Authenticated Views", "Unique Visitors"],
		dateFormat: parseDate,
	  });
	  <% if (pageData.trafficData.day.length === 0) pageData.trafficData.day[0] = {_id: Date.now(), pageViews: 0, authViews: 0, uniqueUsers: 0}; %>
	  new Morris.Line({
		element: "traffic-chart-day",
		lineColors: ["#00d1b2", "#ffdd57", "#3273dc"],
		data: <%- JSON.stringify(pageData.trafficData.day) %>,
		xkey: "_id",
		ykeys: ["pageViews", "authViews", "uniqueUsers"],
		labels: ["Total Page Views", "Authenticated Views", "Unique Visitors"],
		xLabels: "hour",
	  });
	  $(".traffic-chart-container").toggle();
	</script>
</body>
</html>
