<!DOCTYPE html>
<html>
<head>
	<title><%= pageTitle %></title>
	<% include ../partials/head %>

	<script src="/static/js/form-change-listener.js"></script>
</head>
<body>
	<section id="header" class="hero is-primary is-small is-bold" style="background: url('/header-image');background-size: cover;">
		<div class="hero-head">
			<% include ../partials/header %>
		</div>
		<div class="hero-body">
			<div class="container has-text-centered">
				<h1 class="title is-1">
					<span class="icon is-large">
                        <i class="fa fa-book"></i>
                    </span>
					GAwesomeBot <strong>Wiki</strong>
				</h1>
				<h3 class="subtitle is-3">
					Documentation for everything.
				</h3>
                <% if(mode!="edit") { %>
                <% var menuToggleButtonSize = ""; %>
                <% include ../partials/menu-toggle %>
                <% } %>
			</div>
		</div>
	</section>
	<section class="section is-white">
		<div class="container">
			<div class="columns">
				<% if(mode!="edit") { %>
					<div id="menu" class="column is-one-quarter">
						<div class="field has-addons has-addons-centered">
							<div class="control is-expanded">
								<input id="search-input" class="input" type="text" placeholder="I'm looking for..." onkeydown="if(event.keyCode==13) {GAwesomeUtil.searchWiki(this.value);}" value="<%= data.activeSearchQuery %>">
							</div>
							<div class="control">
							<a id="search-button" class="button" href="javascript:GAwesomeUtil.searchWiki(document.getElementById('search-input').value);">
								<span class="icon is-small">
									<i class="fa fa-search"></i>
								</span>
								<span>Search</span>
							</a>
							</div>
						</div>
						<% if(isContributor) { %>
							<a class="button is-fullwidth" href="/wiki/edit">
								<span class="icon">
			                        <i class="fa fa-plus"></i>
			                    </span>
			                    <span>New Page</span>
		                    </a>
						<% } %>
						<span id="menu-spacer" class="is-hidden"><br></span>
						<aside class="menu">
							<span id="bookmarks-menu" class="is-hidden">
								<p class="menu-label">
									Bookmarks
								</p>
								<ul id="bookmarks-submenu" class="menu-list"></ul>
							</span>
							<% if(pageList.length>0) { %>
								<p class="menu-label">
									Pages
								</p>
								<ul class="menu-list">
									<% for(var i=0; i<pageList.length; i++) { %>
										<li>
											<% var pageName = pageList[i].substring(0, pageList[i].indexOf(".")); %>
											<a id="menu-<%= pageList[i] %>" class="<%= pageList[i]==data.title ? 'is-active' : '' %>" href="/wiki/<%= pageList[i] %>">
												<%= pageList[i] %>
											</a>
										</li>
									<% } %>
								</ul>
							<% } %>
							<% if(mode=="page" && data.content) { %>
								<p class="menu-label">
									Sections
								</p>
								<ul id="submenu" class="menu-list"></ul>
							<% } %>
						</aside>
					</div>
				<% } %>
				<div class="column">
					<nav class="level is-mobile">
						<div class="level-left">
							<h1 id="page-title" class="title">
								<%= data.title %>
							</h1>
						</div>
						<% if(mode=="page" && data.content) { %>
							<script>
					        function addReaction(value) {
					            $.ajax({
					        		type: "POST",
					        		url: "/wiki/<%= data.title %>/react?value=" + value,
					        		success: function() {
					        			Turbolinks.visit("");
					        		}
					        	});
					        }
					        </script>

							<div class="level-right">
								<div class="level-item">
									<div class="field has-addons">
										<p class="control">
											<a class="button <%= (authUser && data.userReaction.value==-1) ? 'is-dark' : 'is-light' %> <%= !authUser ? 'is-disabled' : '' %>" onclick="addReaction(-1);" title="This page was not helpful">
												<span class="icon is-small">
													<i class="fa fa-thumbs-o-down"></i>
												</span>
												<span><%= data.reactions[-1] %></span>
											</a>
										</p>
										<p class="control">
											<a class="button <%= (authUser && data.userReaction.value==1) ? 'is-dark' : 'is-light' %> <%= !authUser ? 'is-disabled' : '' %>" onclick="addReaction(1);" title="This page was helpful">
												<span class="icon is-small">
													<i class="fa fa-thumbs-o-up"></i>
												</span>
												<span><%= data.reactions[1] %></span>
											</a>
										</p>
									</div>
								</div>
								<div class="level-item">
									<div class="buttons">
										<a class="button is-dark is-outlined" href="/wiki/<%= data.title %>/history">
											<span class="icon is-small">
												<i class="fa fa-history"></i>
											</span>
											<span>History</span>
										</a>
									<% if(isContributor) { %>
						                	<a class="button is-info is-outlined" href="/wiki/edit?id=<%= data.title %>">
						                    	<span class="icon is-small">
						                        	<i class="fa fa-pencil"></i>
						                    	</span>
						                    	<span>Edit</span>
						                	</a>
						            	<script>
						            	function deletePage(id) {
						                	const prompt = confirm("Are you sure you want to delete this page?");
						                	if(prompt) {
						                    	$.ajax({
						                			type: "POST",
						                			url: "/wiki/" + id + "/delete",
						                			success: function() {
						                				Turbolinks.visit("/wiki");
						                			}
						                		});
						                	}
						            	}
						            	</script>
						                	<a class="button is-danger is-outlined" onclick="deletePage('<%= data.title %>');">
						                    	<span class="icon is-small">
						                        	<i class="fa fa-times"></i>
						                    	</span>
						                    	<span>Delete</span>
						                	</a>
										</div>
									<% } %>
								</div>
							</div>
						<% } %>
					</nav>
					<div id="frame" class="<%= (mode=='page' && data.content) ? 'content' : '' %>">
						<% if(mode=="search") { %>
							<% include ../partials/wiki-search-results %>
						<% } else if(["page", "history"].indexOf(mode)>-1) { %>
							<% if(mode=="page" && data.content) { %>
								<%- data.content %>
							<% } else if(mode=="history" && data.updates) { %>
								<% include ../partials/wiki-edit-history %>
							<% } else { %>
								<% var activeSearchQuery = data.activeSearchQuery; %>
								<% mode = data.title %>
								<% include ../partials/no-results %>
							<% } %>
						<% } else if(mode=="edit") { %>
							<% include ../partials/wiki-editor %>
						<% } %>
					</div>
				</div>
			</div>
		</div>
	</section>

	<% if(mode=="page") { %>
		<script>
		GAwesomeUtil.populateWikiSections();
		</script>
	<% } %>

	<% include ../partials/footer %>
	<% include ../partials/scroll-top-button %>
</body>
</html>
