<!DOCTYPE html>
<html>
<head>
	<title><%= pageTitle %></title>
	<% include ../partials/head %>

	<script>
	var bookmarks = JSON.parse(localStorage.getItem("wiki-bookmarks")) || [];

	function searchWiki(query) {
		window.location.href = "/wiki?q=" + encodeURIComponent(query);
	}

	function populateSectionsMenu() {
		var subMenu = "<ul>";
		var pageSections = document.getElementById("frame").querySelectorAll("h1, h2, h3");
		for(var i=0; i<pageSections.length; i++) {
			if(i>0 && pageSections[i].tagName!="H3" && pageSections[i-1].tagName=="H3") {
				subMenu += "</ul>";
			}
			subMenu += "<li>";
			if(pageSections[i].tagName=="H3" && ((i>0 && pageSections[i-1].tagName!="H3") || i==0)) {
				subMenu += "<ul>"
			}
			subMenu += "<a class='heading-shortcut-link' href='#" + pageSections[i].id + "'>" + pageSections[i].innerHTML + "</a></li>";

			pageSections[i].innerHTML += "&nbsp;<a class='button is-link " + (pageSections[i].tagName=="H3" ? "is-small" : "") + " heading-shortcut-link' style='text-decoration:none;' href='#" + pageSections[i].id + "'><i class='fa fa-link'></i></a>&nbsp;<a class='button " + (bookmarks.indexOf(getBookmarkLink(pageSections[i].id))>-1 ? "is-dark" : "is-link") + " " + (pageSections[i].tagName=="H3" ? "is-small" : "") + "' style='text-decoration:none;' onclick='bookmarkSection(this);'><i class='fa fa-bookmark'></i></a>"
		}
		subMenu += "</ul>";
		if(pageSections[i-1].tagName=="H3") {
			subMenu += "</ul>";
		}
		$("#submenu").html(subMenu);
		$("table").addClass("table");

		$(".heading-shortcut-link").click(function() {
			$("html, body").animate({
				scrollTop: $("#" + this.href.substring(this.href.lastIndexOf("#")+1)).offset().top
			}, 172);
		});
	}

	function populateBookmarksMenu() {
		if(bookmarks.length>0) {
			$("#bookmarks-menu").removeClass("is-hidden");
			$("#menu-spacer").removeClass("is-hidden");

			bookmarks = bookmarks.sort();
			var subMenu = "<ul>";
			for(var i=0; i<bookmarks.length; i++) {
				subMenu += "<li><a href='" + bookmarks[i] + "'>" + decodeURI(bookmarks[i]).replace("#", " &raquo; ") + "</a></li>";
			}
			subMenu += "</ul>";

			$("#bookmarks-submenu").html(subMenu);
		} else {
			$("#bookmarks-menu").addClass("is-hidden");
			$("#menu-spacer").addClass("is-hidden");
		}
	}

	function bookmarkSection(elem) {
		var link = getBookmarkLink(elem.parentNode.id);
		if(bookmarks.indexOf(link)>-1) {
			bookmarks.splice(bookmarks.indexOf(link), 1);
		} else {
			bookmarks.push(link);
		}
		localStorage.setItem("wiki-bookmarks", JSON.stringify(bookmarks));

		$(elem).toggleClass("is-dark is-link");
		populateBookmarksMenu();
	}

	function getBookmarkLink(id) {
		return window.location.pathname.split("/").slice(-1)[0] + "#" + id;
	}
	</script>
</head>
<body>
	<section id="header" class="hero is-primary is-small is-bold" style="background: url('/header-image');background-size: cover;">
		<div class="hero-head">
			<% include ../partials/header %>
		</div>
		<div class="hero-body">
			<div class="container has-text-centered">
				<h1 class="title is-1">
					<span class="icon is-large">
                        <i class="fa fa-book"></i>
                    </span>
					AwesomeBot <strong>Wiki</strong>
				</h1>
				<h3 class="subtitle is-3">
					Documentation for everything.
					<% if(mode!="edit") { %>
						<% var menuToggleButtonSize = ""; %>
						<% include ../partials/menu-toggle %>
					<% } %>
				</h3>
			</div>
		</div>
	</section>
	<section class="section is-white">
		<div class="container">
			<div class="columns">
				<% if(mode!="edit") { %>
					<div id="menu" class="column is-one-quarter">
						<p class="control has-addons has-addons-centered">
							<input id="search-input" class="input is-expanded" type="text" placeholder="I'm looking for..." onkeydown="if(event.keyCode==13) {searchWiki(this.value);}" value="<%= data.activeSearchQuery %>">
							<a id="search-button" class="button" href="javascript:searchWiki(document.getElementById('search-input').value);">
								<span class="icon is-small">
									<i class="fa fa-search"></i>
								</span>
								<span>Search</span>
							</a>
						</p>
						<% if(isContributor) { %>
							<a class="button is-fullwidth" href="/wiki/edit">
								<span class="icon">
			                        <i class="fa fa-plus"></i>
			                    </span>
			                    <span>New Page</span>
		                    </a>
						<% } %>
						<span id="menu-spacer" class="is-hidden"><br></span>
						<aside class="menu">
							<span id="bookmarks-menu" class="is-hidden">
								<p class="menu-label">
									Bookmarks
								</p>
								<ul id="bookmarks-submenu" class="menu-list"></ul>
							</span>
							<script>
							populateBookmarksMenu();
							</script>
							<% if(pageList.length>0) { %>
								<p class="menu-label">
									Pages
								</p>
								<ul class="menu-list">
									<% for(var i=0; i<pageList.length; i++) { %>
										<li>
											<% var pageName = pageList[i].substring(0, pageList[i].indexOf(".")); %>
											<a id="menu-<%= pageList[i] %>" class="<%= pageList[i]==data.title ? 'is-active' : '' %>" href="/wiki/<%= pageList[i] %>">
												<%= pageList[i] %>
											</a>
										</li>
									<% } %>
								</ul>
							<% } %>
							<% if(mode=="page" && data.content) { %>
								<p class="menu-label">
									Sections
								</p>
								<ul id="submenu" class="menu-list"></ul>
							<% } %>
						</aside>
					</div>
				<% } %>
				<div class="column">
					<nav class="level is-mobile">
						<div class="level-left">
							<h1 id="page-title" class="title">
								<%= data.title %>
							</h1>
						</div>
						<% if(mode=="page" && data.content) { %>
							<script>
					        function addReaction(value) {
					            $.ajax({
					        		type: "POST",
					        		url: "/wiki/<%= data.title %>/react?value=" + value,
					        		success: function(data) {
					        			window.location.reload();
					        		}
					        	});
					        }
					        </script>

							<div class="level-right">
								<div class="level-item">
									<p class="control has-addons">
										<a class="button <%= (authUser && data.userReaction.value==-1) ? 'is-dark' : 'is-light' %> <%= !authUser ? 'is-disabled' : '' %>" onclick="addReaction(-1);" title="This page was not helpful">
											<span class="icon is-small">
												<i class="fa fa-thumbs-o-down"></i>
											</span>
											<span><%= data.reactions[-1] %></span>
										</a>
										<a class="button <%= (authUser && data.userReaction.value==1) ? 'is-dark' : 'is-light' %> <%= !authUser ? 'is-disabled' : '' %>" onclick="addReaction(1);" title="This page was helpful">
											<span class="icon is-small">
												<i class="fa fa-thumbs-o-up"></i>
											</span>
											<span><%= data.reactions[1] %></span>
										</a>
									</p>
								</div>
								<div class="level-item">
									<a class="button is-dark is-outlined" href="/wiki/<%= data.title %>/history">
										<span class="icon is-small">
											<i class="fa fa-history"></i>
										</span>
										<span>History</span>
									</a>
								</div>
								<% if(isContributor) { %>
									<div class="level-item">
						                <a class="button is-info is-outlined" href="/wiki/edit?id=<%= data.title %>">
						                    <span class="icon is-small">
						                        <i class="fa fa-pencil"></i>
						                    </span>
						                    <span>Edit</span>
						                </a>
						            </div>
						            <script>
						            function deletePage(id) {
						                var prompt = confirm("Are you sure you want to delete this page?");
						                if(prompt) {
						                    $.ajax({
						                		type: "POST",
						                		url: "/wiki/" + id + "/delete",
						                		success: function(data) {
						                			window.location.href = "/wiki";
						                		}
						                	});
						                }
						            }
						            </script>
						            <div class="level-item">
						                <a class="button is-danger is-outlined" onclick="deletePage('<%= data.title %>');">
						                    <span class="icon is-small">
						                        <i class="fa fa-times"></i>
						                    </span>
						                    <span>Delete</span>
						                </a>
						            </div>
								<% } %>
							</div>
						<% } %>
					</nav>
					<div id="frame" class="<%= (mode=='page' && data.content) ? 'content' : '' %>">
						<% if(mode=="search") { %>
							<% include ../partials/wiki-search-results %>
						<% } else if(["page", "history"].indexOf(mode)>-1) { %>
							<% if(mode=="page" && data.content) { %>
								<%- data.content %>
							<% } else if(mode=="history" && data.updates) { %>
								<% include ../partials/wiki-edit-history %>
							<% } else { %>
								<% var activeSearchQuery = data.activeSearchQuery; %>
								<% mode = data.title %>
								<% include ../partials/no-results %>
							<% } %>
						<% } else if(mode=="edit") { %>
							<% include ../partials/wiki-editor %>
						<% } %>
					</div>
				</div>
			</div>
		</div>
	</section>

	<% if(mode=="page") { %>
		<script>
		populateSectionsMenu();
		</script>
	<% } %>

	<% include ../partials/footer %>
	<% include ../partials/scroll-top-button %>
</body>
</html>
