<aside class="menu">
	<ul class="menu-list">
		<li>
			<% if(currentPage=="/dashboard/overview") { %>
				<a class="is-active" href="#">Overview</a>
			<% } else { %>
				<a href="/dashboard/overview?svrid=<%= serverData.id %>">Overview</a>
			<% } %>
		</li>
	</ul>
	<p class="menu-label">
		Commands
	</p>
	<ul class="menu-list">
		<li>
			<% if(currentPage=="/dashboard/commands/command-options") { %>
				<a class="is-active" href="#">Command Options</a>
			<% } else { %>
				<a href="/dashboard/commands/command-options?svrid=<%= serverData.id %>">Command Options</a>
			<% } %>
			<% if(["/dashboard/commands/command-list", "/dashboard/commands/rss-feeds", "/dashboard/commands/streamers", "/dashboard/commands/tags", "/dashboard/commands/auto-translation", "/dashboard/commands/trivia-sets"].indexOf(currentPage)>-1) { %>
				<a class="<%= currentPage=='/dashboard/commands/command-list' ? 'is-active' : '' %>" href="<%= currentPage=='/dashboard/commands/command-list' ? '#' : ('/dashboard/commands/command-list?svrid=' + serverData.id) %>">Command List</a>
				<ul>
					<li>
						<% if(currentPage=="/dashboard/commands/rss-feeds") { %>
							<a class="is-active" href="#">RSS Feeds</a>
						<% } else { %>
							<a href="/dashboard/commands/rss-feeds?svrid=<%= serverData.id %>">RSS Feeds</a>
						<% } %>
					</li>
					<li>
						<% if(currentPage=="/dashboard/commands/streamers") { %>
								<a class="is-active" href="#">Streamers</a>
							<% } else { %>
								<a href="/dashboard/commands/streamers?svrid=<%= serverData.id %>">Streamers</a>
							<% } %>
					</li>
					<li>
						<% if(currentPage=="/dashboard/commands/tags") { %>
								<a class="is-active" href="#">Tags</a>
							<% } else { %>
								<a href="/dashboard/commands/tags?svrid=<%= serverData.id %>">Tags</a>
							<% } %>
					</li>
					<li>
						<% if(currentPage=="/dashboard/commands/auto-translation") { %>
								<a class="is-active" href="#">Auto Translation</a>
							<% } else { %>
								<a href="/dashboard/commands/auto-translation?svrid=<%= serverData.id %>">Auto Translation</a>
							<% } %>
					</li>
					<% if(configData.commands.trivia.isEnabled) { %>
						<li>
							<% if(currentPage=="/dashboard/commands/trivia-sets") { %>
								<a class="is-active" href="#">Trivia Sets</a>
							<% } else { %>
								<a href="/dashboard/commands/trivia-sets?svrid=<%= serverData.id %>">Trivia Sets</a>
							<% } %>
						</li>
					<% } %>
				</ul>
			<% } else { %>
				<a href="/dashboard/commands/command-list?svrid=<%= serverData.id %>">Command List &#9662;</a>
			<% } %>
			<% if(currentPage=="/dashboard/commands/api-keys") { %>
				<a class="is-active" href="#">API Keys</a>
			<% } else { %>
				<a href="/dashboard/commands/api-keys?svrid=<%= serverData.id %>">API Keys</a>
			<% } %>
			<% if(currentPage=="/dashboard/commands/tag-reaction") { %>
				<a class="is-active" href="#">Tag Reaction</a>
			<% } else { %>
				<a href="/dashboard/commands/tag-reaction?svrid=<%= serverData.id %>">Tag Reaction</a>
			<% } %>
		</li>
	</ul>
	<p class="menu-label">
		Stats &amp; Points
	</p>
	<ul class="menu-list">
		<li>
			<% if(currentPage=="/dashboard/stats-points/stats-collection") { %>
				<a class="is-active" href="#">Stats Collection</a>
			<% } else { %>
				<a href="/dashboard/stats-points/stats-collection?svrid=<%= serverData.id %>">Stats Collection</a>
			<% } %>
			<% if(currentPage=="/dashboard/stats-points/ranks") { %>
				<a class="is-active" href="#">Ranks</a>
			<% } else { %>
				<a href="/dashboard/stats-points/ranks?svrid=<%= serverData.id %>">Ranks</a>
			<% } %>
			<% if(currentPage=="/dashboard/stats-points/awesome-points") { %>
				<a class="is-active" href="#">AwesomePoints</a>
			<% } else { %>
				<a href="/dashboard/stats-points/awesome-points?svrid=<%= serverData.id %>">AwesomePoints</a>
			<% } %>
		</li>
	</ul>
	<p class="menu-label">
		Management
	</p>
	<ul class="menu-list">
		<li>
			<% if(currentPage=="/dashboard/management/admins") { %>
				<a class="is-active" href="#">Admins</a>
			<% } else { %>
				<a href="/dashboard/management/admins?svrid=<%= serverData.id %>">Admins</a>
			<% } %>
			<% if(["/dashboard/management/moderation", "/dashboard/management/blocked", "/dashboard/management/muted", "/dashboard/management/strikes", "/dashboard/management/status-messages", "/dashboard/management/filters"].indexOf(currentPage)>-1) { %>
				<a class="<%= currentPage=='/dashboard/management/moderation' ? 'is-active' : '' %>" href="<%= currentPage=='/dashboard/management/moderation' ? '#' : ('/dashboard/management/moderation?svrid=' + serverData.id) %>">Moderation</a>
				<ul>
					<li>
						<% if(currentPage=="/dashboard/management/blocked") { %>
							<a class="is-active" href="#">Blocked</a>
						<% } else { %>
							<a href="/dashboard/management/blocked?svrid=<%= serverData.id %>">Blocked</a>
						<% } %>
					</li>
					<li>
						<% if(currentPage=="/dashboard/management/muted") { %>
							<a class="is-active" href="#">Muted</a>
						<% } else { %>
							<a href="/dashboard/management/muted?svrid=<%= serverData.id %>">Muted</a>
						<% } %>
					</li>
					<li>
						<% if(currentPage=="/dashboard/management/strikes") { %>
							<a class="is-active" href="#">Strikes</a>
						<% } else { %>
							<a href="/dashboard/management/strikes?svrid=<%= serverData.id %>">Strikes</a>
						<% } %>
					</li>
					<% if(configData.moderation.isEnabled) { %>
						<li>
							<% if(currentPage=="/dashboard/management/status-messages") { %>
								<a class="is-active" href="#">Status Messages</a>
							<% } else { %>
								<a href="/dashboard/management/status-messages?svrid=<%= serverData.id %>">Status Messages</a>
							<% } %>
						</li>
						<li>
							<% if(currentPage=="/dashboard/management/filters") { %>
								<a class="is-active" href="#">Filters</a>
							<% } else { %>
								<a href="/dashboard/management/filters?svrid=<%= serverData.id %>">Filters</a>
							<% } %>
						</li>
					<% } %>
				</ul>
			<% } else { %>
				<a href="/dashboard/management/moderation?svrid=<%= serverData.id %>">Moderation &#9662;</a>
			<% } %>
			<% if(currentPage=="/dashboard/management/message-of-the-day") { %>
				<a class="is-active" href="#">Message of the Day</a>
			<% } else { %>
				<a href="/dashboard/management/message-of-the-day?svrid=<%= serverData.id %>">Message of the Day</a>
			<% } %>
			<% if(currentPage=="/dashboard/management/voicetext-channels") { %>
				<a class="is-active" href="#">Voicetext Channels</a>
			<% } else { %>
				<a href="/dashboard/management/voicetext-channels?svrid=<%= serverData.id %>">Voicetext Channels</a>
			<% } %>
			<% if(currentPage=="/dashboard/management/roles") { %>
				<a class="is-active" href="#">Roles</a>
			<% } else { %>
				<a href="/dashboard/management/roles?svrid=<%= serverData.id %>">Roles</a>
			<% } %>
			<% if(currentPage=="/dashboard/management/logs") { %>
				<a class="is-active" href="#">Logs</a>
			<% } else { %>
				<a href="/dashboard/management/logs?svrid=<%= serverData.id %>">Logs</a>
			<% } %>
		</li>
	</ul>
	<p class="menu-label">
		Other
	</p>
	<ul class="menu-list">
		<li>
			<% if(currentPage=="/dashboard/other/name-display") { %>
				<a class="is-active" href="#">Name Display</a>
			<% } else { %>
				<a href="/dashboard/other/name-display?svrid=<%= serverData.id %>">Name Display</a>
			<% } %>
			<% if(currentPage=="/dashboard/other/ongoing-activities") { %>
				<a class="is-active" href="#">Ongoing Activities</a>
			<% } else { %>
				<a href="/dashboard/other/ongoing-activities?svrid=<%= serverData.id %>">Ongoing Activities</a>
			<% } %>
			<% if(currentPage=="/dashboard/other/public-data") { %>
				<a class="is-active" href="#">Public Data</a>
			<% } else { %>
				<a href="/dashboard/other/public-data?svrid=<%= serverData.id %>">Public Data</a>
			<% } %>
			<% if(["/dashboard/other/extensions", "/dashboard/other/extension-builder"].indexOf(currentPage)>-1) { %>
				<a class="<%= currentPage=='/dashboard/other/extensions' ? 'is-active' : '' %>" href="<%= currentPage=='/dashboard/other/extensions' ? '#' : ('/dashboard/other/extensions?svrid=' + serverData.id) %>">Extensions</a>
				<ul>
					<li>
						<% if(currentPage=="/dashboard/other/extension-builder") { %>
							<a class="is-active" href="#">Extension Builder</a>
						<% } else { %>
							<a href="/dashboard/other/extension-builder?svrid=<%= serverData.id %>">Extension Builder</a>
						<% } %>
					</li>
					<li>
						<a href="/extensions">Discover Extensions &raquo;</a>
					</li>
				</ul>
			<% } else { %>
				<a href="/dashboard/other/extensions?svrid=<%= serverData.id %>">Extensions &#9662;</a>
			<% } %>
			<a href="/dashboard/other/export?svrid=<%= serverData.id %>" target="_blank">Export Config</a>
		</li>
	</ul>
</aside>