
<aside class="menu">
	<ul class="menu-list">
		<li>
			<% if(currentPage === `/dashboard/${serverData.id}/overview`) { %>
				<% include ../partials/admin-sudo.ejs %>
				<a class="is-active" href="#">Overview</a>
			<% } else { %>
				<a href="/dashboard/<%= serverData.id %>/overview">Overview</a>
			<% } %>
		</li>
	</ul>
	<p class="menu-label">
        <span class="icon is-small">
            <i class="fa fa-cogs"></i>
        </span>
		<span>Commands</span>
	</p>
	<ul class="menu-list">
		<li>
			<% if(currentPage === `/dashboard/${serverData.id}/commands/command-options`) { %>
            <% include ../partials/admin-sudo.ejs %>
			<a class="is-active" href="#">Command Options</a>
			<% } else { %>
				<a href="/dashboard/<%= serverData.id %>/commands/command-options">Command Options</a>
			<% } %>
			<% if ([`/dashboard/${serverData.id}/commands/command-list`, `/dashboard/${serverData.id}/commands/rss-feeds`, `/dashboard/${serverData.id}/commands/streamers`, `/dashboard/${serverData.id}/commands/tags`, `/dashboard/${serverData.id}/commands/auto-translation`, `/dashboard/${serverData.id}/commands/trivia-sets`].includes(currentPage)) { %>
            <% include ../partials/admin-sudo.ejs %>
			<a class="<%= currentPage === `/dashboard/${serverData.id}/commands/command-list` ? 'is-active' : '' %>" href="<%= currentPage === `/dashboard/${serverData.id}/commands/command-list` ? '#' : (`/dashboard/${serverData.id}/commands/command-list`) %>">Command List</a>
				<ul>
					<li>
						<% if (currentPage === `/dashboard/${serverData.id}/commands/rss-feeds`) { %>
							<a class="is-active" href="#">RSS Feeds</a>
						<% } else { %>
							<a href="/dashboard/<%= serverData.id %>/commands/rss-feeds">RSS Feeds</a>
						<% } %>
					</li>
					<li>
						<% if (currentPage === `/dashboard/${serverData.id}/commands/streamers`) { %>
								<a class="is-active" href="#">Streamers</a>
							<% } else { %>
								<a href="/dashboard/<%= serverData.id %>/commands/streamers">Streamers</a>
							<% } %>
					</li>
					<li>
						<% if (currentPage === `/dashboard/${serverData.id}/commands/tags`) { %>
								<a class="is-active" href="#">Tags</a>
							<% } else { %>
								<a href="/dashboard/<%= serverData.id %>/commands/tags">Tags</a>
							<% } %>
					</li>
					<li>
						<% if (currentPage === `/dashboard/${serverData.id}/commands/auto-translation`) { %>
								<a class="is-active" href="#">Auto Translation</a>
							<% } else { %>
								<a href="/dashboard/<%= serverData.id %>/commands/auto-translation">Auto Translation</a>
							<% } %>
					</li>
					<% if (configData.commands.trivia && configData.commands.trivia.isEnabled) { %>
						<li>
							<% if (currentPage === `/dashboard/${serverData.id}/commands/trivia-sets`) { %>
								<a class="is-active" href="#">Trivia Sets</a>
							<% } else { %>
								<a href="/dashboard/<%= serverData.id %>/commands/trivia-sets">Trivia Sets</a>
							<% } %>
						</li>
					<% } %>
				</ul>
			<% } else { %>
				<a href="/dashboard/<%= serverData.id %>/commands/command-list">Command List &#9662;</a>
			<% } %>
			<% if (currentPage === `/dashboard/${serverData.id}/commands/api-keys`) { %>
            <% include ../partials/admin-sudo.ejs %>
			<a class="is-active" href="#">API Keys</a>
			<% } else { %>
				<a href="/dashboard/<%= serverData.id %>/commands/api-keys">API Keys</a>
			<% } %>
			<% if (currentPage === `/dashboard/${serverData.id}/commands/tag-reaction`) { %>
            <% include ../partials/admin-sudo.ejs %>
			<a class="is-active" href="#">Tag Reaction</a>
			<% } else { %>
				<a href="/dashboard/<%= serverData.id %>/commands/tag-reaction">Tag Reaction</a>
			<% } %>
		</li>
	</ul>
	<p class="menu-label">
        <span class="icon is-small">
            <i class="fa fa-star"></i>
        </span>
        <span>Stats &amp; Points</span>
	</p>
	<ul class="menu-list">
		<li>
			<% if (currentPage === `/dashboard/${serverData.id}/stats-points/stats-collection`) { %>
            <% include ../partials/admin-sudo.ejs %>
			<a class="is-active" href="#">Stats Collection</a>
			<% } else { %>
				<a href="/dashboard/<%= serverData.id %>/stats-points/stats-collection">Stats Collection</a>
			<% } %>
			<% if (currentPage === `/dashboard/${serverData.id}/stats-points/ranks`) { %>
            <% include ../partials/admin-sudo.ejs %>
			<a class="is-active" href="#">Ranks</a>
			<% } else { %>
				<a href="/dashboard/<%= serverData.id %>/stats-points/ranks">Ranks</a>
			<% } %>
			<% if (currentPage === `/dashboard/${serverData.id}/stats-points/gawesome-points`) { %>
            <% include ../partials/admin-sudo.ejs %>
			<a class="is-active" href="#">GAwesomePoints</a>
			<% } else { %>
				<a href="/dashboard/<%= serverData.id %>/stats-points/gawesome-points">GAwesomePoints</a>
			<% } %>
		</li>
	</ul>
	<p class="menu-label">
        <span class="icon is-small">
            <i class="fa fa-wrench"></i>
        </span>
        <span>Administration</span>
	</p>
	<ul class="menu-list">
		<li>
			<% if (currentPage === `/dashboard/${serverData.id}/administration/admins`) { %>
            <% include ../partials/admin-sudo.ejs %>
			<a class="is-active" href="#">Admins</a>
			<% } else { %>
				<a href="/dashboard/<%= serverData.id %>/administration/admins">Admins</a>
			<% } %>
			<% if ([`/dashboard/${serverData.id}/administration/moderation`, `/dashboard/${serverData.id}/administration/blocked`, `/dashboard/${serverData.id}/administration/muted`, `/dashboard/${serverData.id}/administration/strikes`, `/dashboard/${serverData.id}/administration/status-messages`, `/dashboard/${serverData.id}/administration/filters`].includes(currentPage)) { %>
            <% include ../partials/admin-sudo.ejs %>
			<a class="<%= currentPage === `/dashboard/${serverData.id}/administration/moderation` ? 'is-active' : '' %>" href="<%= currentPage === `/dashboard/${serverData.id}/administration/moderation` ? '#' : (`/dashboard/${serverData.id}/administration/moderation`) %>">Moderation</a>
				<ul>
					<li>
						<% if (currentPage === `/dashboard/${serverData.id}/administration/blocked`) { %>
							<a class="is-active" href="#">Blocked</a>
						<% } else { %>
							<a href="/dashboard/<%= serverData.id %>/administration/blocked">Blocked</a>
						<% } %>
					</li>
					<li>
						<% if (currentPage === `/dashboard/${serverData.id}/administration/muted`) { %>
							<a class="is-active" href="#">Muted</a>
						<% } else { %>
							<a href="/dashboard/<%= serverData.id %>/administration/muted">Muted</a>
						<% } %>
					</li>
					<li>
						<% if (currentPage === `/dashboard/${serverData.id}/administration/strikes`) { %>
							<a class="is-active" href="#">Strikes</a>
						<% } else { %>
							<a href="/dashboard/<%= serverData.id %>/administration/strikes">Strikes</a>
						<% } %>
					</li>
					<li>
						<% if (currentPage === `/dashboard/${serverData.id}/administration/status-messages`) { %>
							<a class="moderation-only-menu-item is-active<%= configData.moderation.isEnabled ? "" : " is-hidden" %>" href="#">Status Messages</a>
						<% } else { %>
							<a class="moderation-only-menu-item<%= configData.moderation.isEnabled ? "" : " is-hidden" %>" href="/dashboard/<%= serverData.id %>/administration/status-messages">Status Messages</a>
						<% } %>
					</li>
					<li>
						<% if (currentPage === `/dashboard/${serverData.id}/administration/filters`) { %>
							<a class="moderation-only-menu-item is-active<%= configData.moderation.isEnabled ? "" : " is-hidden" %>" href="#">Filters</a>
						<% } else { %>
							<a class="moderation-only-menu-item<%= configData.moderation.isEnabled ? "" : " is-hidden" %>" href="/dashboard/<%= serverData.id %>/administration/filters">Filters</a>
						<% } %>
					</li>
				</ul>
			<% } else { %>
				<a href="/dashboard/<%= serverData.id %>/administration/moderation">Moderation &#9662;</a>
			<% } %>
			<% if (currentPage === `/dashboard/${serverData.id}/administration/message-of-the-day`) { %>
            <% include ../partials/admin-sudo.ejs %>
			<a class="is-active" href="#">Message of the Day</a>
			<% } else { %>
				<a href="/dashboard/<%= serverData.id %>/administration/message-of-the-day">Message of the Day</a>
			<% } %>
			<% if (currentPage === `/dashboard/${serverData.id}/administration/voicetext-channels`) { %>
            <% include ../partials/admin-sudo.ejs %>
			<a class="is-active" href="#">Voicetext Channels</a>
			<% } else { %>
				<a href="/dashboard/<%= serverData.id %>/administration/voicetext-channels">Voicetext Channels</a>
			<% } %>
			<% if (currentPage === `/dashboard/${serverData.id}/administration/roles`) { %>
            <% include ../partials/admin-sudo.ejs %>
			<a class="is-active" href="#">Roles</a>
			<% } else { %>
				<a href="/dashboard/<%= serverData.id %>/administration/roles">Roles</a>
			<% } %>
			<% if (currentPage === `/dashboard/${serverData.id}/administration/logs`) { %>
            <% include ../partials/admin-sudo.ejs %>
			<a class="is-active" href="#">Logs</a>
			<% } else { %>
				<a href="/dashboard/<%= serverData.id %>/administration/logs">Logs</a>
			<% } %>
		</li>
	</ul>
	<p class="menu-label">
        <span class="icon is-small">
            <i class="fa fa-list"></i>
        </span>
        <span>Other</span>
	</p>
	<ul class="menu-list">
		<li>
			<% if (currentPage === `/dashboard/${serverData.id}/other/name-display`) { %>
            <% include ../partials/admin-sudo.ejs %>
			<a class="is-active" href="#">Name Display</a>
			<% } else { %>
				<a href="/dashboard/<%= serverData.id %>/other/name-display">Name Display</a>
			<% } %>
			<% if (currentPage === `/dashboard/${serverData.id}/other/ongoing-activities`) { %>
            <% include ../partials/admin-sudo.ejs %>
			<a class="is-active" href="#">Ongoing Activities</a>
			<% } else { %>
				<a href="/dashboard/<%= serverData.id %>/other/ongoing-activities">Ongoing Activities</a>
			<% } %>
			<% if (currentPage === `/dashboard/${serverData.id}/other/public-data`) { %>
            <% include ../partials/admin-sudo.ejs %>
			<a class="is-active" href="#">Public Data</a>
			<% } else { %>
				<a href="/dashboard/<%= serverData.id %>/other/public-data">Public Data</a>
			<% } %>
			<% if ([`/dashboard/${serverData.id}/other/extensions`, `/dashboard/${serverData.id}/other/extension-builder`].includes(currentPage)) { %>
            <% include ../partials/admin-sudo.ejs %>
			<a class="<%= currentPage === `/dashboard/${serverData.id}/other/extensions` ? 'is-active' : '' %>" href="<%= currentPage === `/dashboard/${serverData.id}/other/extensions` ? '#' : (`/dashboard/${serverData.id}/other/extensions`) %>">Extensions</a>
				<ul>
					<li>
						<% if (currentPage === `/dashboard/${serverData.id}/other/extension-builder`) { %>
							<a class="is-active" href="#">Extension Builder</a>
						<% } else { %>
							<a href="/dashboard/<%= serverData.id %>/other/extension-builder">Extension Builder</a>
						<% } %>
					</li>
					<li>
						<a href="/extensions">Discover Extensions &raquo;</a>
					</li>
				</ul>
			<% } else { %>
				<a href="/dashboard/<%= serverData.id %>/other/extensions">Extensions &#9662;</a>
			<% } %>
			<a href="/dashboard/<%= serverData.id %>/other/export" target="_blank">Export Config</a>
		</li>
	</ul>
</aside>