<article class="media">
    <figure class="media-left">
        <p class="image is-64x64">
            <img src="<%= blogPost.author.avatar %>" style="border-radius: 100%;" alt="<%= blogPost.author.id %>">
        </p>
    </figure>
    <div class="media-content">
        <h1 class="title">
            <%= blogPost.title %>
            <span class="tag is-medium <%= blogPost.categoryColor %>">
                <%= blogPost.category %>
            </span>
        </h1>
        <h2 class="subtitle">
            By <strong><%= blogPost.author.name %></strong>, published <span title="<%= blogPost.rawPublished %>"><%= blogPost.roundedPublished %></span>
        </h2>
    </div>
    <% if (!blogPost.isPreview) { %>
        <script>
        function addReaction(value) {
            $.ajax({
        		type: "POST",
        		url: "/blog/<%= blogPost.id %>/react?value=" + value,
        		success: function() {
        			Turbolinks.visit("");
        		}
        	});
        }
        </script>

        <div class="media-right">
            <nav class="level">
                <div class="level-item">
                    <a class="button is-small <%= (authUser && blogPost.userReaction.value === -1) ? 'is-dark' : 'is-light' %>" onclick="addReaction(-1);" title="Reaction: thumbs down"<%= !authUser ? ' disabled' : '' %>>
                        <span class="icon is-small">
                            <i class="fa fa-thumbs-o-down"></i>
                        </span>
                        <span><%= blogPost.reactions[-1] %></span>
                    </a>
                    &nbsp;
                </div>
                <div class="level-item">
                    <a class="button is-small <%= (authUser && blogPost.userReaction.value === 0) ? 'is-dark' : 'is-light' %>" onclick="addReaction(0);" title="Reaction: meh"<%= !authUser ? ' disabled' : '' %>>
                        <span class="icon is-small">
                            <i class="fa fa-meh-o"></i>
                        </span>
                        <span><%= blogPost.reactions[0] %></span>
                    </a>
                    &nbsp;
                </div>
                <div class="level-item">
                    <a class="button is-small <%= (authUser && blogPost.userReaction.value === 1) ? 'is-dark' : 'is-light' %>" onclick="addReaction(1);" title="Reaction: thumbs up"<%= !authUser ? ' disabled' : '' %>>
                        <span class="icon is-small">
                            <i class="fa fa-thumbs-o-up"></i>
                        </span>
                        <span><%= blogPost.reactions[1] %></span>
                    </a>
                </div>
            </nav>
        </div>
    <% } %>
</article>
<br>
<div class="content">
    <%- blogPost.content %>
</div>
<nav class="level is-mobile">
    <div class="level-left">
        <div class="level-item">
            <% if(blogPost.isPreview) { %>
                <a class="button is-dark is-outlined" href="/blog/<%= blogPost.id %>">
                    <span class="icon is-small">
                        <i class="fa fa-eye"></i>
                    </span>
                    <span>Read more</span>
                </a>
            <% } else { %>
                <a class="button is-dark is-outlined" href="/blog">
                    <span class="icon is-small">
                        <i class="fa fa-chevron-left"></i>
                    </span>
                    <span>Back to all posts</span>
                </a>
            <% } %>
        </div>
    </div>
    <% if (isMaintainer) { %>
        <div class="level-right">
            <div class="level-item">
                <a class="button is-info is-outlined" href="/blog/<%= blogPost.id %>/compose">
                    <span class="icon is-small">
                        <i class="fa fa-pencil"></i>
                    </span>
                    <span>Edit</span>
                </a>
            </div>
            <script>
            function deletePost(id) {
                const prompt = confirm("Are you sure you want to delete this post?");
                if (prompt) {
                    $.ajax({
                		type: "POST",
                		url: "/blog/" + id + "/delete",
                		success: function() {
                			Turbolinks.visit("/blog");
                		}
                	});
                }
            }
            </script>
            <div class="level-item">
                <a class="button is-danger is-outlined" onclick="deletePost('<%= blogPost.id %>');">
                    <span class="icon is-small">
                        <i class="fa fa-times"></i>
                    </span>
                    <span>Delete</span>
                </a>
            </div>
        </div>
    <% } %>
</nav>
