<link rel="stylesheet" href="/static/css/simplemde.min.css">

<script src="/static/js/form-change-listener.js"></script>
<script src="/static/js/simplemde.min.js"></script>
<script src="/static/js/showdown.min.js"></script>
<script>
function uploadContent(uploads) {
    if(uploads) {
        var reader = new FileReader();
        reader.onload = function(event) {
            editor.value(event.target.result);
        };
        reader.readAsText(uploads[0]);
        document.getElementById("composer-content-upload").value = null;
    }
}

function downloadContent() {
	window.open("data:text/markdown;charset=utf-8," + escape(document.getElementById("composer-content").value));
}

setTimeout(function() {
    saveFormState();
}, 0);
</script>

<h1 class="title">
    <%- data.title ? ("Edit <strong>" + data.title + "</strong>") : "Write a new post" %>
</h1>
<form id="form" action="/blog/compose?id=<%= data.id %>" method="post">
    <label class="label">Title</label>
	<p class="control">
		<input id="composer-title" name="title" class="input" type="text" value="<%= data.title %>" minlength="10" maxlength="100" required>
		<span class="help">Name of the post. Be concise and informative.</span>
	</p>

    <label class="label">Category</label>
    <p class="control">
        <span class="select">
            <select name="category">
                <option <%= data.category=="Development" ? "selected" : "" %>>Development</option>
                <option <%= data.category=="Announcement" ? "selected" : "" %>>Announcement</option>
                <option <%= data.category=="New Stuff" ? "selected" : "" %>>New Stuff</option>
                <option <%= data.category=="Tutorial" ? "selected" : "" %>>Tutorial</option>
                <option <%= data.category=="Random" ? "selected" : "" %>>Random</option>
            </select>
        </span>
    </p>

    <label class="label">
        Content
		&nbsp;
		<label class="button is-small">
			<span class="icon is-small">
				<i class="fa fa-upload"></i>
			</span>
			<span>Upload</span>
			<input id="composer-content-upload" type="file" onchange="uploadContent(this.files);" style="display: none;">
		</label>
		<a class="button is-small" onclick="downloadContent();">
			<span class="icon is-small">
				<i class="fa fa-download"></i>
			</span>
			<span>Download</span>
		</a>
    </label>
    <span class="help" style="float: right;margin-right: 15px; margin-top: 10px;">Editor by <strong>SimpleMDE</strong></span>
    <p class="control">
        <textarea name="content" id="composer-content" class="textarea" placeholder="Post content, in markdown" required><%= data.content %></textarea>
        <script>
        var converter = new showdown.Converter({
        	tables: true,
        	simplifiedAutoLink: true,
        	strikethrough: true,
        	tasklists: true,
        	smoothLivePreview: true,
        	smartIndentationFix: true
        });
        var editor = new SimpleMDE({
            element: document.getElementById("composer-content"),
            forceSync: true,
            spellChecker: false,
            promptURLs: true,
            previewRender: function(text) {
                $(".editor-preview").addClass("content");
                $(".editor-preview-side").addClass("content");
                return converter.makeHtml(text);
            }
        });
        </script>
    </p>

    <% var formButtonsUnsaved = false; %>
    <% include ../partials/form-buttons %>
    <% include ../partials/form-buttons-bar %>
</form>
