<section id="header" class="main-header-section hero is-primary is-small is-bold">
	<div class="hero-head">
		<% include ../partials/header %>
	</div>
	<div class="hero-body">
		<div class="container has-text-centered">
			<h1 id="dashboard-title" class="title is-1">
				<img id="dashboard-icon" src="<%= serverData.icon %>" style="border-radius: 100%;width: 48px;vertical-align: bottom;" alt="<%= serverData.id %>">
				<strong><%= serverData.name %></strong> <%= serverData.isMaintainer ? "Maintainer" : "Admin" %> Console
			</h1>
			<%- include("../partials/adspace", { officialMode: typeof officialMode !== undefined ? officialMode : false, adsEnabled: true }) %>
		</div>
	</div>
	<div class="hero-foot">
		<div class="container has-text-centered">
			<a class="button is-small is-white is-outlined" href="/dashboard">
	            <span class="icon is-small">
	                <i class="fa fa-chevron-left"></i>
	            </span>
	            <span>Dashboard</span>
	        </a>
	        &nbsp;
	        <% var menuToggleButtonSize = "is-small"; %>
	        <% include ../partials/menu-toggle %>
	        &nbsp;
	        <a class="button is-small is-white is-outlined" target="_blank" href="/wiki/Configuration#<%= serverData.isMaintainer ? 'maintainer' : 'admin' %>-console">
	            <span class="icon is-small">
	                <i class="fa fa-question-circle"></i>
	            </span>
	            <span>Help</span>
	        </a>
	        <br><br>
		</div>
	</div>
</section>
