<div id="typeDescription-event" class="modal">
	<div class="modal-background"></div>
	<div class="modal-content">
		<div class="box">
			<br>
			<h1 class="title is-3 has-text-centered">
				<span class="icon is-large">
					<i class="fa fa-code fa-3x"></i>
				</span>
			</h1>
			<h3 class="subtitle is-3 has-text-centered">Event</h3>
			<br>
			Event extensions are executed when a specific event is emitted from Discord. This allows extensions to react to things happening in your server in real-time.
			<br>
			<br>
			For example, imagine an important channel is deleted; an extension configured to run on the channelDelete event could grab the channel data, check if the name matches a prior configured channel name, and then restore the channel.
		</div>
	</div>
	<button class="modal-close is-large"></button>
</div>
<div id="typeDescription-command" class="modal">
	<div class="modal-background"></div>
	<div class="modal-content">
		<div class="box">
			<br>
			<h1 class="title is-3 has-text-centered">
				<span class="icon is-large">
					<i class="fa fa-magic fa-3x"></i>
				</span>
			</h1>
			<h3 class="subtitle is-3 has-text-centered">Command</h3>
			<br>
			Command extensions function just like normal commands, and you have to use them with your configured GAB Prefix.
			<br>
			<br>
			Command extensions are useful to add additional functionality to GAB, for example in the form of fetching data from API's, or performing moderation actions within the Discord guild.
		</div>
	</div>
	<button class="modal-close is-large"></button>
</div>
<div id="typeDescription-keyword" class="modal">
	<div class="modal-background"></div>
	<div class="modal-content">
		<div class="box">
			<br>
			<h1 class="title is-3 has-text-centered">
				<span class="icon is-large">
					<i class="fa fa-key fa-3x"></i>
				</span>
			</h1>
			<h3 class="subtitle is-3 has-text-centered">Keyword</h3>
			<br>
			If you ever need GAwesomeBot to respond to certain messages, or make custom advanced filters, keyword extensions are your friend.
			<br>
			<br>
			Keyword extensions are executed when a message sent by a user contains one of a pre-configured set of keywords.
		</div>
	</div>
	<button class="modal-close is-large"></button>
</div>
<div id="typeDescription-timer" class="modal">
	<div class="modal-background"></div>
	<div class="modal-content">
		<div class="box">
			<br>
			<h1 class="title is-3 has-text-centered">
				<span class="icon is-large">
					<i class="fa fa-clock-o fa-3x"></i>
				</span>
			</h1>
			<h3 class="subtitle is-3 has-text-centered">Timer</h3>
			<br>
			Timer extensions are run on a configured interval, which makes them extremely useful for various purposes.
			<br>
			<br>
			These extensions can, for example, poll an API on the configured interval and send the result to Discord, this allows you to connect any web application that responds to REST requests to GAB
			<br>
			<br>
			If you plan to use this type of extension to respond to things happening in Discord, we recommend using <code>event</code> extensions instead.
		</div>
	</div>
	<button class="modal-close is-large"></button>
</div>

<% if(extensions.length>0) { %>
	<div class="columns">
	<% for(var i=0; i<extensions.length; i++) { %>
		<div id="card-<%= extensions[i]._id %>" class="column is-one-third">
			<div class="card is-fullwidth">
				<header class="card-header">
					<p class="card-header-title">
						<%= extensions[i].name %>
						&nbsp;
						<span id="featured-<%= extensions[i]._id %>">
							<% if (extensions[i].featured) { %>
								<span class="tag is-primary">Featured</span>
								&nbsp;
							<% } %>
						</span>
						<span class="tag is-warning">
							<span id="points-<%= extensions[i]._id %>"><%= extensions[i].points %></span>
							&nbsp;
							<span class="icon is-small">
		                        <i class="fa fa-star"></i>
		                    </span>
						</span>
					</p>
					<span class="card-header-icon modal-button" title="<%= extensions[i].typeDescription %>" data-target="#typeDescription-<%= extensions[i].type %>">
						<i class="fa fa-<%= extensions[i].typeIcon %>"></i>
					</span>
				</header>
				<div class="card-content" style="max-height: 155px;overflow-y: scroll;">
					<div class="content">
						<%- extensions[i].description %>
					</div>
					<div class="media">
						<div class="media-left">
							<figure class="image is-32x32">
								<img src="<%= extensions[i].owner.avatar %>" alt="<%= extensions[i].owner.id %>">
							</figure>
						</div>
						<div class="media-content">
							<p class="title is-5"><%= extensions[i].owner.name + "#" + extensions[i].owner.discriminator %></p>
							<p class="subtitle is-6" title="<%= extensions[i].rawLastUpdated %>">Last updated <strong><%= extensions[i].relativeLastUpdated %></strong></p>
						</div>
					</div>
				</div>
				<footer class="card-footer">
					<% if (authUser && serverData.length > 0) { %>
						<a class="card-footer-item" onclick="GAwesomeUtil.installExtension('<%= extensions[i]._id %>');">
							Install
						</a>
					<% } %>
					<a class="card-footer-item" href="/extensions/<%= extensions[i]._id %>" download="<%= extensions[i].name %>.gabext">
						Download
					</a>
					<% if (authUser) { %>
						<a id="vote-<%= extensions[i]._id %>" class="card-footer-item" onclick="GAwesomeUtil.voteExtension('<%= extensions[i]._id %>');">
							<%= !upvotedData.includes(String(extensions[i]._id)) ? "+1" : "-1" %>
						</a>
						<% if (isMaintainer) { %>
							<% if (mode === "gallery") { %>
								<a id="feature-<%= extensions[i]._id %>" class="card-footer-item" onclick="GAwesomeUtil.featureExtension('<%= extensions[i]._id %>');">
									<%= extensions[i].featured ? "Unfeature" : "Feature" %>
								</a>
                    			<% if (authUser.id !== extensions[i].owner.id) { %>
									<a class="card-footer-item card-footer-item-danger" onclick="GAwesomeUtil.removeExtension('<%= extensions[i]._id %>');">
										Remove
									</a>
								<% } %>
							<% } else if (mode === "queue") { %>
								<a class="card-footer-item" onclick="GAwesomeUtil.acceptExtension('<%= extensions[i]._id %>');">
									Accept
								</a>
								<% if (authUser.id !== extensions[i].owner.id) { %>
									<a class="card-footer-item card-footer-item-danger" onclick="GAwesomeUtil.rejectExtension('<%= extensions[i]._id %>');">
										Reject
									</a>
								<% } %>
							<% } %>
						<% } %>
						<% if (authUser.id === extensions[i].owner.id) { %>
							<a class="card-footer-item card-footer-item-danger" onclick="GAwesomeUtil.unpublishExtension('<%= extensions[i]._id %>');">
								Unpublish
							</a>
						<% } %>
					<% } %>
				</footer>
			</div>
		</div>

		<% if(i % 3==2 && i!=extensions.length-1 && i!=0) { %>
			</div>
			<div class="columns">
		<% } %>
	<% } %>
	</div>
<% } else { %>
	<% var resetUrl = "/extensions/" + mode; %>
	<% include ../partials/no-results %>
<% } %>
<% if(numPages>1) { %>
	<br>
	<nav class="pagination">
		<ul>
			<% if(currentPage>2) { %>
				<li>
					<a class="button" href="/extensions/<%= mode %>?q=<%= activeSearchQuery %>&count=<%= itemsPerPage %>&page=1">
						1
					</a>
				</li>
			<% } %>
			<% if(currentPage>3) { %>
				<li>
					<span>...</span>
				</li>
			<% } %>
			<% if(currentPage>1) { %>
				<li>
					<a class="button" href="/extensions/<%= mode %>?q=<%= activeSearchQuery %>&count=<%= itemsPerPage %>&page=<%= currentPage-1 %>">
						<%= currentPage-1 %>
					</a>
				</li>
			<% } %>
			<li>
				<a class="button is-primary" href="/extensions/<%= mode %>?q=<%= activeSearchQuery %>&count=<%= itemsPerPage %>&page=<%= currentPage %>">
					<%= currentPage %>
				</a>
			</li>
			<% if(currentPage<numPages) { %>
				<li>
					<a class="button" href="/extensions/<%= mode %>?q=<%= activeSearchQuery %>&count=<%= itemsPerPage %>&page=<%= currentPage+1 %>">
						<%= currentPage+1 %>
					</a>
				</li>
			<% } %>
			<% if(currentPage<numPages-2) { %>
				<li>
					<span>...</span>
				</li>
			<% } %>
			<% if(currentPage<numPages-1) { %>
				<li>
					<a class="button" href="/extensions/<%= mode %>?q=<%= activeSearchQuery %>&count=<%= itemsPerPage %>&page=<%= numPages %>">
						<%= numPages %>
					</a>
				</li>
			<% } %>
		</ul>
	</nav>
<% } %>
