<form id="form" onsubmit="GAwesomeUtil.saveExtension(<%= isGallery %>, '<%- isGallery ? `/extensions/builder?${pageData.extensionData._id ? ('extid=' + pageData.extensionData._id) : ""}` : `/dashboard/${serverData.id}/other/extensions` %>'); return false;">
	<div class="field">
		<label class="label">Name</label>
		<p class="control">
			<input id="builder-title" name="name" class="input is-primary" type="text" value="<%- pageData.extensionData.name %>" minlength="3" maxlength="100" required>
		</p>
		<span class="help">A simple title for the extension.</span>
	</div>
	<hr>
	<div class="field">
		<label class="label">Type</label>
		<p class="control">
			<span class="select is-primary">
				<select name="type" onchange="$('.builder-type-options').addClass('is-hidden');$('#builder-type-' + this.value + '-options').removeClass('is-hidden');">
					<option value="command" <%= pageData.versionData.type=="command" ? "selected" : "" %>>Command</option>
					<option value="keyword" <%= pageData.versionData.type=="keyword" ? "selected" : "" %>>Keyword</option>
                	<option value="timer" <%= pageData.versionData.type=="timer" ? "selected" : "" %>>Timer</option>
					<option value="event" <%= pageData.versionData.type==="event" ? "selected" : ""%>>Event</option>
				</select>
			</span>
			<span class="help">Command extensions behave like regular bot commands. Keyword extensions are activated by messages that contain one or more of the phrases you define below. Timer extensions are run periodically to fetch information and/or post updates.</span>
		</p>
	</div>
	<span id="builder-type-command-options" class="builder-type-options <%= (pageData.versionData.type === "command" || !pageData.versionData.type) ? '' : 'is-hidden' %>">
		<div class="field">
			<label class="label">Command key</label>
			<p class="control">
				<input name="key" class="input is-primary" type="text" value="<%- pageData.versionData.key %>" minlength="3" maxlength="25">
				<span class="help">This string will be used to call the command. No spaces.</span>
			</p>
		</div>
		<div class="field">
			<label class="label">Usage</label>
			<p class="control">
				<input name="usage_help" class="input is-primary" type="text" value="<%= pageData.versionData.usage_help %>" maxlength="150">
				<span class="help">Simple usage information, e.g. <code>&lt;param1&gt; &lt;param2&gt;</code>.</span>
			</p>
		</div>
		<div class="field">
		<label class="label">Extended help</label>
			<p class="control">
				<textarea name="extended_help" class="textarea is-primary" maxlength="1000"><%- pageData.versionData.extended_help %></textarea>
				<span class="help">Detailed information about the extension, shown within the <code>help</code> command.</span>
			</p>
		</div>
		<% if (!isGallery) { %>
		<div class="field">
		<label class="label">Channel(s)</label>
			<% serverData.channelData.forEach(channel => { %>
			<label class="checkbox">
				<input name="enabled_channel_ids-<%= channel.id %>" type="checkbox" <%= pageData.extensionConfigData.disabled_channel_ids ? (!pageData.extensionConfigData.disabled_channel_ids.includes(channel.id) ? "checked" : "") : "" %>>
				#<%= channel.name %>
			</label>
			<br>
			<% }); %>
			<span class="help">The extension will run only in these channels.</span>
		</div>
		<div class="field">
			<label class="label">Permissions</label>
			<p class="control">
				<span class="select is-primary">
					<select name="adminLevel">
						<option value="0" <%= pageData.extensionConfigData.admin_level === 0 ? "" : "selected" %>>@everyone</option>
						<option value="1" <%= pageData.extensionConfigData.admin_level === 1 ? "selected" : "" %>>Admin level &ge;1</option>
						<option value="2" <%= pageData.extensionConfigData.admin_level === 2 ? "selected" : "" %>>Admin level &ge;2</option>
						<option value="3" <%= pageData.extensionConfigData.admin_level === 3 ? "selected" : "" %>>Admin level 3</option>
					</select>
				</span>
				<span class="help">The extension will only respond to members that have the selected bot admin level (or higher).</span>
			</p>
		</div>
		<% } %>
	</span>
	<span id="builder-type-keyword-options" class="builder-type-options <%= pageData.versionData.type === "keyword" ? '' : 'is-hidden' %>">
		<div class="field">
			<label class="label">Keywords</label>
			<p class="control">
				<input name="keywords" class="input is-primary" type="text" value="<%- pageData.versionData.keywords ? pageData.versionData.keywords.join(',') : '' %>">
				<span class="help">Comma-separated list of strings that a message must contain to activate the extension.</span>
			</p>
		</div>
		<div class="field">
			<label class="label">Case-sensitivity</label>
			<p class="control">
				<label class="checkbox">
				<input name="case_sensitive" type="checkbox" <%= pageData.versionData.case_sensitive ? "checked" : "" %>>
					Extension keyword matching is case-sensitive
				</label>
			</p>
		</div>
		<% if (!isGallery) { %>
		<div class="field">
		<label class="label">Channel(s)</label>
			<% serverData.channelData.forEach(channel => { %>
			<label class="checkbox">
				<input name="enabled_channel_ids-<%= channel.id %>" type="checkbox" <%= pageData.extensionConfigData.disabled_channel_ids ? (!pageData.extensionConfigData.disabled_channel_ids.includes(channel.id) ? "checked" : "") : "" %>>
				#<%= channel.name %>
			</label>
			<br>
			<% }); %>
			<span class="help">The extension will run only in these channels.</span>
		</div>
		<div class="field">
			<label class="label">Permissions</label>
			<p class="control">
				<span class="select is-primary">
					<select name="adminLevel">
						<option value="0" <%= pageData.extensionConfigData.admin_level === 0 ? "" : "selected" %>>@everyone</option>
						<option value="1" <%= pageData.extensionConfigData.admin_level === 1 ? "selected" : "" %>>Admin level &ge;1</option>
						<option value="2" <%= pageData.extensionConfigData.admin_level === 2 ? "selected" : "" %>>Admin level &ge;2</option>
						<option value="3" <%= pageData.extensionConfigData.admin_level === 3 ? "selected" : "" %>>Admin level 3</option>
					</select>
				</span>
				<span class="help">The extension will only respond to members that have the selected bot admin level (or higher).</span>
			</p>
		</div>
		<% } %>
	</span>
	<span id="builder-type-timer-options" class="builder-type-options <%= pageData.versionData.type === "timer" ? '' : 'is-hidden' %>">
		<div class="field">
			<label class="label">Interval</label>
			<p class="control">
				<input name="interval" class="input is-primary" type="number" value="<%- pageData.versionData.interval || 300000 %>" min="300000" max="86400000" required>
				<span class="help">Number of milliseconds between each run of the extension, with a minimum of 300000ms (5 minutes) and a maximum of 86400000ms (24 hours).</span>
			</p>
		</div>
	</span>
	<span id="builder-type-event-options" class="builder-type-options <%= pageData.versionData.type === "event" ? '' : 'is-hidden' %>">
		<div class="field">
			<label class="label">Event</label>
			<p class="control">
				<div class="select is-primary">
  					<select name="event">
						<% pageData.events.forEach(event => { %>
						<option value="<%= event %>" <%= pageData.versionData.event === event ? "selected" : "" %>><%= event %></option>
						<% }); %>
  					</select>
				</div>
				<span class="help">The event that will trigger this extension.</span>
			</p>
		</div>
	</span>
	<hr>
	<div class="field">
		<label class="label">Scopes</label>
		<% Object.values(pageData.scopes).forEach(scope => { %>
		<label class="checkbox" title="<%= scope.permissionDescription %>">
			<input name="scope_<%= scope.scope %>" type="checkbox" <%= pageData.versionData.scopes ? (pageData.versionData.scopes.includes(scope.scope) ? "checked" : "") : "" %>>
			<code><%= scope.scope %></code>
		</label>
		<br>
		<% }); %>
	</div>
	<div class="field">
		<label class="label">Timeout</label>
		<p class="control">
			<input name="timeout" class="input is-primary" type="number" value="<%- pageData.versionData.timeout || 5000 %>" min="100" max="10000" required>
			<span class="help">The amount of milliseconds that your extension can run between 100 and 10000. If your extension takes longer to execute than the timeout, it will be killed.</span>
		</p>
	</div>
	<div class="field">
		<label class="label">
			Code
			&nbsp;
			<a class="button is-small" href="/wiki/Extensions#javascriptapi" target="_blank">
				<span class="icon is-small">
		        	<i class="fa fa-book"></i>
		    	</span>
		    	<span>Extension API Docs</span>
			</a>
		</label>
		<p class="control">
			<textarea id="builder-code-box" name="code" style="resize:none"><%- pageData.extensionData.code %></textarea>
		</p>
		<br>
		<label class="button is-small">
			<span class="icon is-small">
				<i class="fa fa-upload"></i>
			</span>
			<span>Upload</span>
			<input id="builder-code-upload" type="file" onchange="GAwesomeUtil.uploadCode(this.files);" style="display: none;">
		</label>
		<a class="button is-small" onclick="GAwesomeUtil.downloadCode();">
			<span class="icon is-small">
				<i class="fa fa-download"></i>
			</span>
			<span>Download</span>
		</a>
	</div>
	<hr>
	<div class="field">
		<label class="label">Description</label>
		<p class="control">
			<textarea id="builder-publish-description" name="description" class="textarea is-primary" maxlength="2000" placeholder="Description of extension, in markdown" required><%= pageData.extensionData.description %></textarea>
		</p>
	</div>
	<% if (isGallery && pageData.extensionData._id && pageData.extensionData.state === "saved") { %>
		<a id="publish-<%= pageData.extensionData._id %>" class="button" onclick="GAwesomeUtil.publishExtension('<%= pageData.extensionData._id %>');">
			<span class="icon is-small">
				<i class="fa fa-share-alt"></i>
			</span>
			<span>Publish</span>
		</a>
		<br>
    <% } else if (isGallery && pageData.extensionData._id && pageData.extensionData.state !== "saved") { %>
    	<a class="button is-info" href="/extensions/<%= pageData.extensionData.state === "version_queue" ? "queue" : pageData.extensionData.state %>?id=<%= pageData.extensionData._id %>" target="_blank">
			<span class="icon is-small">
				<i class="fa fa-info"></i>
			</span>
			<span>View Listing</span>
		</a>
		<br>
    <% } %>
	<hr>
	<% var formButtonsUnsaved = false; %>
	<% include ../partials/form-buttons %>
    <% if (isGallery && pageData.extensionData._id && pageData.extensionData.state === "gallery") { %>
    	<span class="help">Updating the extension will <strong>not</strong> remove the old version from the gallery. Your new version will be in the queue until it has been approved by a GAwesomeBot maintainer. Points will be preserved.</span>
    <% } %>
</form>
