<link rel="stylesheet" href="/static/css/codemirror.css">
<link rel="stylesheet" href="/static/css/codemirror-monokai.css">

<script src="/static/js/codemirror.js"></script>
<script>
function uploadCode(uploads) {
    if(uploads) {
        var reader = new FileReader();
        reader.onload = function(event) {
            cm.getDoc().setValue(event.target.result);
        };
        reader.readAsText(uploads[0]);
        document.getElementById("builder-code-upload").value = null;
    }
}

function downloadCode() {
	window.open("data:application/javascript;charset=utf-8," + escape(cm.getValue()));
}

function publishExtension() {
	var publishDescription = $("#builder-publish-description");
	if(publishDescription.val()) {
		publishDescription.removeClass("is-danger");
	} else {
		publishDescription.addClass("is-danger");
	}

	if(publishDescription.val()) {
		var data = {};
		$("#form").serializeArray().map(function(a) {
			data[a.name] = a.value;
		});
		data.description = publishDescription.val();
		$.ajax({
			type: "POST",
			url: "<%= extensionBuilderPublishUrl %>",
			data: data,
			success: function() {
				saveFormState();
				$("#form").submit();
			}
		});
	}
}

<% if(!extensionBuilderPublishUrl) { %>
	setTimeout(function() {
		saveFormState();
	}, 0);
<% } %>
</script>

<form id="form" action="<%- extensionBuilderPostUrl %><%= extensionData._id ? ('extid=' + extensionData._id) : "" %>" method="post">
	<label class="label">Name</label>
	<p class="control">
		<input name="name" class="input" type="text" value="<%- extensionData.name %>" minlength="3" maxlength="100" required>
		<span class="help">A simple title for the extension.</span>
	</p>
	<% if(extensionBuilderPublishUrl) { %>
		<label class="label">Channel(s)</label>
		<% for(var i=0; i<channelData.length; i++) { %>
			<label class="checkbox">
			<input name="enabled_channel_ids-<%= channelData[i].id %>" type="checkbox" <%= extensionData.enabled_channel_ids ? (extensionData.enabled_channel_ids.indexOf(channelData[i].id)>-1 ? "checked" : "") : "" %>>
				#<%= channelData[i].name %>
			</label>
			<br>
		<% } %>
		<span class="help">The extension will run only in these channels.</span>
		<br>
	<% } %>
	<label class="label">Type</label>
	<p class="control">
		<span class="select">
			<select name="type" onchange="$('.builder-type-options').addClass('is-hidden');$('#builder-type-' + this.value + '-options').removeClass('is-hidden');">
				<option value="command" <%= extensionData.type=="command" ? "selected" : "" %>>Command</option>
				<option value="keyword" <%= extensionData.type=="keyword" ? "selected" : "" %>>Keyword</option>
                <option value="timer" <%= extensionData.type=="timer" ? "selected" : "" %>>Timer</option>
			</select>
		</span>
		<span class="help">Command extensions behave like regular bot commands. Keyword extensions are activated by messages that contain one or more of the phrases you define below. Timer extensions are run periodically to fetch information and/or post updates.</span>
	</p>
	<span id="builder-type-command-options" class="builder-type-options <%= (extensionData.type=="command" || !extensionData.type) ? '' : 'is-hidden' %>">
		<label class="label">Command key</label>
		<p class="control">
			<input name="key" class="input" type="text" value="<%- extensionData.key %>" minlength="3" maxlength="25">
			<span class="help">This string will be used to call the command. No spaces.</span>
		</p>
		<% if(extensionBuilderPublishUrl) { %>
			<label class="label">Permissions</label>
			<p class="control">
				<span class="select">
					<select name="command-admin_level">
						<option value="0" <%= extensionData.admin_level==0 ? "" : "selected" %>>@everyone</option>
						<option value="1" <%= extensionData.admin_level==1 ? "selected" : "" %>>Admin level &ge;1</option>
						<option value="2" <%= extensionData.admin_level==2 ? "selected" : "" %>>Admin level &ge;2</option>
						<option value="3" <%= extensionData.admin_level==3 ? "selected" : "" %>>Admin level 3</option>
					</select>
				</span>
				<span class="help">The command will only respond to members that have the selected bot admin level (or higher).</span>
			</p>
		<% } %>
		<label class="label">Usage</label>
		<p class="control">
			<input name="usage_help" class="input" type="text" value="<%= extensionData.usage_help %>" maxlength="150">
			<span class="help">Simple usage information, e.g. <code>&lt;param1&gt; &lt;param2&gt;</code>.</span>
		</p>
		<label class="label">Extended help</label>
		<p class="control">
			<textarea name="extended_help" class="textarea" maxlength="1000"><%- extensionData.extended_help %></textarea>
			<span class="help">Detailed information about the extension, shown within the <code>help</code> command.</span>
		</p>
	</span>
	<span id="builder-type-keyword-options" class="builder-type-options <%= extensionData.type=="keyword" ? '' : 'is-hidden' %>">
		<label class="label">Keywords</label>
		<p class="control">
			<input name="keywords" class="input" type="text" value="<%- extensionData.keywords ? extensionData.keywords.join(',') : '' %>">
			<span class="help">Comma-separated list of strings that a message must contain to activate the extension.</span>
		</p>
		<label class="label">Case-sensitivity</label>
		<p class="control">
			<label class="checkbox">
			<input name="case_sensitive" type="checkbox" <%= extensionData.case_sensitive ? "checked" : "" %>>
				Extension keyword matching is case-sensitive
			</label>
		</p>
		<% if(extensionBuilderPublishUrl) { %>
			<label class="label">Permissions</label>
			<p class="control">
				<span class="select">
					<select name="keyword-admin_level">
						<option value="0" <%= extensionData.admin_level==0 ? "" : "selected" %>>@everyone</option>
						<option value="1" <%= extensionData.admin_level==1 ? "selected" : "" %>>Admin level &ge;1</option>
						<option value="2" <%= extensionData.admin_level==2 ? "selected" : "" %>>Admin level &ge;2</option>
						<option value="3" <%= extensionData.admin_level==3 ? "selected" : "" %>>Admin level 3</option>
					</select>
				</span>
				<span class="help">The extension will only run if the message author has the selected bot admin level (or higher).</span>
			</p>
		<% } %>
	</span>
	<span id="builder-type-timer-options" class="builder-type-options <%= extensionData.type=="timer" ? '' : 'is-hidden' %>">
		<label class="label">Interval</label>
		<p class="control">
			<input name="interval" class="input" type="number" value="<%- extensionData.interval %>" min="300000" max="86400000" >
			<span class="help">Number of milliseconds between each run of the extension.</span>
		</p>
	</span>
	<br>
	<label class="label">
		Code
		&nbsp;
		<label class="button is-small">
			<span class="icon is-small">
				<i class="fa fa-upload"></i>
			</span>
			<span>Upload</span>
			<input id="builder-code-upload" type="file" onchange="uploadCode(this.files);" style="display: none;">
		</label>
		<a class="button is-small" onclick="downloadCode();">
			<span class="icon is-small">
				<i class="fa fa-download"></i>
			</span>
			<span>Download</span>
		</a>
		&nbsp;
		<a class="button is-small" href="/wiki/Extensions#javascriptapi" target="_blank">
			<span class="icon is-small">
		        <i class="fa fa-book"></i>
		    </span>
		    <span>Extension API Docs</span>
		</a>
	</label>
	<p class="control">
		<textarea id="builder-code-box" name="code" style="resize:none"><%- extensionData.code %></textarea>
	</p>
    <br>
    <% if(extensionBuilderPublishUrl) { %>
    	<label class="label">Publish</label>
	<% } else { %>
		<label class="label">Description</label>
	<% } %>
	<p class="control">
		<textarea id="builder-publish-description" <%- extensionBuilderPublishUrl ? "" : "name='description'" %> class="textarea" maxlength="2000" placeholder="Description of extension, in markdown" <%= extensionBuilderPublishUrl ? "" : "required" %>><%= extensionData.description %></textarea>
	</p>
	<% if(extensionBuilderPublishUrl) { %>
		<a class="button" onclick="publishExtension();">
			<span class="icon is-small">
				<i class="fa fa-share-alt"></i>
			</span>
			<span>Publish</span>
		</a>
		<br>
    <% } else if(extensionData._id && extensionData.state !== "saved") { %>
    	<a class="button is-info" href="/extensions/<%= extensionData.state %>?id=<%= extensionData._id %>" target="_blank">
			<span class="icon is-small">
				<i class="fa fa-info"></i>
			</span>
			<span>View Listing</span>
		</a>
		<br>
    <% } %>
    <br>
	<% var formButtonsUnsaved = false; %>
	<% include ../partials/form-buttons %>
    <% if(!extensionBuilderPublishUrl && extensionData._id) { %>
    	<span class="help">Updating the extension will <strong>remove</strong> it from the gallery until it has been approved by an AwesomeBot maintainer. Points will be preserved.</span>
    <% } %>
</form>

<script type="text/javascript">
var cm = CodeMirror.fromTextArea(document.getElementById("builder-code-box"), {
    mode: "javascript",
    lineWrapping: true,
    lineNumbers: true,
    fixedGutter: true,
    styleActiveLine: true,
    theme: "monokai"
});
cm.refresh();
</script>
