<div class="control is-horizontal is-grouped">
	<button id="form-submit" type="submit" class="button is-primary<%= formButtonsUnsaved ? ' is-small' : '' %>" value="Submit" onclick="GAwesomeUtil.SFS();">
		<span class="icon<%= formButtonsUnsaved ? ' is-small' : '' %>">
	        <i class="fa fa-check"></i>
	    </span>
	    <span><%= formButtonsUnsaved ? "Save changes" : "Save" %></span>
	</button>
	&nbsp;&nbsp;
	<a id="form-reset" class="button is-danger is-outlined<%= formButtonsUnsaved ? ' is-small' : '' %>" onclick="GAwesomeUtil.SFS();Turbolinks.visit('');">
	    <span><%= formButtonsUnsaved ? "Discard" : "Reset" %></span>
		<span class="icon<%= formButtonsUnsaved ? ' is-small' : '' %>">
	        <i class="fa fa-times"></i>
	    </span>
	</a>
</div>
