<form id="form" action="/extensions/my" method="post">
	<div style="overflow-x: scroll;">
		<% if(extensions.length>0) { %>
			<table class="table">
				<thead>
					<tr>
						<th>Name</th>
						<th>ID</th>
						<th>Type</th>
						<th>Status</th>
						<th>Points</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<% for(var i=0; i<extensions.length; i++) { %>
						<tr>
							<td>
								<%= extensions[i].name %>
							</td>
							<td>
								<%= extensions[i]._id %>
							</td>
							<td>
								<%= extensions[i].type.charAt(0).toUpperCase() + extensions[i].type.slice(1) %>
							</td>
							<td>
								<% if(extensions[i].state=="gallery") { %>
									Published
								<% } else if(extensions[i].state=="queue") { %>
									In Queue
								<% } else { %>
									Saved
								<% } %>
							</td>
							<td>
								<%= extensions[i].points %>
							</td>
							<td>
								<% if (extensions[i].state !== "saved") { %>
								<a class="button is-small" href="/extensions/<%= extensions[i].state %>?id=<%= extensions[i]._id %>">
									<span class="icon is-small">
										<i class="fa fa-eye"></i>
									</span>
									<span>View</span>
								</a>
								<% } %>
								<a class="button is-small is-primary" href="/extensions/builder?extid=<%= extensions[i]._id %>">
									<span class="icon is-small">
										<i class="fa fa-pencil"></i>
									</span>
									<span>Edit</span>
								</a>
								<button class="button is-small is-danger" name="extension-<%= i %>-removed">
									<span>Remove</span>
									<span class="icon is-small">
										<i class="fa fa-times"></i>
									</span>
								</button>
							</td>
						</tr>
					<% } %>
				</tbody>
			</table>
		<% } else { %>
			<article class="message">
				<div class="message-header">
					<span class="icon">
						<i class="fa fa-meh-o"></i>
					</span>
					<span>Nothing to see here</span>
				</div>
				<div class="message-body">
					You haven't published any extensions yet. Head over to the <a href="/extensions/builder">extension builder</a> to get started building one!
				</div>
			</article>
			<br>
		<% } %>
	</div>
	<p class="control">
		<a class="button" href="/extensions/builder">
			<span class="icon">
		        <i class="fa fa-code"></i>
		    </span>
		    <span>Build an extension</span>
		</a>
	</p>
</form>