<form id="form" onsubmit="return false;">
	<div style="overflow-x: scroll;">
		<% if(extensions.length>0) { %>
			<table class="table is-fullwidth">
				<thead>
					<tr>
						<th>Name</th>
						<th>ID</th>
						<th>Type</th>
						<th>Status</th>
						<th>Points</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<% for(var i=0; i<extensions.length; i++) { %>
						<tr>
							<td>
								<%= extensions[i].name %>
							</td>
							<td>
								<%= extensions[i]._id %>
							</td>
							<td>
								<%= extensions[i].type.charAt(0).toUpperCase() + extensions[i].type.slice(1) %>
							</td>
							<td>
								<% if(extensions[i].state=="gallery") { %>
									Published
								<% } else if(extensions[i].state=="queue") { %>
									In Queue
								<% } else { %>
									Saved
								<% } %>
							</td>
							<td>
								<%= extensions[i].points %>
							</td>
							<td>
								<% if (extensions[i].state !== "saved") { %>
								<a class="button is-small" href="/extensions/<%= extensions[i].state %>?id=<%= extensions[i]._id %>">
									<span class="icon is-small">
										<i class="fa fa-eye"></i>
									</span>
									<span>View</span>
								</a>
								<% } else { %>
								<button id="publish-<%= extensions[i]._id %>" class="button is-small" onclick="GAwesomeUtil.publishExtension('<%= extensions[i]._id %>'); return false;">
									<span class="icon is-small">
										<i class="fa fa-share-alt"></i>
									</span>
									<span>Publish</span>
								</button>
								<% } %>
								<a class="button is-small is-primary" href="/extensions/builder?extid=<%= extensions[i]._id %>">
									<span class="icon is-small">
										<i class="fa fa-pencil"></i>
									</span>
									<span>Edit</span>
								</a>
								<button id="delete-<%= extensions[i]._id %>" class="button is-small is-danger" onclick="GAwesomeUtil.deleteExtension('<%= extensions[i]._id %>'); return false;">
									<span>Delete</span>
									<span class="icon is-small">
										<i class="fa fa-trash"></i>
									</span>
								</button>
							</td>
						</tr>
					<% } %>
				</tbody>
			</table>
		<% } else { %>
			<article class="message">
				<div class="message-header">
					<p>
						<span class="icon">
							<i class="fa fa-meh-o"></i>
						</span>
						Nothing to see here
					</p>
				</div>
				<div class="message-body">
					You haven't published any extensions yet. Head over to the <a href="/extensions/builder">extension builder</a> to get started building one!
				</div>
			</article>
			<br>
		<% } %>
	</div>
	<br>
	<div class="field">
		<p class="control">
			<a class="button" href="/extensions/builder">
				<span class="icon">
					<i class="fa fa-code"></i>
		    	</span>
		    	<span>Build an extension</span>
			</a>
		</p>
	</div>
</form>