<script>
GAwesomeUtil.searchServers = (query) => {
	Turbolinks.visit("/activity/servers?q=" + encodeURIComponent(query) + "&count=<%= pageData.itemsPerPage %>&page=<%= pageData.currentPage %>&sort=<%= pageData.sortOrder %>&category=<%= pageData.selectedCategory %>&publiconly=<%= pageData.isPublicOnly %>");
};

GAwesomeUtil.showActivitySelections = () => {
	document.getElementById("category-select").value = "<%= pageData.selectedCategory %>";
	document.getElementById("public-select").value = "<%= pageData.isPublicOnly %>";
	document.getElementById("sort-select").value = "<%= pageData.sortOrder %>";
	document.getElementById("count-select").value = "<%= pageData.itemsPerPage %>";
};
</script>

<nav class="level">
	<div class="level-left">
		<div class="level-item">
			<span class="select is-primary">
				<select id="category-select" onchange="Turbolinks.visit('/activity/servers?q=<%= pageData.activeSearchQuery %>&count=<%= pageData.itemsPerPage %>&page=<%= pageData.currentPage %>&sort=<%= pageData.sortOrder %>&category=' + this.value + '&publiconly=<%= pageData.isPublicOnly %>');">
					<option value="All">All Categories</option>
					<option>Gaming</option>
					<option>Tech</option>
					<option>Programming</option>
					<option>Community</option>
					<option>Bots</option>
					<option>Other</option>
				</select>
			</span>
		</div>
		<div class="level-item">
			<span class="select is-primary">
				<select id="public-select" onchange="Turbolinks.visit('/activity/servers?q=<%= pageData.activeSearchQuery %>&count=<%= pageData.itemsPerPage %>&page=<%= pageData.currentPage %>&sort=<%= pageData.sortOrder %>&category=<%= pageData.selectedCategory %>&publiconly=' + this.value);">
					<option value="false">Show All Servers</option>
					<option value="true">Public Listings Only</option>
				</select>
			</span>
		</div>
	</div>
	<div class="level-right">
		<div class="level-item">
			<span class="select is-primary">
				<select id="sort-select" onchange="Turbolinks.visit('/activity/servers?q=<%= pageData.activeSearchQuery %>&count=<%= pageData.itemsPerPage %>&page=<%= pageData.currentPage %>&sort=' + this.value + '&category=<%= pageData.selectedCategory %>&publiconly=<%= pageData.isPublicOnly %>');">
					<option value="activity-des">GAB Determined Activity (default)</option>
					<option value="messages-asc">Messages Today (ascending)</option>
					<option value="messages-des">Messages Today (descending)</option>
					<option value="members-asc">Members (ascending)</option>
					<option value="members-des">Members (descending)</option>
				</select>
			</span>
		</div>
		<div class="level-item">
			<div class="field has-addons">
				<div class="control">
				<a id="grid-layout-button" class="button" onclick="GAwesomeUtil.switchActivityLayout('grid');">
					<span class="icon is-small">
						<i class="fa fa-th"></i>
					</span>
					<span>Grid</span>
				</a>
				</div>
				<div class="control">
				<a id="list-layout-button" class="button" onclick="GAwesomeUtil.switchActivityLayout('list');">
					<span class="icon is-small">
						<i class="fa fa-th-list"></i>
					</span>
					<span>List</span>
				</a>
				</div>
			</div>
		</div>
		<div class="level-item">
			<span class="select is-primary">
				<select id="count-select" onchange="Turbolinks.visit('/activity/servers?q=<%= pageData.activeSearchQuery %>&count=' + this.value + '&page=1&sort=<%= pageData.sortOrder %>&category=<%= pageData.selectedCategory %>&publiconly=<%= pageData.isPublicOnly %>');">
					<option value="0">All Items</option>
					<option value="8">8 items/page</option>
					<option value="16">16 items/page</option>
					<option value="24">24 items/page</option>
					<option value="32">32 items/page</option>
					<option value="48">48 items/page</option>
					<option value="64">64 items/page</option>
				</select>
			</span>
		</div>
	</div>
</nav>
<div id="grid-layout" class="container is-hidden">
	<% if (pageData.serverData.length > 0) { %>
		<br>
		<div class="columns">
			<% pageData.serverData.forEach((server, i) => { %>
			<% if (server) { %>
				<div class="column is-one-quarter">
					<center>
						<div class="card" style="text-align: left;">
							<div class="card-image">
								<figure class="image is-square">
									<img src="<%= server.icon %>" alt=":(">
								</figure>
							</div>
							<div id="cardContent-<%= server.id %>" class="card-content" style="max-height: 255px;overflow-y: scroll;">
								<div class="columns">
									<div class="column">
									<h5 class="title is-5"><%= server.name %></h5>
										<h5 class="subtitle is-5"><%= server.category %></h5>
									</div>
									<% if (isMaintainer) { %>
										<div class="column is-one-fifth">
											<button class="delete is-pulled-right" onclick="GAwesomeUtil.activityBanGuild('<%= server.id %>');" title='Remove "<%= server.name %>" from the activity page'></button>
										</div>
									<% } %>
								</div>
								<div class="level is-mobile">
									<div class="level-item has-text-centered">
										<div>
											<p class="heading">Members</p>
											<p class="title"><%= server.members %></p>
										</div>
									</div>
									<div class="level-item has-text-centered">
										<div>
											<p class="heading">Message<%= server.messages === 1 ? "" : "s" %></p>
											<p class="title"><%= server.messages %></p>
										</div>
									</div>
									<div class="level-item has-text-centered">
										<div>
											<p class="heading">Created</p>
											<p class="title" title="<%= server.rawCreated %>"><%= server.relativeCreated %>d</p>
										</div>
									</div>
								</div>

								<div class="media">
									<div class="media-left">
										<figure class="image is-32x32">
											<img src="<%= server.owner.avatar %>" alt="<%= server.owner.id %>">
										</figure>
									</div>
									<div class="media-content">
										<p class="title is-5"><%= server.owner.name %></p>
										<p class="subtitle is-6">@<%= server.owner.username %></p>
									</div>
								</div>

								<% if (server.description) { %>
									<div class="content">
										<%- server.description %>
									</div>
								<% } %>

								<% if (server.invite_link) { %>
									<div class="content">
										Use <code><%= server.command_prefix %>help</code> to learn how to use GAwesomeBot on <%= server.name %>
									</div>
								<% } %>
							</div>
							<% if (server.invite_link) { %>
								<footer class="card-footer">
									<a class="card-footer-item" href="<%= server.invite_link %>">Join Server</a>
								</footer>
							<% } %>
						</div>
					</center>
				</div>
				<% } %>
				<% if (i % 4 === 3 && i !== pageData.serverData.length - 1 && i !== 0) { %>
					</div>
					<div class="columns">
				<% } %>
			<% }); %>
		</div>
	<% } %>
</div>
<div id="list-layout" class="container is-hidden">
	<% if (pageData.serverData.length > 0) { %>
		<div style="overflow-x: scroll;">
			<table class="table is-fullwidth is-hoverable is-striped">
				<thead>
					<tr>
						<th>Name</th>
						<th>Members</th>
						<th>Messages</th>
						<th>Owner</th>
					</tr>
				</thead>
				<tbody>
					<% pageData.serverData.forEach(server => { %>
						<tr class="modal-button" data-target="#server-<%= server.id %>-modal">
							<td>
								<img class="image is-24x24" src="<%= server.icon %>" alt="<%= server.id %>" style="border-radius: 100%; float: left;">
								&nbsp;
								<%= server.name %>
								<% if (server.invite_link) { %>
									&nbsp;
									<span class="tag is-primary" title="Click to learn more">
										Public
									</span>
								<% } %>
							</td>
							<td>
								<%= server.members %>
							</td>
							<td>
								<%= server.messages %>
							</td>
							<td>
								<img class="image is-24x24" src="<%= server.owner.avatar %>" alt="<%= server.owner.id %>" style="border-radius: 100%; float: left;">
								&nbsp;
								@<%= server.owner.username %>
							</td>
						</tr>
						<div id="server-<%= server.id %>-modal" class="modal">
							<div class="modal-background"></div>
							<div class="modal-container">
								<div class="modal-content">
									<div class="box">
										<article class="media">
											<div class="media-left">
												<figure class="image is-96x96">
													<img src="<%= server.icon %>" alt="<%= server.id %>">
												</figure>
											</div>
											<div class="media-content">
												<div class="content">
													<h4 class="title is-4">
														<%= server.name %> <small class="subtitle is-5"><%= server.category %></small>
													</h4>
													<h6 class="subtitle is-6">
														Owned by @<%= server.owner.username %>, created <span title="<%= server.rawCreated %>"><%= server.relativeCreated %> day<%= server.relativeCreated === 1 ? "" : "s" %> ago</span>
													</h6>
													<% if (server.description) { %>
														<%- server.description %>
													<% } %>
													<% if (server.invite_link) { %>
														Use <code><%= server.command_prefix %>help</code> to learn how to use GAwesomeBot on <%= server.name %>
													<% } %>
												</div>
												<% if (server.invite_link) { %>
													<a class="button is-primary" href="<%= server.invite_link %>">
														Join Server
													</a>
												<% } %>
											</div>
										</article>
									</div>
								</div>
							</div>
							<button class="modal-close"></button>
						</div>
					<% }); %>
				</tbody>
			</table>
		</div>
	<% } %>
</div>
<% if (pageData.serverData.length === 0) { %>
	<% const resetUrl = "/activity/servers?q=&count=" + pageData.itemsPerPage + "&page=1&sort=" + pageData.sortOrder + "&category=All&publiconly=false"; %>
	<%- include("../partials/no-results", { isSearchQuery: true, activeSearchQuery: pageData.activeSearchQuery, resetUrl, mode: pageData.mode }) %>
<% } %>
<% if (pageData.numPages > 1) { %>
	<br>
	<nav class="pagination is-centered">
		<ul class="pagination-list">
			<% if (pageData.currentPage > 2) { %>
				<li>
					<a class="button pagination-link" href="/activity/servers?q=<%= pageData.activeSearchQuery %>&count=<%= pageData.itemsPerPage %>&page=1&sort=<%= pageData.sortOrder %>&category=<%= pageData.selectedCategory %>&publiconly=<%= pageData.isPublicOnly %>">
						1
					</a>
				</li>
			<% } %>
			<% if (pageData.currentPage > 3) { %>
				<li>
					<span class="pagination-ellipsis">&hellip;</span>
				</li>
			<% } %>
			<% if (pageData.currentPage > 1) { %>
				<li>
					<a class="button pagination-link" href="/activity/servers?q=<%= pageData.activeSearchQuery %>&count=<%= pageData.itemsPerPage %>&page=<%= pageData.currentPage - 1 %>&sort=<%= pageData.sortOrder %>&category=<%= pageData.selectedCategory %>&publiconly=<%= pageData.isPublicOnly %>">
						<%= pageData.currentPage - 1 %>
					</a>
				</li>
			<% } %>
			<li>
				<a class="button is-primary pagination-link" href="/activity/servers?q=<%= pageData.activeSearchQuery %>&count=<%= pageData.itemsPerPage %>&page=<%= pageData.currentPage %>&sort=<%= pageData.sortOrder %>&category=<%= pageData.selectedCategory %>&publiconly=<%= pageData.isPublicOnly %>">
					<%= pageData.currentPage %>
				</a>
			</li>
			<% if (pageData.currentPage < pageData.numPages) { %>
				<li>
					<a class="button pagination-link" href="/activity/servers?q=<%= pageData.activeSearchQuery %>&count=<%= pageData.itemsPerPage %>&page=<%= pageData.currentPage+1 %>&sort=<%= pageData.sortOrder %>&category=<%= pageData.selectedCategory %>&publiconly=<%= pageData.isPublicOnly %>">
						<%= pageData.currentPage + 1 %>
					</a>
				</li>
			<% } %>
			<% if (pageData.currentPage < pageData.numPages - 2) { %>
				<li>
					<span class="pagination-ellipsis">&hellip;</span>
				</li>
			<% } %>
			<% if (pageData.currentPage < pageData.numPages - 1) { %>
				<li>
					<a class="button pagination-link" href="/activity/servers?q=<%= pageData.activeSearchQuery %>&count=<%= pageData.itemsPerPage %>&page=<%= pageData.numPages %>&sort=<%= pageData.sortOrder %>&category=<%= pageData.selectedCategory %>&publiconly=<%= pageData.isPublicOnly %>">
						<%= pageData.numPages %>
					</a>
				</li>
			<% } %>
		</ul>
	</nav>
<% } %>
