<script>
function searchServers(query) {
	window.location.href = "/activity/servers?q=" + encodeURIComponent(query) + "&count=<%= data.itemsPerPage %>&page=<%= data.currentPage %>&sort=<%= data.sortOrder %>&category=<%= data.selectedCategory %>&publiconly=<%= data.isPublicOnly %>";
}

document.getElementById("search-button").href = "javascript:searchServers(document.getElementById('search-input').value);";
document.getElementById("search-input").setAttribute("list", "servers");
document.getElementById("search-input").onkeydown = function() {
	if(event.keyCode==13) {
		searchServers(this.value);
	}
};
mediaStyle(mq);
$.getJSON("/serverlist", function(data) {
	searchInputAutocomplete = new autoComplete({
	    selector: "#search-input",
	    minChars: 2,
	    source: function(q, res) {
	    	q = q.toLowerCase();
	       	res(data.filter(function(a) {
	       		return a.toLowerCase().indexOf(q)>-1;
	       	}));
	    }
	});
});

function showSelections() {
	document.getElementById("category-select").value = "<%= data.selectedCategory %>";
	document.getElementById("public-select").value = "<%= data.isPublicOnly %>";
	document.getElementById("sort-select").value = "<%= data.sortOrder %>";
	document.getElementById("count-select").value = "<%= data.itemsPerPage %>";
}

function switchLayout(type) {
	if(!type) {
		type = localStorage.getItem("servers-layout");
		if(!type) {
			localStorage.setItem("servers-layout", "grid");
			type = localStorage.getItem("servers-layout");
		}
	} else {
		localStorage.setItem("servers-layout", type);
	}
	switch(type) {
		case "grid":
			$("#grid-layout-button").addClass("is-primary");
			$("#list-layout").addClass("is-hidden");
			$("#grid-layout").removeClass("is-hidden");
			$("#list-layout-button").removeClass("is-primary");
			break;
		case "list":
			$("#list-layout-button").addClass("is-primary");
			$("#list-layout").removeClass("is-hidden");
			$("#grid-layout-button").removeClass("is-primary");
			$("#grid-layout").addClass("is-hidden");
			break;
	}
}
</script>

<nav class="level">
	<div class="level-left">
		<div class="level-item">
			<span class="select">
				<select id="category-select" onchange="window.location.href = '/activity/servers?q=<%= activeSearchQuery %>&count=<%= data.itemsPerPage %>&page=<%= data.currentPage %>&sort=<%= data.sortOrder %>&category=' + this.value + '&publiconly=<%= data.isPublicOnly %>';">
					<option value="All">All Categories</option>
					<option>Gaming</option>
					<option>Tech</option>
					<option>Programming</option>
					<option>Community</option>
					<option>Bots</option>
					<option>Other</option>
				</select>
			</span>
		</div>
		<div class="level-item">
			<span class="select">
				<select id="public-select" onchange="window.location.href = '/activity/servers?q=<%= activeSearchQuery %>&count=<%= data.itemsPerPage %>&page=<%= data.currentPage %>&sort=<%= data.sortOrder %>&category=<%= data.selectedCategory %>&publiconly=' + this.value;">
					<option value="false">Show All Servers</option>
					<option value="true">Public Listings Only</option>
				</select>
			</span>
		</div>
	</div>
	<div class="level-right">
		<div class="level-item">
			<span class="select">
				<select id="sort-select" onchange="window.location.href = '/activity/servers?q=<%= activeSearchQuery %>&count=<%= data.itemsPerPage %>&page=<%= data.currentPage %>&sort=' + this.value + '&category=<%= data.selectedCategory %>&publiconly=<%= data.isPublicOnly %>';">
					<option value="messages-asc">Messages Today (ascending)</option>
					<option value="messages-des">Messages Today (descending)</option>
					<option value="members-asc">Members (ascending)</option>
					<option value="members-des">Members (descending)</option>
				</select>
			</span>
		</div>
		<div class="level-item">
			<p class="control has-addons">
				<a id="grid-layout-button" class="button" onclick="switchLayout('grid');">
					<span class="icon is-small">
						<i class="fa fa-th"></i>
					</span>
					<span>Grid</span>
				</a>
				<a id="list-layout-button" class="button" onclick="switchLayout('list');">
					<span class="icon is-small">
						<i class="fa fa-th-list"></i>
					</span>
					<span>List</span>
				</a>
			</p>
		</div>
		<div class="level-item">
			<span class="select">
				<select id="count-select" onchange="window.location.href = '/activity/servers?q=<%= activeSearchQuery %>&count=' + this.value + '&page=1&sort=<%= data.sortOrder %>&category=<%= data.selectedCategory %>&publiconly=<%= data.isPublicOnly %>';">
					<option value="0">All Items</option>
					<option value="8">8 items/page</option>
					<option value="16">16 items/page</option>
					<option value="24">24 items/page</option>
					<option value="32">32 items/page</option>
					<option value="48">48 items/page</option>
					<option value="64">64 items/page</option>
				</select>
			</span>
		</div>
	</div>
</nav>
<div id="grid-layout" class="container is-hidden">
	<% if(data.serverData.length>0) { %>
		<br>
		<div class="columns">
			<% for(var i=0; i<data.serverData.length; i++) { %>
				<div class="column is-one-quarter">
					<center>
						<div class="card" style="text-align: left;">
							<div class="card-image">
								<figure class="image is-square">
									<img src="<%= data.serverData[i].icon %>" alt="<%= data.serverData[i].id %>">
								</figure>
							</div>
							<div class="card-content" style="max-height: 255px;overflow-y: scroll;">
								<h3 class="title is-3"><%= data.serverData[i].name %></h3>
								<h5 class="subtitle is-5"><%= data.serverData[i].category %></h5>
								<div class="level is-mobile">
									<div class="level-item has-text-centered">
										<p class="heading">Members</p>
										<p class="title"><%= data.serverData[i].members %></p>
									</div>
									<div class="level-item has-text-centered">
										<p class="heading">Message<%= data.serverData[i].messages==1 ? "" : "s" %></p>
										<p class="title"><%= data.serverData[i].messages %></p>
									</div>
									<div class="level-item has-text-centered">
										<p class="heading">Created</p>
										<p class="title" title="<%= data.serverData[i].rawCreated %>"><%= data.serverData[i].relativeCreated %>d</p>
									</div>
								</div>

								<div class="media">
									<div class="media-left">
										<figure class="image is-32x32">
											<img src="<%= data.serverData[i].owner.avatar %>" alt="<%= data.serverData[i].owner.id %>">
										</figure>
									</div>
									<div class="media-content">
										<p class="title is-5"><%= data.serverData[i].owner.name %></p>
										<p class="subtitle is-6">@<%= data.serverData[i].owner.username %></p>
									</div>
								</div>

								<div class="content">
									<% if(data.serverData[i].description) { %>
										<%- data.serverData[i].description %>
									<% } %>
								</div>

								<% if(data.serverData[i].invite_link) { %>
									<div class="content">
										Use <code><%= data.serverData[i].command_prefix %>help</code> to learn how to use AwesomeBot on <%= data.serverData[i].name %>
									</div>
								<% } %>
							</div>
							<% if(data.serverData[i].invite_link) { %>
								<footer class="card-footer">
									<a class="card-footer-item" href="<%= data.serverData[i].invite_link %>">Join Server</a>
								</footer>
							<% } %>
						</div>
					</center>
				</div>

				<% if(i % 4==3 && i!=data.serverData.length-1 && i!=0) { %>
					</div>
					<div class="columns">
				<% } %>
			<% } %>
		</div>
	<% } %>
</div>
<div id="list-layout" class="container is-hidden">
	<% if(data.serverData.length>0) { %>
		<div style="overflow-x: scroll;">
			<table class="table">
				<thead>
					<tr>
						<th>Name</th>
						<th>Members</th>
						<th>Messages</th>
						<th>Owner</th>
					</tr>
				</thead>
				<tbody>
					<% for(var i=0; i<data.serverData.length; i++) { %>
						<tr class="modal-button" data-target="#server-<%= i %>-modal">
							<td>
								<img class="image is-24x24" src="<%= data.serverData[i].icon %>" alt="<%= data.serverData[i].id %>" style="border-radius: 100%;float:left;">
								&nbsp;
								<%= data.serverData[i].name %>
								<% if(data.serverData[i].invite_link) { %>
									&nbsp;
									<span class="tag is-primary" title="Click to learn more">
										Public
									</span>
								<% } %>
							</td>
							<td>
								<%= data.serverData[i].members %>
							</td>
							<td>
								<%= data.serverData[i].messages %>
							</td>
							<td>
								<img class="image is-24x24" src="<%= data.serverData[i].owner.avatar %>" alt="<%= data.serverData[i].owner.id %>" style="border-radius: 100%;float:left;">
								&nbsp;
								@<%= data.serverData[i].owner.username %>
							</td>
						</tr>
						<div id="server-<%= i %>-modal" class="modal">
							<div class="modal-background"></div>
							<div class="modal-container">
								<div class="modal-content">
									<div class="box">
										<article class="media">
											<div class="media-left">
												<figure class="image is-96x96">
													<img src="<%= data.serverData[i].icon %>" alt="<%= data.serverData[i].id %>">
												</figure>
											</div>
											<div class="media-content" style="overflow-x: scroll;">
												<div class="content">
													<h4 class="title is-4">
														<%= data.serverData[i].name %> <small class="subtitle is-5"><%= data.serverData[i].category %></small>
													</h4>
													<h6 class="subtitle is-6">
														Owned by @<%= data.serverData[i].owner.username %>, created <span title="<%= data.serverData[i].rawCreated %>"><%= data.serverData[i].relativeCreated %> day<%= data.serverData[i].relativeCreated==1 ? "" : "s" %> ago</span>
													</h6>
													<% if(data.serverData[i].description) { %>
														<%- data.serverData[i].description %>
													<% } %>
													<% if(data.serverData[i].invite_link) { %>
														Use <code><%= data.serverData[i].command_prefix %>help</code> to learn how to use AwesomeBot on <%= data.serverData[i].name %>
													<% } %>
												</div>
												<% if(data.serverData[i].invite_link) { %>
													<a class="button is-primary" href="<%= data.serverData[i].invite_link %>">
														Join Server
													</a>
												<% } %>
											</div>
										</article>
									</div>
								</div>
							</div>
							<button class="modal-close"></button>
						</div>
					<% } %>
				</tbody>
			</table>
		</div>
	<% } %>
</div>
<% if(data.serverData.length==0) { %>
	<% var resetUrl = "/activity/servers?q=&count=" + data.itemsPerPage + "&page=1&sort=" + data.sortOrder + "&category=All&publiconly=false"; %>
	<% include ../partials/no-results %> 
<% } %>
<% if(data.numPages>1) { %>
	<br>
	<nav class="pagination">
		<ul>
			<% if(data.currentPage>2) { %>
				<li>
					<a class="button" href="/activity/servers?q=<%= activeSearchQuery %>&count=<%= data.itemsPerPage %>&page=1&sort=<%= data.sortOrder %>&category=<%= data.selectedCategory %>&publiconly=<%= data.isPublicOnly %>">
						1
					</a>
				</li>
			<% } %>
			<% if(data.currentPage>3) { %>
				<li>
					<span>...</span>
				</li>
			<% } %>
			<% if(data.currentPage>1) { %>
				<li>
					<a class="button" href="/activity/servers?q=<%= activeSearchQuery %>&count=<%= data.itemsPerPage %>&page=<%= data.currentPage-1 %>&sort=<%= data.sortOrder %>&category=<%= data.selectedCategory %>&publiconly=<%= data.isPublicOnly %>">
						<%= data.currentPage-1 %>
					</a>
				</li>
			<% } %>
			<li>
				<a class="button is-primary" href="/activity/servers?q=<%= activeSearchQuery %>&count=<%= data.itemsPerPage %>&page=<%= data.currentPage %>&sort=<%= data.sortOrder %>&category=<%= data.selectedCategory %>&publiconly=<%= data.isPublicOnly %>">
					<%= data.currentPage %>
				</a>
			</li>
			<% if(data.currentPage<data.numPages) { %>
				<li>
					<a class="button" href="/activity/servers?q=<%= activeSearchQuery %>&count=<%= data.itemsPerPage %>&page=<%= data.currentPage+1 %>&sort=<%= data.sortOrder %>&category=<%= data.selectedCategory %>&publiconly=<%= data.isPublicOnly %>">
						<%= data.currentPage+1 %>
					</a>
				</li>
			<% } %>
			<% if(data.currentPage<data.numPages-2) { %>
				<li>
					<span>...</span>
				</li>
			<% } %>
			<% if(data.currentPage<data.numPages-1) { %>
				<li>
					<a class="button" href="/activity/servers?q=<%= activeSearchQuery %>&count=<%= data.itemsPerPage %>&page=<%= data.numPages %>&sort=<%= data.sortOrder %>&category=<%= data.selectedCategory %>&publiconly=<%= data.isPublicOnly %>">
						<%= data.numPages %>
					</a>
				</li>
			<% } %>
		</ul>
	</nav>
<% } %>