<style type="text/css">
@media screen and (max-width: 768px) {
	.profile-image {
		width: 72px !important;
	}
}
@media screen and (min-width: 769px) {
	.profile-image {
		width: 256px;
	}
}
</style>
<script>
function searchUsers(query) {
	window.location.href = "/activity/users?q=" + encodeURIComponent(query);
}

document.getElementById("search-button").href = "javascript:searchUsers(document.getElementById('search-input').value);";
document.getElementById("search-input").onkeydown = function() {
	if(event.keyCode==13) {
		searchUsers(this.value);
	}
};
mediaStyle(mq);
$.getJSON("/userlist", function(data) {
	searchInputAutocomplete = new autoComplete({
	    selector: "#search-input",
	    minChars: 2,
	    source: function(q, res) {
	    	q = q.toLowerCase();
	       	res(data.filter(function(a) {
	       		return a.toLowerCase().indexOf(q)>-1;
	       	}));
	    }
	});
});
</script>

<% if((activeSearchQuery && data.userProfile) || !activeSearchQuery) { %>
	<nav class="columns">
		<div class="column is-8 is-offset-2">
			<% if(activeSearchQuery) { %>
				<div class="box">
					<article class="media">
						<div class="media-left">
			    			<img class="image profile-image" style="width: 256px;" src="<%= data.userProfile.avatar %>" alt="<%= data.userProfile.id %>">
		    			</div>
			    		<div class="media-content">
							<h2 class="title">
								<%= data.userProfile.username %><small class="subtitle is-4">#<%= data.userProfile.discriminator %></small>
								<span class="tag is-medium <%= data.userProfile.statusColor %>"><%= data.userProfile.status.charAt(0).toUpperCase() + data.userProfile.status.slice(1) %></span>
							</h2>
							<h5 class="subtitle">
								Joined Discord <span title="<%= data.userProfile.rawAccountAge %>"><%= data.userProfile.roundedAccountAge %></span>
							</h5>
							<div class="content">
								<h4 class="title is-3">
									<% if(data.userProfile.game) { %>
										<span class="icon is-medium">
											<i class="fa fa-gamepad"></i>
										</span>
										<span>Playing <strong><%= data.userProfile.game %></strong></span>
										<br>
									<% } %>
									<% if(data.userProfile.status!="online" && data.userProfile.rawLastSeen && data.userProfile.lastSeen) { %>
										<span class="icon is-medium">
											<i class="fa fa-clock-o"></i>
										</span>
										<span>Seen <span title="<%= data.userProfile.rawLastSeen %>"><strong><%= data.userProfile.lastSeen %></strong></span></span>
										<br>
									<% } %>
									<span class="icon is-medium">
										<i class="fa fa-user"></i>
									</span>
									<span>ID <strong><%= data.userProfile.id %></strong></span>
									<br>
									<% if(data.userProfile.mutualServers) { %>
										<span class="modal-button" data-target="#mutual-servers-modal">
									<% } %>
									<span class="icon is-medium">
										<i class="fa fa-list-ul"></i>
									</span>
									<span><strong><%= data.userProfile.mutualServerCount %></strong> server<%= data.userProfile.mutualServerCount==1 ? "" : "s" %> with AwesomeBot</span>
								</h4>

								<h3 class="title is-3">
									<% if(data.userProfile.isAfk) { %>
										<% if(data.userProfile.afkMessage) { %>
											<span class="modal-button" data-target="#afk-message-modal">
										<% } %>
										<span class="icon is-medium">
											<i class="fa fa-keyboard-o"></i>
										</span>
										<span>Currently <strong>AFK</strong></span>
										<% if(data.userProfile.afkMessage) { %>
											</span>
											<div id="afk-message-modal" class="modal">
												<div class="modal-background"></div>
												<div class="modal-container">
													<div class="modal-content">
														<div class="box">
															<p class="title is-3"><%= data.userProfile.afkMessage %></p>
														</div>
													</div>
												</div>
												<button class="modal-close"></button>
											</div>
										<% } %>
										<br>
									<% } %>
									<span class="icon is-medium">
										<i class="fa fa-star"></i>
									</span>
									<span>Has <strong><%= data.userProfile.points %></strong> point<%= data.userProfile.points==1 ? "" : "s" %></span>
									<br>
									<% if(data.userProfile.pastNames && data.userProfile.pastNames.length>0) { %>
										<span class="modal-button" data-target="#past-names-modal">
									<% } %>
									<span class="icon is-medium">
										<i class="fa fa-font"></i>
									</span>
									<span><strong><%= data.userProfile.pastNameCount %></strong> past name<%= data.userProfile.pastNameCount==1 ? "" : "s" %></span>
									<% if(data.userProfile.pastNames && data.userProfile.pastNames.length>0) { %>
										</span>
										<div id="past-names-modal" class="modal">
											<div class="modal-background"></div>
											<div class="modal-container">
												<div class="modal-content">
													<div class="box">
														<% for(var i=0; i<data.userProfile.pastNames.length; i++) { %>
															<p class="title is-3"><%= data.userProfile.pastNames[i] %></p>
														<% } %>
													</div>
												</div>
											</div>
											<button class="modal-close"></button>
										</div>
									<% } %>
								</h3>

								<% if(data.userProfile.profileFields) { %>
									<h4 class="title is-4">
										<% for(var key in data.userProfile.profileFields) { %>
											<span><%= key.charAt(0).toUpperCase() + key.slice(1) %>: <%- data.userProfile.profileFields[key] %></span>
											<br>
										<% } %>
									</h4>
								<% } %>
							</div>
			    		</div>
					</article>
				</div>
				<script>
				document.getElementById("frame").style.backgroundImage = "url('<%= data.userProfile.backgroundImage %>')";document.getElementById("frame").style.backgroundSize = "cover";document.getElementById("frame").style.paddingBottom = "200px"
				</script>
				<% if(data.userProfile.mutualServers) { %>
					<div id="mutual-servers-modal" class="modal">
						<div class="modal-background"></div>
						<div class="modal-container">
							<div class="modal-content">
								<div class="box">
									<% for(var i=0; i<data.userProfile.mutualServers.length; i++) { %>
										<article class="media">
											<div class="media-left">
												<img class="image is-64x64" src="<%= data.userProfile.mutualServers[i].icon %>" alt="<%= data.userProfile.mutualServers[i].id %>">
											</div>
											<div class="media-content">
												<p class="title is-3"><%= data.userProfile.mutualServers[i].name %></p>
												<p class="subtitle is-5">Owned by @<%= data.userProfile.mutualServers[i].owner %></p>
											</div>
											<a class="media-right" href="/activity/servers?q=<%= data.userProfile.mutualServers[i].name %>">
												<span class="icon is-medium">
													<i class="fa fa-info"></i>
												</span>
											</a>
										</article>
									<% } %>
								</div>
							</div>
						</div>
						<button class="modal-close"></button>
					</div>
				<% } %>
			<% } else { %>
				<script>
				document.getElementById("frame").style.backgroundImage = "";document.getElementById("frame").style.paddingBottom = "";
				</script>
				<div class="box hero">
					<article class="media">
			    		<div class="media-content">
							<h2 class="title">
								<span class="icon is-medium">
									<i class="fa fa-star"></i>
								</span>
								<span><strong><%= data.totalPoints %></strong> point<%= data.totalPoints==1 ? "" : "s" %> total</span>
							</h2>
							<h2 class="title">
								<span class="icon is-medium">
									<i class="fa fa-user"></i>
								</span>
								<span><strong><%= data.publicProfilesCount %></strong> public user profile<%= data.publicProfilesCount==1 ? "" : "s" %></span>
							</h2>
							<h2 class="title">
								<span class="icon is-medium">
									<i class="fa fa-bell"></i>
								</span>
								<span><strong><%= data.reminderCount %></strong> reminder<%= data.reminderCount==1 ? "" : "s" %> set</span>
							</h2>
						</div>
				    	<div class="media-right">
				    		<img class="image profile-image" style="width: 132px;border-radius: 100%;" src="/static/img/profile.png">
			    		</div>
					</article>
				</div>
			<% } %>
		</div>
	</nav>
<% } else { %>
	<script>
	document.getElementById("frame").style.backgroundImage = "";document.getElementById("frame").style.paddingBottom = "";
	</script>
	<% var resetUrl = "/activity/users?q="; %>
	<% include ../partials/no-results %>
<% } %>
