<style>
ins {
    text-decoration: none;
    background-color: #23d160;
    color: white;
}

del {
    text-decoration: none;
    background-color: #ff3860;
    color: white;
}
</style>

<% pageData.updates.forEach((revision, i) => { %>
    <article class="media">
        <div class="media-left">
            <img class="image is-48x48" src="<%= revision.responsibleUser.avatar %>" alt="<%= revision.responsibleUser.id %>">
        </div>
        <div class="media-content">
            <p class="title is-4">@<%= revision.responsibleUser.name %></p>
            <p class="subtitle is-embedded-message" title="<%= revision.rawTimestamp %>"><%= revision.relativeTimestamp %></p>
            <code id="page-update-<%= i %>-diff" class="box" style="display: none;margin-top: 10px;">
                <%- revision.diffHtml || "Page created. No diff available." %>
            </code>
        </div>
        <div class="media-right">
            <a onclick="$('#page-update-<%= i %>-diff').slideToggle(86);">
                <span class="icon is-large">
                    <i class="fa fa-<%= revision.diffHtml ? 'info-circle' : 'pencil' %> fa-2x"></i>
                </span>
            </a>
        </div>
    </article>
<% }); %>
