<style>
ins {
    text-decoration: none;
    background-color: #23d160;
    color: white;
}

del {
    text-decoration: none;
    background-color: #ff3860;
    color: white;
}
</style>

<% for(var i=data.updates.length-1; i>=0; i--) { %>
    <article class="media">
        <div class="media-left">
            <img class="image is-48x48" src="<%= data.updates[i].responsibleUser.avatar %>" alt="<%= data.updates[i].responsibleUser.id %>">
        </div>
        <div class="media-content">
            <p class="title is-4">@<%= data.updates[i].responsibleUser.name %></p>
            <p class="subtitle" title="<%= data.updates[i].rawTimestamp %>" style="margin-bottom: 0px;"><%= data.updates[i].relativeTimestamp %></p>
            <code id="page-update-<%= i %>-diff" class="box" style="display: none;margin-top: 10px;">
                <%- data.updates[i].diffHtml || "Page created. No diff available." %>
            </code>
        </div>
        <div class="media-right">
            <a onclick="$('#page-update-<%= i %>-diff').slideToggle(86);">
                <span class="icon is-medium">
                    <i class="fa fa-<%= data.updates[i].diffHtml ? 'info-circle' : 'pencil' %>"></i>
                </span>
            </a>
        </div>
    </article>
<% } %>
