<form id="form" action="/wiki/<%= pageData.title ? pageData.title : "new" %>/edit" method="post">
	<div class="field">
    	<label class="label">Title</label>
		<p class="control">
			<input id="composer-title" name="title" class="input is-primary" type="text" value="<%= pageData.title %>" minlength="3" maxlength="100" required<%- pageData.title ? ` disabled` : ""%>>
			<span class="help"><%- pageData.title ? "Wiki Articles can't be renamed. Download this Article's content, and upload it to a new Article if you wish to switch names." : "Name of the page. Make it short and avoid special characters."%></span>
		</p>
	</div>
	<div class="field">
    	<label class="label">
        	Content
			&nbsp;
    	</label>
    	<span class="help" style="float: right;margin-right: 15px; margin-top: 10px;">Editor by <strong>SimpleMDE</strong></span>
    	<p class="control">
			<textarea name="content" id="composer-content" class="textarea is-primary" placeholder="Post content, in markdown" required><%= pageData.content %></textarea>
    	</p>
	</div>
	<br>
	<br>
	<div class="field">
		<a class="button is-small" onclick="GAwesomeUtil.downloadContent();">
			<span class="icon is-small">
				<i class="fa fa-download"></i>
			</span>
			<span>Download</span>
		</a>
		<label class="button is-small">
			<span class="icon is-small">
				<i class="fa fa-upload"></i>
			</span>
			<span>Upload</span>
			<input id="composer-content-upload" type="file" onchange="GAwesomeUtil.uploadContent(this.files, 'wiki');" style="display: none;">
		</label>
	</div>
    <% var formButtonsUnsaved = false; %>
    <% include ../partials/form-buttons %>
    <% include ../partials/form-buttons-bar %>
</form>
